type=overlay

[preview]
type=model
x=135
y=16
width=35
height=32
model=obj_iron_battleaxe
zoom=624
xan=521
yan=1288

[com_1]
type=text
x=4
y=10
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00

[name]
type=text
x=52
y=10
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00

[com_3]
type=text
x=4
y=40
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000

[heavy101]
type=layer
x=4
y=60
width=145
height=190

[heavy0]
layer=heavy101
type=graphic
x=5
y=2
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[heavy3]
layer=heavy101
type=graphic
x=6
y=123
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,3
graphic=combatboxes,0
activegraphic=combatboxes,1

[heavy2]
layer=heavy101
type=graphic
x=6
y=83
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[heavy1]
layer=heavy101
type=graphic
x=5
y=43
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[com_9]
layer=heavy101
type=graphic
x=23
y=129
width=34
height=24
graphic=combaticons,4

[com_10]
layer=heavy101
type=graphic
x=22
y=7
width=34
height=24
graphic=combaticons,6

[com_11]
layer=heavy101
type=graphic
x=22
y=50
width=34
height=24
graphic=combaticons,5

[com_12]
layer=heavy101
type=graphic
x=22
y=89
width=34
height=24
graphic=combaticons,5

[com_13]
layer=heavy101
type=text
x=78
y=2
width=25
height=11
font=p11_full
shadowed=yes
text=Chop
colour=0xFFFF00

[com_14]
layer=heavy101
type=text
x=78
y=44
width=28
height=11
font=p11_full
shadowed=yes
text=Slash
colour=0xFFFF00

[com_15]
layer=heavy101
type=text
x=79
y=84
width=32
height=11
font=p11_full
shadowed=yes
text=Smash
colour=0xFFFF00

[com_16]
layer=heavy101
type=text
x=79
y=124
width=26
height=11
font=p11_full
shadowed=yes
text=Block
colour=0xFFFF00

[com_17]
layer=heavy101
type=text
x=78
y=14
width=50
height=11
font=p11_full
text=(Accurate)
colour=0xFFFF00

[com_18]
layer=heavy101
type=text
x=78
y=96
width=64
height=11
font=p11_full
text=(Aggressive)
colour=0xFFFF00

[com_19]
layer=heavy101
type=text
x=78
y=56
width=64
height=11
font=p11_full
text=(Aggressive)
colour=0xFFFF00

[com_20]
layer=heavy101
type=text
x=79
y=136
width=58
height=11
font=p11_full
text=(Defensive)
colour=0xFFFF00

[com_21]
type=text
x=82
y=86
width=34
height=11
font=p11_full
text=(Slash)
colour=0xFFFF00

[com_22]
type=text
x=82
y=128
width=34
height=11
font=p11_full
text=(Slash)
colour=0xFFFF00

[com_23]
type=text
x=83
y=208
width=34
height=11
font=p11_full
text=(Slash)
colour=0xFFFF00

[com_24]
type=text
x=82
y=168
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00

[specbar_layer]
type=layer
x=17
y=231
width=158
height=24
hide=yes

[specbar]
layer=specbar_layer
type=rect
x=0
y=1
buttontype=normal
width=156
height=23
colour=0xFFFF00
option=Use @gre@Special Attack

[com_26]
layer=specbar_layer
type=graphic
x=131
y=1
width=25
height=30
graphic=steelborder,1

[com_27]
layer=specbar_layer
type=graphic
x=0
y=1
width=25
height=30
graphic=steelborder,0

[com_28]
layer=specbar_layer
type=graphic
x=6
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_29]
layer=specbar_layer
type=graphic
x=42
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_30]
layer=specbar_layer
type=graphic
x=78
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_31]
layer=specbar_layer
type=graphic
x=114
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_32]
layer=specbar_layer
type=graphic
x=5
y=3
width=36
height=36
graphic=miscgraphics,3

[com_33]
layer=specbar_layer
type=graphic
x=41
y=3
width=36
height=36
graphic=miscgraphics,3

[com_34]
layer=specbar_layer
type=graphic
x=77
y=3
width=36
height=36
graphic=miscgraphics,3

[com_35]
layer=specbar_layer
type=graphic
x=112
y=3
width=36
height=36
graphic=miscgraphics,3

[com_36]
layer=specbar_layer
type=graphic
x=115
y=3
width=36
height=36
graphic=miscgraphics,3

[com_38]
layer=specbar_layer
type=model
x=5
y=8
width=146
height=9
model=com_i3
zoom=1153
xan=500

[com_39]
layer=specbar_layer
type=model
x=3
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,99
model=com_i4
zoom=1153
xan=500

[com_40]
layer=specbar_layer
type=model
x=18
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,199
model=com_i4
zoom=1153
xan=500

[com_41]
layer=specbar_layer
type=model
x=33
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,299
model=com_i4
zoom=1153
xan=500

[com_42]
layer=specbar_layer
type=model
x=47
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,399
model=com_i4
zoom=1153
xan=500

[com_43]
layer=specbar_layer
type=model
x=61
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,499
model=com_i4
zoom=1153
xan=500

[com_44]
layer=specbar_layer
type=model
x=75
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,599
model=com_i4
zoom=1153
xan=500

[com_45]
layer=specbar_layer
type=model
x=90
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,699
model=com_i4
zoom=1153
xan=500

[com_46]
layer=specbar_layer
type=model
x=104
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,799
model=com_i4
zoom=1153
xan=500

[com_47]
layer=specbar_layer
type=model
x=118
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,899
model=com_i4
zoom=1153
xan=500

[com_48]
layer=specbar_layer
type=model
x=132
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,999
model=com_i4
zoom=1153
xan=500

[com_49]
layer=specbar_layer
type=text
x=20
y=7
width=117
height=11
script1op1=pushvar,sa_attack
script1=gt,0
font=p11_full
text=S P E C I A L  A T T A C K
activetext=@yel@S P E C I A L  A T T A C K
colour=0x000010
