type=overlay

[com_0]
type=text
x=4
y=10
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00

[name]
type=text
x=52
y=10
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00

[com_2]
type=text
x=4
y=40
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000

[unarmed101]
type=layer
x=4
y=60
width=145
height=190

[unarmed0]
layer=unarmed101
type=graphic
x=5
y=5
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[unarmed2]
layer=unarmed101
type=graphic
x=5
y=97
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[unarmed1]
layer=unarmed101
type=graphic
x=5
y=51
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[com_7]
layer=unarmed101
type=graphic
x=22
y=11
width=34
height=24
graphic=combaticons,14

[com_8]
layer=unarmed101
type=graphic
x=21
y=57
width=34
height=24
graphic=combaticons,15

[com_9]
layer=unarmed101
type=graphic
x=22
y=103
width=34
height=24
graphic=combaticons,16

[com_10]
layer=unarmed101
type=text
x=78
y=5
width=30
height=11
font=p11_full
shadowed=yes
text=Punch
colour=0xFFFF00

[com_11]
layer=unarmed101
type=text
x=78
y=51
width=19
height=11
font=p11_full
shadowed=yes
text=Kick
colour=0xFFFF00

[com_12]
layer=unarmed101
type=text
x=78
y=97
width=26
height=11
font=p11_full
shadowed=yes
text=Block
colour=0xFFFF00

[com_13]
layer=unarmed101
type=text
x=78
y=18
width=50
height=11
font=p11_full
text=(Accurate)
colour=0xFFFF00

[com_14]
layer=unarmed101
type=text
x=78
y=64
width=64
height=11
font=p11_full
text=(Aggressive)
colour=0xFFFF00

[com_15]
layer=unarmed101
type=text
x=78
y=110
width=58
height=11
font=p11_full
text=(Defensive)
colour=0xFFFF00

[com_16]
type=text
x=82
y=90
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00

[com_17]
type=text
x=82
y=136
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00

[com_18]
type=text
x=82
y=182
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00

[specbar_layer]
type=layer
x=17
y=211
width=158
height=24
hide=yes

[specbar]
layer=specbar_layer
type=rect
x=0
y=1
buttontype=normal
width=156
height=23
colour=0xFFFF00
option=Use @gre@Special Attack

[com_20]
layer=specbar_layer
type=graphic
x=131
y=1
width=25
height=30
graphic=steelborder,1

[com_21]
layer=specbar_layer
type=graphic
x=0
y=1
width=25
height=30
graphic=steelborder,0

[com_22]
layer=specbar_layer
type=graphic
x=6
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_23]
layer=specbar_layer
type=graphic
x=42
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_24]
layer=specbar_layer
type=graphic
x=78
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_25]
layer=specbar_layer
type=graphic
x=114
y=-15
width=36
height=36
graphic=miscgraphics,3

[com_26]
layer=specbar_layer
type=graphic
x=5
y=3
width=36
height=36
graphic=miscgraphics,3

[com_27]
layer=specbar_layer
type=graphic
x=41
y=3
width=36
height=36
graphic=miscgraphics,3

[com_28]
layer=specbar_layer
type=graphic
x=77
y=3
width=36
height=36
graphic=miscgraphics,3

[com_29]
layer=specbar_layer
type=graphic
x=112
y=3
width=36
height=36
graphic=miscgraphics,3

[com_30]
layer=specbar_layer
type=graphic
x=115
y=3
width=36
height=36
graphic=miscgraphics,3

[com_32]
layer=specbar_layer
type=model
x=5
y=8
width=146
height=9
model=com_i3
zoom=1153
xan=500

[com_33]
layer=specbar_layer
type=model
x=3
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,99
model=com_i4
zoom=1153
xan=500

[com_34]
layer=specbar_layer
type=model
x=18
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,199
model=com_i4
zoom=1153
xan=500

[com_35]
layer=specbar_layer
type=model
x=33
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,299
model=com_i4
zoom=1153
xan=500

[com_36]
layer=specbar_layer
type=model
x=47
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,399
model=com_i4
zoom=1153
xan=500

[com_37]
layer=specbar_layer
type=model
x=61
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,499
model=com_i4
zoom=1153
xan=500

[com_38]
layer=specbar_layer
type=model
x=75
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,599
model=com_i4
zoom=1153
xan=500

[com_39]
layer=specbar_layer
type=model
x=90
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,699
model=com_i4
zoom=1153
xan=500

[com_40]
layer=specbar_layer
type=model
x=104
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,799
model=com_i4
zoom=1153
xan=500

[com_41]
layer=specbar_layer
type=model
x=118
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,899
model=com_i4
zoom=1153
xan=500

[com_42]
layer=specbar_layer
type=model
x=132
y=8
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,999
model=com_i4
zoom=1153
xan=500

[com_43]
layer=specbar_layer
type=text
x=20
y=7
width=117
height=11
script1op1=pushvar,sa_attack
script1=gt,0
font=p11_full
text=S P E C I A L  A T T A C K
activetext=@yel@S P E C I A L  A T T A C K
colour=0x000010
