[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[com_2]
type=model
x=207
y=13
width=64
height=96
zoom=400

[com_3]
type=text
x=189
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Cook All

[com_4]
type=text
x=189
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Cook X

[com_5]
type=text
x=189
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Cook 5

[com_6]
type=text
x=189
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Cook 1

[com_7]
type=text
x=0
y=0
width=479
height=17
center=yes
font=q8_full
text=How many would you like to cook?
colour=0x800000
