[com_0]
type=rect
x=392
y=3
width=113
height=23
trans=192
fill=yes
colour=0x402000

[com_1]
type=text
x=396
y=7
width=74
height=14
font=b12_full
shadowed=yes
text=Windspeed:
colour=0xFF8800

[com_2]
type=text
x=475
y=6
width=24
height=14
font=p12_full
shadowed=yes
text=high
colour=0xFFFF66
