[com_0]
type=model
x=210
y=136
width=32
height=32
model=com_i336
zoom=881
xan=410
yan=2046

[com_1]
type=model
x=217
y=137
width=32
height=32
model=com_i365
zoom=824
xan=436
yan=7

[com_2]
type=text
x=169
y=72
width=154
height=19
center=yes
font=q8_full
shadowed=yes
text=Rune-Draw
colour=0xE9AB73

[com_3]
type=text
x=407
y=7
buttontype=close
width=93
height=17
font=q8_full
shadowed=yes
text=Close Window
colour=0xE9AB73
overcolour=0xFFFFFF

[com_4]
type=text
x=71
y=108
width=78
height=17
font=q8_full
shadowed=yes
text=Your Score
colour=0xC47630

[com_5]
type=text
x=314
y=111
width=111
height=17
font=q8_full
shadowed=yes
text=opponent's Score
colour=0xC47630

[com_8]
type=model
x=72
y=145
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_9]
type=model
x=105
y=145
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_10]
type=model
x=140
y=137
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_11]
type=model
x=173
y=131
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_12]
type=model
x=205
y=125
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_13]
type=model
x=69
y=172
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_14]
type=model
x=104
y=175
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_15]
type=model
x=139
y=167
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_16]
type=model
x=172
y=158
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_17]
type=model
x=204
y=154
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_18]
type=model
x=267
y=157
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_19]
type=model
x=301
y=158
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_20]
type=model
x=336
y=151
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_21]
type=model
x=370
y=142
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_22]
type=model
x=402
y=143
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_23]
type=model
x=266
y=188
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_24]
type=model
x=302
y=190
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_25]
type=model
x=337
y=183
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_26]
type=model
x=371
y=172
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_27]
type=model
x=404
y=172
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[com_28]
type=text
x=86
y=73
width=58
height=17
script1op1=push_varbit,varbit_230
center=yes
font=q8_full
text=DEATH
colour=0xFFFFFF

[com_29]
type=text
x=61
y=244
width=81
height=18
center=yes
font=q8_full
shadowed=yes
text=Text
colour=0xC47630

[com_30]
type=text
x=350
y=78
width=58
height=17
script1op1=push_varbit,varbit_231
center=yes
font=q8_full
text=DEATH
colour=0xFFFFFF

[com_31]
type=text
x=348
y=253
width=85
height=19
center=yes
font=q8_full
shadowed=yes
text=Text
colour=0xC47630

[com_32]
type=layer
x=171
y=208
width=62
height=43

[com_6]
layer=com_32
type=text
x=14
y=15
buttontype=normal
width=37
height=17
font=q8_full
shadowed=yes
text=Draw
colour=0xC47630
overcolour=0xFFFFFF
option=Draw

[com_33]
type=layer
x=170
y=256
width=63
height=43

[com_7]
layer=com_33
type=text
x=15
y=12
buttontype=normal
width=30
height=17
font=q8_full
shadowed=yes
text=Hold
colour=0xC47630
overcolour=0xFFFFFF
option=Hold
