[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[com_1]
type=model
x=260
y=166
width=32
height=32
model=com_i336
zoom=886
xan=416
yan=1023

[com_2]
type=model
x=222
y=145
width=32
height=32
model=com_i367
zoom=962
xan=450
yan=2039

[com_3]
type=text
x=406
y=11
buttontype=close
width=93
height=17
font=q8_full
shadowed=yes
text=Close Window
colour=0xE9AB73
overcolour=0xFFFFFF

[com_4]
type=text
x=331
y=149
width=39
height=14
font=p12_full
shadowed=yes
text=8-East
colour=0xFFFFFF

[com_5]
type=text
x=332
y=130
width=47
height=14
font=p12_full
shadowed=yes
text=6-South
colour=0xFFFFFF

[com_6]
type=text
x=330
y=169
width=46
height=14
center=yes
font=p12_full
shadowed=yes
text=2-North
colour=0xFFFFFF

[com_7]
type=text
x=330
y=188
width=38
height=14
font=p12_full
shadowed=yes
text=4-East
colour=0xFFFFFF

[com_8]
type=text
x=330
y=207
width=55
height=14
font=p12_full
shadowed=yes
text=22-South
colour=0xFFFFFF

[com_9]
type=text
x=298
y=107
width=119
height=14
font=b12_full
shadowed=yes
text=X marks the start!
colour=0xE9AB73

[com_10]
type=text
x=188
y=74
width=129
height=17
font=q8_full
shadowed=yes
text=Dragontooth Island
colour=0xFFFF00
