[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[com_1]
type=text
x=237
y=59
width=28
height=14
center=yes
font=b12_full
shadowed=yes
text=Text
colour=0xFFFFFF
