[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=73
y=304
width=36
height=36
graphic=miscgraphics,3

[com_45]
type=graphic
x=109
y=304
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=145
y=304
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=181
y=304
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=217
y=304
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=253
y=304
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=289
y=304
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=325
y=304
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=361
y=304
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=397
y=304
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=433
y=304
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=304
width=36
height=36
graphic=miscgraphics,3

[com_69]
type=graphic
x=12
y=295
width=25
height=30
graphic=steelborder,2

[com_70]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_71]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_72]
type=graphic
x=475
y=295
width=25
height=30
graphic=steelborder,3

[com_73]
type=graphic
x=439
y=304
width=36
height=36
graphic=miscgraphics,3

[com_74]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_88]
type=graphic
x=455
y=69
width=25
height=30
graphic=steelborder,1

[com_89]
type=graphic
x=455
y=275
width=25
height=30
graphic=steelborder,3

[com_90]
type=graphic
x=323
y=69
width=25
height=30
graphic=steelborder,0

[com_91]
type=graphic
x=323
y=275
width=25
height=30
graphic=steelborder,2

[com_92]
type=graphic
x=459
y=99
width=36
height=36
graphic=steelborder2,1

[com_93]
type=graphic
x=459
y=135
width=36
height=36
graphic=steelborder2,1

[com_94]
type=graphic
x=459
y=171
width=36
height=36
graphic=steelborder2,1

[com_95]
type=graphic
x=459
y=207
width=36
height=36
graphic=steelborder2,1

[com_96]
type=graphic
x=459
y=243
width=36
height=36
graphic=steelborder2,1

[com_97]
type=graphic
x=419
y=284
width=36
height=36
graphic=miscgraphics,3

[com_98]
type=graphic
x=383
y=284
width=36
height=36
graphic=miscgraphics,3

[com_99]
type=graphic
x=308
y=99
width=36
height=36
graphic=miscgraphics,2

[com_100]
type=graphic
x=347
y=284
width=36
height=36
graphic=miscgraphics,3

[com_101]
type=graphic
x=308
y=135
width=36
height=36
graphic=miscgraphics,2

[com_102]
type=graphic
x=308
y=171
width=36
height=36
graphic=miscgraphics,2

[com_103]
type=graphic
x=308
y=207
width=36
height=36
graphic=miscgraphics,2

[com_104]
type=graphic
x=308
y=243
width=36
height=36
graphic=miscgraphics,2

[com_105]
type=graphic
x=419
y=54
width=36
height=36
graphic=steelborder2,0

[com_106]
type=graphic
x=383
y=54
width=36
height=36
graphic=steelborder2,0

[com_107]
type=graphic
x=347
y=54
width=36
height=36
graphic=steelborder2,0

[com_108]
type=graphic
x=244
y=100
width=51
height=82
graphic=keys,0

[com_109]
type=rect
x=329
y=75
width=145
height=224
fill=yes

[com_110]
type=text
x=8
y=29
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=BANK  PIN  SETTINGS
colour=0xFFFF00

[com_111]
type=text
x=460
y=29
buttontype=close
width=28
height=17
center=yes
font=q8_full
shadowed=yes
text=Exit
colour=0xFF0000
overcolour=0xFFFFFF

[com_112]
type=text
x=328
y=75
width=147
height=19
center=yes
font=q8_full
shadowed=yes
text=Messages
colour=0xFFFF00

[com_113]
type=text
x=328
y=107
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_114]
type=text
x=328
y=123
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_115]
type=text
x=328
y=139
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_116]
type=text
x=328
y=155
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_117]
type=text
x=328
y=171
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_118]
type=text
x=328
y=187
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_119]
type=text
x=328
y=203
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_120]
type=text
x=328
y=219
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_121]
type=text
x=328
y=235
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_122]
type=text
x=328
y=251
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_123]
type=text
x=328
y=267
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_124]
type=text
x=328
y=283
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F

[com_125]
type=graphic
x=32
y=230
width=25
height=30
graphic=steelborder,0

[com_126]
type=graphic
x=32
y=275
width=25
height=30
graphic=steelborder,2

[com_127]
type=graphic
x=271
y=275
width=25
height=30
graphic=steelborder,3

[com_128]
type=graphic
x=271
y=230
width=25
height=30
graphic=steelborder,1

[com_129]
type=graphic
x=57
y=215
width=36
height=36
graphic=steelborder2,0

[com_130]
type=graphic
x=93
y=215
width=36
height=36
graphic=steelborder2,0

[com_131]
type=graphic
x=129
y=215
width=36
height=36
graphic=steelborder2,0

[com_132]
type=graphic
x=165
y=215
width=36
height=36
graphic=steelborder2,0

[com_133]
type=graphic
x=201
y=215
width=36
height=36
graphic=steelborder2,0

[com_134]
type=graphic
x=237
y=215
width=36
height=36
graphic=steelborder2,0

[com_135]
type=graphic
x=57
y=284
width=36
height=36
graphic=miscgraphics,3

[com_136]
type=graphic
x=93
y=284
width=36
height=36
graphic=miscgraphics,3

[com_137]
type=graphic
x=129
y=284
width=36
height=36
graphic=miscgraphics,3

[com_138]
type=graphic
x=165
y=284
width=36
height=36
graphic=miscgraphics,3

[com_139]
type=graphic
x=201
y=284
width=36
height=36
graphic=miscgraphics,3

[com_140]
type=graphic
x=237
y=284
width=36
height=36
graphic=miscgraphics,3

[com_141]
type=graphic
x=17
y=251
width=36
height=36
graphic=miscgraphics,2

[com_142]
type=graphic
x=275
y=245
width=36
height=36
graphic=steelborder2,1

[com_143]
type=layer
x=38
y=236
width=252
height=63

[com_144]
layer=com_143
type=graphic
x=0
y=0
width=104
height=104
graphic=tex_red,0

[com_145]
layer=com_143
type=graphic
x=104
y=0
width=104
height=104
graphic=tex_red,0

[com_146]
layer=com_143
type=graphic
x=208
y=0
width=90
height=98
graphic=tex_red,0

[com_147]
layer=com_143
type=text
x=0
y=11
buttontype=normal
width=252
height=17
center=yes
font=q8_full
shadowed=yes
text=Set a PIN
colour=0xFFFF00
overcolour=0xFF7F00

[com_148]
layer=com_143
type=text
x=0
y=34
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
overcolour=0xFF7F00

[com_149]
layer=com_143
type=text
x=0
y=4
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your PIN
colour=0xFFFF00
overcolour=0xFF7F00

[com_150]
layer=com_143
type=text
x=0
y=23
buttontype=normal
width=253
height=15
center=yes
font=q8_full
shadowed=yes
text=Delete your PIN
colour=0xFFFF00
overcolour=0xFF7F00

[com_151]
layer=com_143
type=text
x=0
y=41
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
overcolour=0xFF7F00

[com_152]
layer=com_143
type=text
x=0
y=23
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Cancel the PIN that's pending
colour=0xFFFF00
overcolour=0xFF7F00

[com_153]
type=graphic
x=32
y=69
width=25
height=30
graphic=steelborder,0

[com_154]
type=graphic
x=192
y=69
width=25
height=30
graphic=steelborder,1

[com_155]
type=graphic
x=156
y=54
width=36
height=36
graphic=steelborder2,0

[com_156]
type=graphic
x=120
y=54
width=36
height=36
graphic=steelborder2,0

[com_157]
type=graphic
x=84
y=54
width=36
height=36
graphic=steelborder2,0

[com_158]
type=graphic
x=48
y=54
width=36
height=36
graphic=steelborder2,0

[com_159]
type=graphic
x=32
y=164
width=25
height=30
graphic=steelborder,2

[com_160]
type=graphic
x=192
y=164
width=25
height=30
graphic=steelborder,3

[com_161]
type=graphic
x=17
y=99
width=36
height=36
graphic=miscgraphics,2

[com_162]
type=graphic
x=17
y=135
width=36
height=36
graphic=miscgraphics,2

[com_163]
type=graphic
x=196
y=99
width=36
height=36
graphic=steelborder2,1

[com_164]
type=graphic
x=196
y=135
width=36
height=36
graphic=steelborder2,1

[com_165]
type=graphic
x=57
y=173
width=36
height=36
graphic=miscgraphics,3

[com_166]
type=graphic
x=93
y=173
width=36
height=36
graphic=miscgraphics,3

[com_167]
type=graphic
x=129
y=173
width=36
height=36
graphic=miscgraphics,3

[com_168]
type=graphic
x=165
y=173
width=36
height=36
graphic=miscgraphics,3

[com_173]
type=layer
x=38
y=75
width=173
height=113

[com_169]
layer=com_173
type=graphic
x=0
y=0
width=104
height=104
graphic=tex_brown,0

[com_170]
layer=com_173
type=graphic
x=104
y=0
width=104
height=104
graphic=tex_brown,0

[com_171]
layer=com_173
type=graphic
x=0
y=104
width=104
height=104
graphic=tex_brown,0

[com_172]
layer=com_173
type=graphic
x=104
y=104
width=104
height=104
graphic=tex_brown,0

[com_174]
layer=com_173
type=text
x=0
y=9
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Your Bank PIN status:
colour=0xFFFFFF

[com_175]
layer=com_173
type=text
x=0
y=34
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=Unknown
colour=0xFF0000

[com_176]
layer=com_173
type=text
x=0
y=63
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Recovery delay:
colour=0xFFFFFF

[com_177]
layer=com_173
type=text
x=0
y=88
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=X days
colour=0xFF0000

[com_236]
type=text
x=22
y=210
width=286
height=14
font=p12_full
shadowed=yes
text=Use the buttons below to change your PIN settings
colour=0xFFFF00

[com_237]
type=layer
x=8
y=8
width=496
height=320
hide=yes

[com_178]
layer=com_237
type=rect
x=10
y=18
width=476
height=293
fill=yes

[com_179]
layer=com_237
type=text
x=1
y=76
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=Do you really wish to do that?
colour=0xFF0000

[com_180]
layer=com_237
type=graphic
x=102
y=125
width=36
height=36
graphic=steelborder2,0

[com_181]
layer=com_237
type=graphic
x=66
y=125
width=36
height=36
graphic=steelborder2,0

[com_182]
layer=com_237
type=graphic
x=30
y=125
width=36
height=36
graphic=steelborder2,0

[com_183]
layer=com_237
type=graphic
x=9
y=125
width=36
height=36
graphic=steelborder2,0

[com_184]
layer=com_237
type=graphic
x=138
y=125
width=36
height=36
graphic=steelborder2,0

[com_185]
layer=com_237
type=graphic
x=138
y=155
width=36
height=36
graphic=miscgraphics,3

[com_186]
layer=com_237
type=graphic
x=354
y=125
width=36
height=36
graphic=steelborder2,0

[com_187]
layer=com_237
type=graphic
x=390
y=125
width=36
height=36
graphic=steelborder2,0

[com_188]
layer=com_237
type=graphic
x=426
y=125
width=36
height=36
graphic=steelborder2,0

[com_189]
layer=com_237
type=graphic
x=450
y=125
width=36
height=36
graphic=steelborder2,0

[com_190]
layer=com_237
type=graphic
x=102
y=155
width=36
height=36
graphic=miscgraphics,3

[com_191]
layer=com_237
type=graphic
x=66
y=155
width=36
height=36
graphic=miscgraphics,3

[com_192]
layer=com_237
type=graphic
x=30
y=155
width=36
height=36
graphic=miscgraphics,3

[com_193]
layer=com_237
type=graphic
x=9
y=155
width=36
height=36
graphic=miscgraphics,3

[com_194]
layer=com_237
type=graphic
x=354
y=155
width=36
height=36
graphic=miscgraphics,3

[com_195]
layer=com_237
type=graphic
x=390
y=155
width=36
height=36
graphic=miscgraphics,3

[com_196]
layer=com_237
type=graphic
x=426
y=155
width=36
height=36
graphic=miscgraphics,3

[com_197]
layer=com_237
type=graphic
x=451
y=155
width=36
height=36
graphic=miscgraphics,3

[com_198]
layer=com_237
type=graphic
x=174
y=125
width=36
height=36
graphic=steelborder2,0

[com_199]
layer=com_237
type=graphic
x=210
y=125
width=36
height=36
graphic=steelborder2,0

[com_200]
layer=com_237
type=graphic
x=246
y=125
width=36
height=36
graphic=steelborder2,0

[com_201]
layer=com_237
type=graphic
x=282
y=125
width=36
height=36
graphic=steelborder2,0

[com_202]
layer=com_237
type=graphic
x=318
y=125
width=36
height=36
graphic=steelborder2,0

[com_203]
layer=com_237
type=graphic
x=174
y=155
width=36
height=36
graphic=miscgraphics,3

[com_204]
layer=com_237
type=graphic
x=210
y=155
width=36
height=36
graphic=miscgraphics,3

[com_205]
layer=com_237
type=graphic
x=246
y=155
width=36
height=36
graphic=miscgraphics,3

[com_206]
layer=com_237
type=graphic
x=282
y=155
width=36
height=36
graphic=miscgraphics,3

[com_207]
layer=com_237
type=graphic
x=318
y=155
width=36
height=36
graphic=miscgraphics,3

[com_208]
layer=com_237
type=graphic
x=138
y=227
width=36
height=36
graphic=miscgraphics,3

[com_209]
layer=com_237
type=graphic
x=174
y=227
width=36
height=36
graphic=miscgraphics,3

[com_210]
layer=com_237
type=graphic
x=210
y=227
width=36
height=36
graphic=miscgraphics,3

[com_211]
layer=com_237
type=graphic
x=246
y=227
width=36
height=36
graphic=miscgraphics,3

[com_212]
layer=com_237
type=graphic
x=282
y=227
width=36
height=36
graphic=miscgraphics,3

[com_213]
layer=com_237
type=graphic
x=318
y=227
width=36
height=36
graphic=miscgraphics,3

[com_214]
layer=com_237
type=graphic
x=138
y=196
width=36
height=36
graphic=steelborder2,0

[com_215]
layer=com_237
type=graphic
x=174
y=196
width=36
height=36
graphic=steelborder2,0

[com_216]
layer=com_237
type=graphic
x=210
y=196
width=36
height=36
graphic=steelborder2,0

[com_217]
layer=com_237
type=graphic
x=246
y=196
width=36
height=36
graphic=steelborder2,0

[com_218]
layer=com_237
type=graphic
x=282
y=196
width=36
height=36
graphic=steelborder2,0

[com_219]
layer=com_237
type=graphic
x=318
y=196
width=36
height=36
graphic=steelborder2,0

[com_220]
layer=com_237
type=graphic
x=354
y=196
width=36
height=36
graphic=steelborder2,0

[com_221]
layer=com_237
type=graphic
x=426
y=196
width=36
height=36
graphic=steelborder2,0

[com_222]
layer=com_237
type=graphic
x=390
y=196
width=36
height=36
graphic=steelborder2,0

[com_223]
layer=com_237
type=graphic
x=66
y=196
width=36
height=36
graphic=steelborder2,0

[com_224]
layer=com_237
type=graphic
x=102
y=196
width=36
height=36
graphic=steelborder2,0

[com_225]
layer=com_237
type=graphic
x=451
y=196
width=36
height=36
graphic=steelborder2,0

[com_226]
layer=com_237
type=graphic
x=354
y=227
width=36
height=36
graphic=miscgraphics,3

[com_227]
layer=com_237
type=graphic
x=390
y=227
width=36
height=36
graphic=miscgraphics,3

[com_228]
layer=com_237
type=graphic
x=426
y=227
width=36
height=36
graphic=miscgraphics,3

[com_229]
layer=com_237
type=graphic
x=451
y=227
width=36
height=36
graphic=miscgraphics,3

[com_230]
layer=com_237
type=graphic
x=9
y=196
width=36
height=36
graphic=steelborder2,0

[com_231]
layer=com_237
type=graphic
x=30
y=196
width=36
height=36
graphic=steelborder2,0

[com_232]
layer=com_237
type=graphic
x=102
y=227
width=36
height=36
graphic=miscgraphics,3

[com_233]
layer=com_237
type=graphic
x=30
y=227
width=36
height=36
graphic=miscgraphics,3

[com_234]
layer=com_237
type=graphic
x=66
y=227
width=36
height=36
graphic=miscgraphics,3

[com_235]
layer=com_237
type=graphic
x=9
y=227
width=36
height=36
graphic=miscgraphics,3

[com_238]
layer=com_237
type=layer
x=9
y=145
width=477
height=26

[com_239]
layer=com_238
type=graphic
x=1
y=1
width=104
height=104
graphic=tex_red,0

[com_240]
layer=com_238
type=graphic
x=105
y=1
width=104
height=104
graphic=tex_red,0

[com_241]
layer=com_238
type=graphic
x=209
y=1
width=104
height=104
graphic=tex_red,0

[com_248]
layer=com_238
type=graphic
x=313
y=1
width=104
height=104
graphic=tex_red,0

[com_249]
layer=com_238
type=graphic
x=417
y=1
width=104
height=104
graphic=tex_red,0

[com_243]
layer=com_237
type=layer
x=9
y=216
width=477
height=26

[com_244]
layer=com_243
type=graphic
x=1
y=1
width=104
height=104
graphic=tex_red,0

[com_245]
layer=com_243
type=graphic
x=105
y=1
width=104
height=104
graphic=tex_red,0

[com_246]
layer=com_243
type=graphic
x=209
y=1
width=104
height=104
graphic=tex_red,0

[com_250]
layer=com_243
type=graphic
x=313
y=1
width=104
height=104
graphic=tex_red,0

[com_251]
layer=com_243
type=graphic
x=417
y=1
width=104
height=104
graphic=tex_red,0

[com_242]
type=text
x=17
y=156
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=Yes, I really want to do that.
colour=0xFFFF00
overcolour=0xFF7F00

[com_247]
type=text
x=17
y=228
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=No, forget I asked.
colour=0xFFFF00
overcolour=0xFF7F00
