[com_0]
type=layer
x=-13
y=-1
width=527
height=340

[com_1]
layer=com_0
type=model
x=101
y=298
width=10
height=14
model=com_i707
anim=canoeing_interface_water
zoom=466
xan=465
yan=1647

[com_6]
layer=com_0
type=model
x=78
y=175
width=36
height=24
model=com_i707
anim=canoeing_interface_water
zoom=400
xan=306
yan=1642

[com_7]
layer=com_0
type=model
x=86
y=61
width=32
height=32
model=com_i707
anim=canoeing_interface_water
zoom=400
xan=189
yan=1654

[com_8]
layer=com_0
type=model
x=183
y=-9
width=32
height=32
model=com_i707
anim=canoeing_interface_water
zoom=400
xan=198
yan=1609

[com_22]
layer=com_0
type=model
x=433
y=31
width=32
height=32
model=com_i708
zoom=344
xan=414
yan=2008

[com_2]
type=layer
x=65
y=31
width=32
height=32

[com_3]
type=model
x=314
y=185
width=32
height=32
model=com_i716
zoom=906
xan=387
yan=2008

[close]
type=text
x=423
y=7
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x999999
overcolour=0xD9E0E2

[com_5]
type=layer
x=420
y=6
buttontype=close
width=80
height=16

[com_13]
type=layer
x=165
y=237
buttontype=normal
width=248
height=36

[com_14]
layer=com_13
type=model
x=189
y=9
width=32
height=32
model=com_i710
activemodel=com_i714
zoom=2954
xan=272
yan=62

[com_27]
layer=com_13
type=text
x=88
y=14
width=70
height=17
font=q8_full
shadowed=yes
text=Lumbridge
colour=0x999999

[com_34]
layer=com_13
type=text
x=82
y=13
buttontype=normal
width=166
height=23
overlayer=com_24
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Travel to Lumbridge.

[com_15]
type=layer
x=164
y=208
buttontype=normal
width=249
height=42

[com_16]
layer=com_15
type=model
x=158
y=-2
width=32
height=32
model=com_i710
activemodel=com_i714
zoom=2776
xan=228
yan=1990

[com_28]
layer=com_15
type=text
x=23
y=5
width=75
height=32
font=q8_full
shadowed=yes
text=Champions \nGuild
activetext= Station
colour=0x999999

[com_35]
layer=com_15
type=text
x=22
y=2
buttontype=normal
width=191
height=26
overlayer=com_25
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Travel to the Champions Guild.

[com_17]
type=layer
x=165
y=174
buttontype=normal
width=222
height=36

[com_18]
layer=com_17
type=model
x=110
y=-3
width=32
height=32
model=com_i710
activemodel=com_i714
zoom=3160
xan=252
yan=1960

[com_29]
layer=com_17
type=text
x=7
y=-2
width=72
height=32
overlayer=com_2
font=q8_full
shadowed=yes
text=Barbarian \n Village
colour=0x999999

[com_36]
layer=com_17
type=text
x=5
y=0
buttontype=normal
width=156
height=30
overlayer=com_26
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Travel to Barbarian Village.

[com_20]
type=layer
x=305
y=271
width=32
height=32

[com_21]
type=layer
x=228
y=101
width=55
height=46

[com_23]
layer=com_21
type=model
x=20
y=3
width=32
height=32
model=com_i717
zoom=428
xan=468
yan=2032

[com_24]
type=layer
x=341
y=237
width=65
height=44
hide=yes

[com_11]
layer=com_24
type=model
x=13
y=9
width=32
height=32
model=com_i714
zoom=2954
xan=272
yan=62

[com_25]
type=layer
x=301
y=206
width=75
height=29
hide=yes

[com_10]
layer=com_25
type=model
x=21
y=0
width=32
height=32
model=com_i714
zoom=2776
xan=228
yan=1990

[com_26]
type=layer
x=247
y=177
width=80
height=30
hide=yes

[com_9]
layer=com_26
type=model
x=28
y=-6
width=32
height=32
model=com_i714
zoom=3160
xan=252
yan=1960

[com_33]
type=layer
x=206
y=74
width=185
height=37

[com_31]
layer=com_33
type=text
x=37
y=3
width=143
height=32
font=q8_full
shadowed=yes
text=Wilderness Pond - \nNo canoe trees here.
colour=0x999999
overcolour=0x990000

[com_32]
layer=com_33
type=model
x=2
y=2
width=36
height=31
model=com_i718
zoom=2704
xan=525
yan=2026

[com_37]
layer=com_33
type=text
x=0
y=0
buttontype=normal
width=180
height=36
overlayer=com_43
font=p12_full
shadowed=yes
colour=0xFFFF00
overcolour=0x990000
option=DANGER: Travel to the Wilderness. There are no canoe trees up there!

[com_38]
type=layer
x=259
y=105
width=124
height=34
overlayer=com_2
hide=yes

[com_39]
layer=com_38
type=text
x=37
y=11
width=84
height=14
font=b12_full
shadowed=yes
text=You are here
colour=0xB86E0D

[com_45]
layer=com_38
type=model
x=2
y=1
width=36
height=31
model=com_i719
zoom=528
xan=567
yan=201

[com_61]
layer=com_38
type=text
x=0
y=0
buttontype=normal
width=145
height=32
font=p12_full
shadowed=yes
colour=0xFFFF00
option=You are in Edgeville.

[com_40]
type=layer
x=165
y=136
buttontype=normal
width=212
height=33

[com_19]
layer=com_40
type=model
x=108
y=-7
width=32
height=32
model=com_i710
activemodel=com_i714
zoom=3160
xan=279
yan=1852

[com_30]
layer=com_40
type=text
x=23
y=6
width=58
height=17
font=q8_full
shadowed=yes
text=Edgeville
colour=0x999999

[com_41]
layer=com_40
type=text
x=19
y=-9
buttontype=normal
width=139
height=38
overlayer=com_42
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Travel to Edgeville.

[com_42]
type=layer
x=251
y=125
width=79
height=38
hide=yes

[com_12]
layer=com_42
type=model
x=22
y=4
width=32
height=32
model=com_i714
zoom=3160
xan=279
yan=1852

[com_43]
type=layer
x=205
y=74
width=186
height=38
hide=yes

[com_44]
layer=com_43
type=text
x=38
y=3
width=143
height=32
font=q8_full
shadowed=yes
text=Wilderness Pond - \nNo canoe trees here.
colour=0x990000
overcolour=0x990000

[com_46]
type=layer
x=248
y=154
width=145
height=32
hide=yes

[com_47]
layer=com_46
type=model
x=6
y=2
width=36
height=31
model=com_i719
zoom=528
xan=567
yan=201

[com_48]
layer=com_46
type=text
x=44
y=9
width=84
height=14
font=b12_full
shadowed=yes
text=You are here
colour=0xB86E0D

[com_60]
layer=com_46
type=text
x=0
y=0
buttontype=normal
width=145
height=32
font=p12_full
shadowed=yes
colour=0xFFFF00
option=You are at the Barbarian Village.

[com_49]
type=layer
x=280
y=189
width=145
height=32
hide=yes

[com_50]
layer=com_49
type=model
x=6
y=2
width=36
height=31
model=com_i719
zoom=528
xan=567
yan=201

[com_51]
layer=com_49
type=text
x=44
y=9
width=84
height=14
font=b12_full
shadowed=yes
text=You are here
colour=0xB86E0D

[com_59]
layer=com_49
type=text
x=0
y=0
buttontype=normal
width=145
height=32
font=p12_full
shadowed=yes
colour=0xFFFF00
option=You are near the Champions Guild.

[com_52]
type=layer
x=281
y=221
width=145
height=32
hide=yes

[com_53]
layer=com_52
type=model
x=14
y=8
width=36
height=31
model=com_i719
zoom=528
xan=567
yan=201

[com_54]
layer=com_52
type=text
x=52
y=15
width=84
height=14
font=b12_full
shadowed=yes
text=You are here
colour=0xB86E0D

[com_58]
layer=com_52
type=text
x=-1
y=0
buttontype=normal
width=145
height=32
font=p12_full
shadowed=yes
colour=0xFFFF00
option=You are in Lumbridge.

[com_55]
type=layer
x=34
y=34
width=203
height=36

[com_56]
type=model
x=45
y=148
width=238
height=44
model=com_i720
zoom=1083
xan=446
yan=2041

[title]
type=text
x=77
y=31
width=115
height=32
overlayer=com_2
center=yes
font=q8_full
shadowed=yes
text=Please Select \nYour Destination
colour=0xC8D1DB
