[com_0]
type=rect
x=0
y=0
width=514
height=335
fill=yes
colour=0x2A1E06

[com_1]
type=model
x=246
y=97
width=38
height=37
model=com_i101
zoom=613
xan=295
yan=1986

[com_2]
type=text
x=195
y=216
width=23
height=17
font=q8_full
shadowed=yes
text=Ape
colour=0xF3CC99

[com_3]
type=text
x=344
y=20
width=56
height=17
font=q8_full
shadowed=yes
text=Asgarnia
colour=0xF3CC99

[com_4]
type=text
x=265
y=99
width=56
height=17
font=q8_full
shadowed=yes
text=Karamja
colour=0xF3CC99

[com_5]
type=text
x=237
y=79
width=55
height=17
font=q8_full
shadowed=yes
text=Crandor
colour=0xF3CC99

[com_6]
type=text
x=188
y=46
width=56
height=17
font=q8_full
shadowed=yes
text=Entrana
colour=0xF3CC99

[com_7]
type=text
x=323
y=50
width=31
height=17
font=q8_full
shadowed=yes
text=Port
colour=0xF3CC99

[com_8]
type=text
x=319
y=65
width=38
height=17
font=q8_full
shadowed=yes
text=Sarim
colour=0xF3CC99

[com_9]
type=model
x=356
y=55
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_10]
type=model
x=236
y=44
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_11]
type=model
x=332
y=116
width=32
height=32
model=com_i102
zoom=1500
xan=390
yan=1833

[com_12]
type=model
x=101
y=125
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_13]
type=text
x=78
y=130
width=31
height=17
font=q8_full
shadowed=yes
text=Port
colour=0xF3CC99

[com_14]
type=text
x=64
y=144
width=55
height=17
font=q8_full
shadowed=yes
text=Khazard
colour=0xF3CC99

[com_15]
type=text
x=314
y=125
width=26
height=17
font=q8_full
shadowed=yes
text=Ship
colour=0xF3CC99

[com_16]
type=text
x=310
y=141
width=33
height=17
font=q8_full
shadowed=yes
text=Yard
colour=0xF3CC99

[com_17]
type=model
x=114
y=88
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_18]
type=model
x=185
y=160
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_19]
type=text
x=213
y=157
width=36
height=17
font=q8_full
shadowed=yes
text=Cairn
colour=0xF3CC99

[com_20]
type=text
x=218
y=171
width=23
height=17
font=q8_full
shadowed=yes
text=Isle
colour=0xF3CC99

[com_21]
type=model
x=197
y=75
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_22]
type=text
x=176
y=94
width=70
height=17
font=q8_full
shadowed=yes
text=Brimhaven
colour=0xF3CC99

[com_23]
type=text
x=107
y=62
width=64
height=17
font=q8_full
shadowed=yes
text=Ardougne
colour=0xF3CC99

[com_24]
type=model
x=246
y=66
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_25]
type=text
x=12
y=8
width=185
height=17
font=q8_full
shadowed=yes
text=You Journey on the ship....
colour=0xC4A135

[com_26]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,1
activemodel=obj_grandtree_warship
activeanim=sarim_entrana
zoom=613
xan=292
yan=1989

[com_27]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,2
activemodel=obj_grandtree_warship
activeanim=entrana_sarim
zoom=613
xan=292
yan=1989

[com_28]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,3
activemodel=obj_grandtree_warship
activeanim=sarim_crandor
zoom=613
xan=292
yan=1989

[com_29]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,4
activemodel=obj_grandtree_warship
activeanim=crandor_sarim
zoom=613
xan=292
yan=1989

[com_30]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,5
activemodel=obj_grandtree_warship
activeanim=sarim_karamja
zoom=613
xan=292
yan=1989

[com_31]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,6
activemodel=obj_grandtree_warship
activeanim=karamja_sarim
zoom=613
xan=292
yan=1989

[com_32]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,7
activemodel=obj_grandtree_warship
activeanim=sp_attackglow_quick
zoom=613
xan=292
yan=1985

[com_33]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,8
activemodel=obj_grandtree_warship
activeanim=seq_637
zoom=613
xan=292
yan=1985

[com_34]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,9
activemodel=obj_grandtree_warship
zoom=613
xan=292
yan=1989

[com_35]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,10
activemodel=obj_grandtree_warship
activeanim=cairn_khazzard
zoom=485
xan=292
yan=1989

[com_36]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,11
activemodel=obj_grandtree_warship
activeanim=khazzard_trawler
zoom=613
xan=296
yan=1988

[com_37]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,12
activemodel=obj_grandtree_warship
activeanim=trawler_khazzard
zoom=613
xan=296
yan=1988

[com_38]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,13
activemodel=obj_grandtree_warship
activeanim=cairn_sarim
zoom=613
xan=292
yan=1989

[com_39]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,14
activemodel=obj_grandtree_warship
activeanim=sarim_voidknight
zoom=613
xan=295
yan=1988

[com_40]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,15
activemodel=obj_grandtree_warship
activeanim=voidknight_sarim
zoom=613
xan=295
yan=1986

[com_41]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,16
activemodel=com_i103
activeanim=ogre_boat_feldip_to_tai
zoom=613
xan=288
yan=1989

[com_42]
type=model
x=246
y=97
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,17
activemodel=com_i104
activeanim=ogre_boat_tai_to_feldip
zoom=613
xan=288
yan=1989

[com_43]
type=model
x=289
y=80
width=32
height=32
model=com_i102
zoom=1372
xan=306
yan=199

[com_44]
type=text
x=196
y=232
width=27
height=17
font=q8_full
shadowed=yes
text=Atoll
colour=0xF3CC99

[com_45]
type=model
x=164
y=259
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_46]
type=model
x=70
y=181
width=32
height=32
model=com_i102
zoom=1500
xan=308
yan=198

[com_47]
type=text
x=58
y=198
width=38
height=17
font=q8_full
shadowed=yes
text=Feldip
colour=0xF3CC99

[com_48]
type=text
x=77
y=215
width=27
height=17
font=q8_full
shadowed=yes
text=Hills
colour=0xF3CC99

[com_51]
type=layer
x=8
y=8
width=305
height=20
hide=yes

[com_50]
layer=com_51
type=text
x=3
y=1
width=247
height=17
font=q8_full
shadowed=yes
text=The ogres travel back with the goods
colour=0xC4A135

[com_52]
type=layer
x=9
y=8
width=305
height=20
hide=yes

[com_49]
layer=com_52
type=text
x=1
y=2
width=301
height=17
font=q8_full
shadowed=yes
text=The ogres follow the scent of the chompy.... 
colour=0xC4A135
