[com_0]
type=model
x=227
y=162
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_2]
type=model
x=150
y=229
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_3]
type=model
x=165
y=49
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_4]
type=model
x=340
y=62
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_5]
type=model
x=228
y=115
width=32
height=32
model=com_i700
zoom=2279
xan=512

[com_6]
type=model
x=321
y=250
width=47
height=34
model=com_i111
zoom=531
xan=512
yan=1556

[com_7]
type=model
x=358
y=130
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_8]
type=model
x=260
y=146
width=32
height=32
model=com_i32
zoom=1215
xan=512
yan=1778

[com_9]
type=model
x=260
y=202
width=32
height=32
model=com_i700
zoom=2279
xan=512

[com_10]
type=model
x=187
y=59
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_11]
type=model
x=297
y=140
width=32
height=32
model=com_i700
zoom=1383
xan=512

[com_12]
type=model
x=213
y=248
width=32
height=32
model=com_i701
zoom=2023
xan=512
