[com_20]
type=layer
x=34
y=275
width=504
height=66

[com_0]
layer=com_20
type=rect
x=35
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,1
fill=yes
activecolour=0x8080FF

[com_1]
layer=com_20
type=rect
x=56
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,2
fill=yes
activecolour=0x8080FF

[com_2]
layer=com_20
type=rect
x=77
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,3
fill=yes
activecolour=0x8080FF

[com_3]
layer=com_20
type=rect
x=98
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,4
fill=yes
activecolour=0x8080FF

[com_4]
layer=com_20
type=rect
x=119
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,5
fill=yes
activecolour=0x8080FF

[com_5]
layer=com_20
type=rect
x=140
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,6
fill=yes
activecolour=0x8080FF

[com_6]
layer=com_20
type=rect
x=161
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,7
fill=yes
activecolour=0x8080FF

[com_7]
layer=com_20
type=rect
x=182
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,8
fill=yes
activecolour=0x8080FF

[com_8]
layer=com_20
type=rect
x=203
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,9
fill=yes
activecolour=0x8080FF

[com_9]
layer=com_20
type=rect
x=224
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,10
fill=yes
activecolour=0x8080FF

[com_10]
layer=com_20
type=rect
x=245
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,11
fill=yes
activecolour=0x8080FF

[com_11]
layer=com_20
type=rect
x=266
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,12
fill=yes
activecolour=0x8080FF

[com_12]
layer=com_20
type=rect
x=287
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,13
fill=yes
activecolour=0x8080FF

[com_13]
layer=com_20
type=rect
x=308
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,14
fill=yes
activecolour=0x8080FF

[com_14]
layer=com_20
type=rect
x=329
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,15
fill=yes
activecolour=0x8080FF

[com_15]
layer=com_20
type=rect
x=350
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,16
fill=yes
activecolour=0x8080FF

[com_16]
layer=com_20
type=rect
x=371
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,17
fill=yes
activecolour=0x8080FF

[com_17]
layer=com_20
type=rect
x=392
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,18
fill=yes
activecolour=0x8080FF

[com_18]
layer=com_20
type=rect
x=413
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,19
fill=yes
activecolour=0x8080FF

[com_19]
layer=com_20
type=rect
x=434
y=25
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,20
fill=yes
activecolour=0x8080FF

[com_21]
type=text
x=25
y=298
width=42
height=14
font=p12_full
shadowed=yes
text=% Done
colour=0x888888

[com_22]
type=text
x=214
y=313
width=134
height=14
font=p12_full
shadowed=yes
text=Tutorial Island Progress
colour=0xFFFF00

[com_23]
type=rect
x=69
y=300
width=421
height=10
trans=128
colour=0x808080

[com_24]
type=layer
x=0
y=206
width=512
height=128

[com_25]
layer=com_24
type=model
x=228
y=29
width=32
height=32
model=com_i311
anim=pvpa_dungeon_palantir_idle
zoom=1500

[com_26]
layer=com_24
type=text
x=54
y=49
width=390
height=14
center=yes
font=b12_full
text=Please follow the instructions below

[com_27]
layer=com_24
type=text
x=54
y=64
width=390
height=14
center=yes
font=b12_full
text=to advance in the tutorial.
