[com_0]
type=model
x=241
y=142
width=32
height=32
model=com_i33
zoom=498
xan=490

[com_1]
type=model
x=159
y=84
width=32
height=32
model=com_i176
zoom=1528
xan=241
yan=1454

[com_2]
type=model
x=105
y=105
width=32
height=32
model=com_i176
zoom=1229
xan=253
yan=1666

[com_3]
type=model
x=330
y=87
width=32
height=31
model=com_i176
zoom=1528
xan=253
yan=1755

[com_4]
type=model
x=399
y=109
width=32
height=32
model=com_i176
zoom=1229
xan=276
yan=1905

[com_5]
type=text
x=113
y=62
width=44
height=17
font=q8_full
text=Harold
colour=0x333333

[com_6]
type=text
x=363
y=62
width=45
height=17
font=q8_full
text=Player
colour=0x333333

[com_7]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=obj_coins
zoom=445
xan=149
yan=1698

[com_8]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
activemodel=obj_coins_2
zoom=445
xan=149
yan=1698

[com_9]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,3
activemodel=obj_coins_3
zoom=445
xan=150
yan=1700

[com_10]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,4
activemodel=obj_coins_4
zoom=445
xan=149
yan=1698

[com_11]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
activemodel=obj_coins_5
zoom=445
xan=149
yan=1698

[com_12]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,6
activemodel=obj_fake_coins
zoom=445
xan=149
yan=1698

[com_13]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,7
activemodel=obj_coins_100
zoom=445
xan=149
yan=1693

[com_14]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,8
activemodel=obj_coins_250
zoom=445
xan=149
yan=1698

[com_15]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,9
activemodel=obj_coins_1000
zoom=445
xan=149
yan=1698

[com_16]
type=model
x=79
y=235
width=32
height=32
script1op1=pushvar,if1
script1=eq,10
activemodel=obj_coins_10000
zoom=445
xan=149
yan=1698

[com_17]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,1
activemodel=obj_coins
zoom=445
xan=149
yan=1698

[com_18]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,2
activemodel=obj_coins_2
zoom=445
xan=149
yan=1698

[com_19]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,3
activemodel=obj_coins_3
zoom=445
xan=150
yan=1700

[com_20]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,4
activemodel=obj_coins_4
zoom=445
xan=149
yan=1698

[com_21]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,5
activemodel=obj_coins_5
zoom=445
xan=149
yan=1698

[com_22]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,6
activemodel=obj_fake_coins
zoom=445
xan=149
yan=1698

[com_23]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,7
activemodel=obj_coins_100
zoom=445
xan=149
yan=1693

[com_24]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,8
activemodel=obj_coins_250
zoom=445
xan=149
yan=1698

[com_25]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,9
activemodel=obj_coins_1000
zoom=445
xan=149
yan=1698

[com_26]
type=model
x=413
y=235
width=32
height=32
script1op1=pushvar,if2
script1=eq,10
activemodel=obj_coins_10000
zoom=445
xan=149
yan=1698

[com_27]
type=layer
x=212
y=235
width=90
height=24
hide=yes

[com_28]
layer=com_27
type=text
x=13
y=4
buttontype=normal
width=66
height=17
font=q8_full
text=Roll Dice!
colour=0x333333
overcolour=0xFFFFFF

[com_29]
type=layer
x=215
y=234
width=89
height=27
hide=yes

[com_30]
layer=com_29
type=text
x=10
y=5
buttontype=pause
width=71
height=17
center=yes
font=q8_full
text=Continue...
colour=0x333333
overcolour=0xFFFFFF

[com_31]
type=text
x=91
y=275
width=9
height=17
center=yes
font=q8_full
text=0
colour=0x333333

[com_32]
type=text
x=424
y=275
width=9
height=17
center=yes
font=q8_full
text=0
colour=0x333333

[com_33]
type=text
x=227
y=200
width=60
height=17
center=yes
font=q8_full
text=You win!
colour=0x880000

[com_34]
type=text
x=413
y=40
buttontype=close
width=68
height=11
font=p11_full
text=Close Window
colour=0x7E6544
overcolour=0xFFFFFF
