[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_67]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_68]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_69]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_70]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_71]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_72]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_73]
type=graphic
x=288
y=31
width=36
height=36
graphic=steelborder2,0

[com_74]
type=graphic
x=324
y=31
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=396
y=31
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=252
y=31
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=432
y=31
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=458
y=31
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=216
y=31
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=180
y=31
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=144
y=31
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=108
y=31
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=72
y=31
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_85]
type=graphic
x=47
y=31
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=360
y=31
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=18
y=31
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=216
y=28
width=99
height=14
center=yes
font=p12_full
shadowed=yes
text=Catapult Controls
colour=0xFFAA44

[com_89]
type=text
x=425
y=29
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_90]
type=model
x=138
y=168
width=32
height=32
model=com_i345
zoom=286
xan=512

[com_91]
type=graphic
x=249
y=63
width=25
height=30
graphic=steelborder,1

[com_92]
type=graphic
x=58
y=48
width=36
height=36
graphic=steelborder2,0

[com_93]
type=graphic
x=94
y=48
width=36
height=36
graphic=steelborder2,0

[com_94]
type=graphic
x=130
y=48
width=36
height=36
graphic=steelborder2,0

[com_95]
type=graphic
x=33
y=63
width=25
height=30
graphic=steelborder,0

[com_96]
type=graphic
x=249
y=273
width=25
height=30
graphic=steelborder,3

[com_97]
type=graphic
x=33
y=273
width=25
height=30
graphic=steelborder,2

[com_98]
type=graphic
x=166
y=48
width=36
height=36
graphic=steelborder2,0

[com_99]
type=graphic
x=202
y=48
width=36
height=36
graphic=steelborder2,0

[com_100]
type=graphic
x=213
y=48
width=36
height=36
graphic=steelborder2,0

[com_101]
type=graphic
x=253
y=93
width=36
height=36
graphic=steelborder2,1

[com_102]
type=graphic
x=253
y=129
width=36
height=36
graphic=steelborder2,1

[com_103]
type=graphic
x=253
y=165
width=36
height=36
graphic=steelborder2,1

[com_104]
type=graphic
x=253
y=201
width=36
height=36
graphic=steelborder2,1

[com_105]
type=graphic
x=253
y=237
width=36
height=36
graphic=steelborder2,1

[com_106]
type=graphic
x=213
y=282
width=36
height=36
graphic=miscgraphics,3

[com_107]
type=graphic
x=177
y=282
width=36
height=36
graphic=miscgraphics,3

[com_108]
type=graphic
x=141
y=282
width=36
height=36
graphic=miscgraphics,3

[com_109]
type=graphic
x=105
y=282
width=36
height=36
graphic=miscgraphics,3

[com_110]
type=graphic
x=69
y=282
width=36
height=36
graphic=miscgraphics,3

[com_111]
type=graphic
x=56
y=282
width=36
height=36
graphic=miscgraphics,3

[com_112]
type=graphic
x=18
y=237
width=36
height=36
graphic=miscgraphics,2

[com_113]
type=graphic
x=18
y=201
width=36
height=36
graphic=miscgraphics,2

[com_114]
type=graphic
x=18
y=165
width=36
height=36
graphic=miscgraphics,2

[com_115]
type=graphic
x=18
y=129
width=36
height=36
graphic=miscgraphics,2

[com_116]
type=graphic
x=18
y=93
width=36
height=36
graphic=miscgraphics,2

[com_131]
type=layer
x=308
y=56
width=149
height=99

[com_117]
layer=com_131
type=model
x=26
y=29
width=32
height=32
model=com_i346
zoom=1077
xan=512

[com_118]
layer=com_131
type=model
x=76
y=29
width=32
height=32
model=com_i346
zoom=1077
xan=512

[com_119]
layer=com_131
type=graphic
x=14
y=9
width=25
height=30
graphic=steelborder,0

[com_120]
layer=com_131
type=graphic
x=96
y=9
width=25
height=30
graphic=steelborder,1

[com_121]
layer=com_131
type=graphic
x=14
y=51
width=25
height=30
graphic=steelborder,2

[com_122]
layer=com_131
type=graphic
x=96
y=51
width=25
height=30
graphic=steelborder,3

[com_123]
layer=com_131
type=graphic
x=39
y=-6
width=36
height=36
graphic=steelborder2,0

[com_124]
layer=com_131
type=graphic
x=63
y=-6
width=36
height=36
graphic=steelborder2,0

[com_125]
layer=com_131
type=graphic
x=100
y=26
width=36
height=36
graphic=steelborder2,1

[com_126]
layer=com_131
type=graphic
x=-1
y=26
width=36
height=36
graphic=miscgraphics,2

[com_127]
layer=com_131
type=graphic
x=38
y=60
width=36
height=36
graphic=miscgraphics,3

[com_128]
layer=com_131
type=graphic
x=66
y=60
width=36
height=36
graphic=miscgraphics,3

[com_129]
layer=com_131
type=graphic
x=49
y=14
width=36
height=36
graphic=steelborder2,1

[com_130]
layer=com_131
type=graphic
x=49
y=40
width=36
height=36
graphic=steelborder2,1

[com_147]
layer=com_131
type=model
x=27
y=31
width=32
height=32
model=obj_castlewars_no1
zoom=1209
xan=512

[com_148]
layer=com_131
type=model
x=76
y=31
width=32
height=32
model=obj_castlewars_no2
zoom=1209
xan=512

[com_151]
layer=com_131
type=model
x=121
y=7
buttontype=normal
width=32
height=32
model=com_i347
zoom=1379
xan=512

[com_152]
layer=com_131
type=model
x=125
y=43
buttontype=normal
width=25
height=38
model=com_i347
zoom=1379
xan=512
yan=1024

[com_132]
type=layer
x=308
y=145
width=146
height=111

[com_133]
layer=com_132
type=model
x=26
y=29
width=32
height=32
model=com_i346
zoom=1077
xan=512

[com_134]
layer=com_132
type=model
x=76
y=29
width=32
height=32
model=com_i346
zoom=1077
xan=512

[com_135]
layer=com_132
type=graphic
x=14
y=9
width=25
height=30
graphic=steelborder,0

[com_136]
layer=com_132
type=graphic
x=96
y=9
width=25
height=30
graphic=steelborder,1

[com_137]
layer=com_132
type=graphic
x=14
y=51
width=25
height=30
graphic=steelborder,2

[com_138]
layer=com_132
type=graphic
x=96
y=51
width=25
height=30
graphic=steelborder,3

[com_139]
layer=com_132
type=graphic
x=39
y=-6
width=36
height=36
graphic=steelborder2,0

[com_140]
layer=com_132
type=graphic
x=63
y=-6
width=36
height=36
graphic=steelborder2,0

[com_141]
layer=com_132
type=graphic
x=100
y=26
width=36
height=36
graphic=steelborder2,1

[com_142]
layer=com_132
type=graphic
x=-1
y=26
width=36
height=36
graphic=miscgraphics,2

[com_143]
layer=com_132
type=graphic
x=38
y=60
width=36
height=36
graphic=miscgraphics,3

[com_144]
layer=com_132
type=graphic
x=66
y=60
width=36
height=36
graphic=miscgraphics,3

[com_145]
layer=com_132
type=graphic
x=49
y=14
width=36
height=36
graphic=steelborder2,1

[com_146]
layer=com_132
type=graphic
x=49
y=40
width=36
height=36
graphic=steelborder2,1

[com_149]
layer=com_132
type=model
x=26
y=29
width=32
height=32
model=obj_castlewars_no3
zoom=1209
xan=512

[com_150]
layer=com_132
type=model
x=76
y=29
width=32
height=32
model=obj_castlewars_no4
zoom=1209
xan=474
yan=2020

[com_153]
layer=com_132
type=model
x=82
y=86
buttontype=normal
width=37
height=25
model=com_i347
zoom=1379
xan=512
yan=512

[com_154]
layer=com_132
type=model
x=16
y=85
buttontype=normal
width=41
height=27
model=com_i347
zoom=1379
xan=512
yan=1536

[com_155]
type=graphic
x=405
y=269
width=72
height=36
graphic=combatboxes,0

[com_156]
type=graphic
x=450
y=269
width=36
height=36
graphic=miscgraphics,6

[com_157]
type=graphic
x=383
y=269
width=36
height=36
graphic=miscgraphics,4

[com_158]
type=text
x=393
y=279
width=85
height=14
font=b12_full
shadowed=yes
text=Fire Catapult
colour=0xFFAA44

[com_159]
type=graphic
x=383
y=269
buttontype=normal
width=103
height=36

[com_160]
type=model
x=201
y=223
width=32
height=32
model=com_i344
zoom=1485
xan=512

[com_161]
type=model
x=73
y=101
width=32
height=32
model=com_i344
zoom=1485
xan=512

[com_162]
type=model
x=93
y=122
width=32
height=32
model=com_i348
activemodel=com_i348
zoom=2889
xan=512
