[com_0]
type=model
x=26
y=-62
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear1
script1=gt,0
activemodel=com_i53
zoom=1096
xan=500

[com_1]
type=model
x=114
y=-61
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear2
script1=gt,0
activemodel=com_i54
zoom=1121
xan=500

[com_2]
type=model
x=24
y=16
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear3
script1=gt,0
activemodel=com_i55
zoom=1039
xan=500

[com_3]
type=model
x=113
y=19
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear4
script1=gt,0
activemodel=com_i56
zoom=1068
xan=500

[com_4]
type=model
x=24
y=69
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear5
script1=gt,0
activemodel=com_i57
zoom=788
xan=500

[com_5]
type=model
x=115
y=103
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear6
script1=gt,0
activemodel=com_i58
zoom=1084
xan=500

[com_6]
type=rect
x=16
y=12
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,1
colour=0xFFFF00
activecolour=0x00FF00

[com_7]
type=rect
x=104
y=12
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,2
colour=0xFFFF00
activecolour=0x00FF00

[com_8]
type=rect
x=16
y=96
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,3
colour=0xFFFF00
activecolour=0x00FF00

[com_9]
type=rect
x=104
y=96
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,4
colour=0xFFFF00
activecolour=0x00FF00

[com_10]
type=rect
x=16
y=180
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,5
colour=0xFFFF00
activecolour=0x00FF00

[com_11]
type=rect
x=104
y=180
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,6
colour=0xFFFF00
activecolour=0x00FF00
