[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[com_1]
type=graphic
x=220
y=188
buttontype=normal
width=72
height=36
graphic=combatboxes,0
option=Yes.

[com_2]
type=graphic
x=220
y=238
buttontype=normal
width=72
height=36
graphic=combatboxes,0
option=No.

[com_3]
type=text
x=245
y=199
width=20
height=14
center=yes
font=p12_full
shadowed=yes
text=YES
colour=0x11D311

[com_4]
type=text
x=248
y=249
width=16
height=14
center=yes
font=p12_full
shadowed=yes
text=NO
colour=0xAC1414

[com_5]
type=text
x=180
y=145
width=152
height=14
center=yes
font=p12_full
text=Do you really want to bet X!
colour=0xDDD117
