[com_0]
type=rect
x=0
y=0
width=541
height=373
trans=24
fill=yes
colour=0x53340C

[com_1]
type=model
x=236
y=319
width=32
height=32
model=loc_10673i2_8
zoom=340
xan=249

[com_2]
type=model
x=236
y=319
width=32
height=32
model=com_i660
zoom=340
xan=249

[com_4]
type=model
x=236
y=319
width=32
height=32
model=com_i661
zoom=340
xan=249

[com_5]
type=model
x=297
y=217
width=32
height=32
model=com_i662
zoom=400
xan=228
yan=2047

[com_6]
type=layer
x=229
y=114
width=123
height=279
hide=yes

[com_3]
layer=com_6
type=model
x=7
y=205
width=32
height=32
model=com_i663
zoom=340
xan=249

[com_28]
layer=com_6
type=model
x=68
y=103
width=32
height=32
model=com_i664
zoom=400
xan=228
yan=2047

[com_7]
type=model
x=236
y=319
width=32
height=32
model=com_i665
zoom=340
xan=249

[com_9]
type=layer
x=146
y=107
width=206
height=341
hide=yes

[com_8]
layer=com_9
type=model
x=90
y=212
width=32
height=32
model=com_i666
zoom=340
xan=249

[com_29]
layer=com_9
type=model
x=151
y=110
width=32
height=32
model=com_i667
zoom=400
xan=228
yan=2047

[com_10]
type=model
x=236
y=319
width=32
height=32
model=com_i668
zoom=340
xan=249

[com_12]
type=layer
x=58
y=118
width=294
height=288
hide=yes

[com_11]
layer=com_12
type=model
x=178
y=201
width=32
height=32
model=com_i669
zoom=340
xan=249

[com_30]
layer=com_12
type=model
x=239
y=99
width=32
height=32
model=com_i670
zoom=400
xan=228
yan=2047

[com_13]
type=model
x=236
y=319
width=32
height=32
model=com_i671
zoom=340
xan=249

[com_15]
type=layer
x=42
y=174
width=310
height=267
hide=yes

[com_14]
layer=com_15
type=model
x=194
y=145
width=32
height=32
model=com_i672
zoom=340
xan=249

[com_31]
layer=com_15
type=model
x=255
y=43
width=32
height=32
model=com_i673
zoom=400
xan=228
yan=2047

[com_16]
type=model
x=236
y=319
width=32
height=32
model=com_i674
zoom=340
xan=249

[com_18]
type=layer
x=117
y=155
width=235
height=266
hide=yes

[com_17]
layer=com_18
type=model
x=119
y=164
width=32
height=32
model=com_i675
zoom=340
xan=249

[com_32]
layer=com_18
type=model
x=180
y=62
width=32
height=32
model=com_i676
zoom=400
xan=228
yan=2047

[com_19]
type=text
x=470
y=8
buttontype=close
width=31
height=14
center=yes
font=p12_full
shadowed=yes
text=Close
colour=0xFF6633
overcolour=0xFFFFFF

[com_20]
type=rect
x=154
y=115
buttontype=normal
width=65
height=56
trans=255
colour=0xFFFF00
option=Paint yellow

[com_21]
type=rect
x=188
y=171
buttontype=normal
width=31
height=31
trans=255
colour=0xFFFF00
option=Paint yellow

[com_22]
type=rect
x=236
y=118
buttontype=normal
width=45
height=68
trans=255
colour=0xFF0000
option=Paint red

[com_23]
type=rect
x=65
y=125
buttontype=normal
width=62
height=54
trans=255
colour=0x00FF00
option=Paint green

[com_24]
type=rect
x=71
y=181
buttontype=normal
width=46
height=52
trans=255
colour=0xFF00FF
option=Paint pink

[com_25]
type=rect
x=127
y=175
buttontype=normal
width=61
height=49
trans=255
colour=0x0000FF
option=Paint blue

[com_26]
type=model
x=234
y=47
width=32
height=32
model=com_i616
zoom=656
xan=524

[com_27]
type=text
x=204
y=54
width=90
height=17
center=yes
font=q8_full
text=Pick a colour
colour=0x333300
