[com_7]
type=layer
x=381
y=21
width=108
height=53

[com_0]
layer=com_7
type=text
x=12
y=18
width=69
height=11
font=p11_full
shadowed=yes
text=Repair State :
colour=0xFFFF00

[com_1]
layer=com_7
type=text
x=82
y=18
width=26
height=11
script1op1=pushvar,temple_repaired_p
font=p11_full
shadowed=yes
text=%1%
colour=0xFFFF00

[com_2]
layer=com_7
type=text
x=22
y=29
width=59
height=11
font=p11_full
shadowed=yes
text=Resources :
colour=0xFFFF00

[com_3]
layer=com_7
type=text
x=82
y=30
width=26
height=11
script1op1=pushvar,temple_resources_p
font=p11_full
shadowed=yes
text=%1%
colour=0xFFFF00

[com_4]
layer=com_7
type=text
x=37
y=41
width=44
height=11
font=p11_full
shadowed=yes
text=Sanctity:
colour=0xFFFF00

[com_5]
layer=com_7
type=text
x=82
y=42
width=26
height=11
script1op1=pushvar,temple_sanctity_p
font=p11_full
shadowed=yes
text=%1%
colour=0xFFFF00

[com_6]
layer=com_7
type=text
x=0
y=0
width=101
height=14
font=p12_full
shadowed=yes
text=* Temple Repair *
colour=0xFFFF00
