[com_0]
type=layer
x=34
y=34
width=32
height=32

[com_1]
type=model
x=306
y=119
width=32
height=32
model=com_i388
zoom=543
xan=427
yan=13

[com_2]
type=text
x=95
y=114
width=239
height=17
center=yes
font=q8_full
text=Whatever text you need goes here!

[com_3]
type=text
x=179
y=218
width=96
height=17
font=q8_full
text=Combi for lock

[com_4]
type=text
x=427
y=10
buttontype=close
width=74
height=14
center=yes
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0xFFFFFF

[com_5]
type=text
x=95
y=140
width=239
height=17
center=yes
font=q8_full
text=Text

[com_6]
type=text
x=95
y=166
width=239
height=17
center=yes
font=q8_full
text=Text

[com_7]
type=text
x=95
y=192
width=239
height=17
center=yes
font=q8_full
text=Text
