[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_2]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_3]
type=text
x=333
y=411
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000

[com_4]
type=model
x=65
y=479
width=32
height=32
model=com_i647
zoom=687
xan=120
yan=228

[com_5]
type=model
x=675
y=469
width=32
height=32
model=com_i648
zoom=656
xan=39
yan=201

[com_6]
type=model
x=67
y=431
width=32
height=32
model=com_i651
zoom=1000
xan=458

[com_7]
type=model
x=659
y=446
width=32
height=32
model=com_i651
zoom=1300
xan=458

[com_8]
type=model
x=712
y=420
width=32
height=32
model=com_i651
zoom=1700
xan=458
