[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes
colour=0xF622C0C

[com_1]
type=rect
x=0
y=144
width=512
height=20
fill=yes
colour=0x00000F

[com_2]
type=rect
x=138
y=30
width=232
height=236
fill=yes
colour=0xF303030

[com_3]
type=rect
x=144
y=37
width=220
height=222
fill=yes
colour=0xF585858

[com_4]
type=rect
x=155
y=48
width=43
height=43
fill=yes
colour=0xF303030

[com_5]
type=rect
x=259
y=48
width=43
height=43
fill=yes
colour=0xF303030

[com_6]
type=rect
x=207
y=48
width=43
height=43
fill=yes
colour=0xF303030

[com_7]
type=rect
x=154
y=99
width=43
height=43
fill=yes
colour=0xF303030

[com_8]
type=rect
x=311
y=48
width=43
height=43
fill=yes
colour=0xF303030

[com_9]
type=rect
x=206
y=100
width=43
height=43
fill=yes
colour=0xF303030

[com_10]
type=rect
x=258
y=100
width=43
height=43
fill=yes
colour=0xF303030

[com_11]
type=rect
x=310
y=100
width=43
height=43
fill=yes
colour=0xF303030

[com_12]
type=rect
x=155
y=152
width=43
height=43
fill=yes
colour=0xF303030

[com_13]
type=rect
x=206
y=151
width=43
height=43
fill=yes
colour=0xF303030

[com_14]
type=rect
x=259
y=151
width=43
height=43
fill=yes
colour=0xF303030

[com_15]
type=rect
x=310
y=152
width=43
height=43
fill=yes
colour=0xF303030

[com_16]
type=rect
x=154
y=204
width=43
height=43
fill=yes
colour=0xF303030

[com_17]
type=rect
x=206
y=204
width=43
height=43
fill=yes
colour=0xF303030

[com_18]
type=rect
x=259
y=203
width=43
height=43
fill=yes
colour=0xF303030

[com_19]
type=rect
x=311
y=203
width=43
height=43
fill=yes
colour=0xF303030

[com_20]
type=rect
x=160
y=53
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_21]
type=rect
x=212
y=53
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_22]
type=rect
x=264
y=53
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_23]
type=rect
x=316
y=53
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_24]
type=rect
x=159
y=105
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_25]
type=rect
x=211
y=105
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_26]
type=rect
x=263
y=105
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_27]
type=rect
x=315
y=105
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_28]
type=rect
x=160
y=157
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_29]
type=rect
x=211
y=157
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_30]
type=rect
x=264
y=157
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_31]
type=rect
x=315
y=157
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_32]
type=rect
x=159
y=209
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_33]
type=rect
x=211
y=209
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
option=Place-rune

[com_34]
type=rect
x=264
y=209
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_35]
type=rect
x=316
y=209
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
option=Place-rune

[com_36]
type=rect
x=280
y=295
width=89
height=31
fill=yes
colour=0x202020

[com_37]
type=rect
x=391
y=67
width=113
height=174
fill=yes
colour=0xF303030

[com_38]
type=rect
x=402
y=79
width=93
height=149
fill=yes
colour=0xF585858

[com_39]
type=rect
x=9
y=63
width=113
height=174
fill=yes
colour=0xF303030

[com_40]
type=rect
x=19
y=76
width=93
height=149
fill=yes
colour=0xF585858

[com_41]
type=text
x=289
y=302
buttontype=normal
width=69
height=14
font=p12_full
shadowed=yes
text=open casket
colour=0xFFFF00

[com_42]
type=text
x=430
y=13
buttontype=normal
width=71
height=14
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00

[com_43]
type=layer
x=7
y=283
width=42
height=42

[com_44]
layer=com_43
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500

[com_45]
layer=com_43
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500

[com_46]
type=layer
x=64
y=283
width=42
height=42

[com_47]
layer=com_46
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500

[com_48]
layer=com_46
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500

[com_49]
type=layer
x=117
y=283
width=42
height=42

[com_50]
layer=com_49
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500

[com_51]
layer=com_49
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500

[com_52]
type=layer
x=171
y=282
width=42
height=42

[com_53]
layer=com_52
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500

[com_54]
layer=com_52
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500

[com_55]
type=layer
x=226
y=282
width=42
height=42

[com_56]
layer=com_55
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500

[com_57]
layer=com_55
type=model
x=5
y=5
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500

[com_58]
type=model
x=11
y=289
buttontype=normal
width=32
height=32
model=com_i573
zoom=600
xan=500
yan=1050

[com_59]
type=model
x=68
y=288
buttontype=normal
width=32
height=32
model=com_i574
zoom=600
xan=500
yan=1050

[com_60]
type=model
x=121
y=289
buttontype=normal
width=32
height=32
model=com_i575
zoom=600
xan=500
yan=1050

[com_61]
type=model
x=176
y=288
buttontype=normal
width=32
height=32
model=com_i577
zoom=600
xan=500
yan=1050

[com_62]
type=model
x=230
y=287
buttontype=normal
width=32
height=32
model=com_i572
zoom=652
xan=500
yan=1050

[com_63]
type=inv
x=159
y=53
width=4
height=4
margin=20,20
