[com_0]
type=rect
x=0
y=0
width=512
height=400
trans=140
fill=yes
colour=0x5A7B86

[com_1]
type=model
x=242
y=152
width=32
height=32
model=obj_fade_to_black_inv
anim=seq_2115
zoom=130
xan=512

[com_2]
type=text
x=20
y=68
width=477
height=14
center=yes
font=p12_full
text= 
colour=0xFFFFFF
