[com_0]
type=graphic
x=15
y=266
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=100
y=267
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=184
y=267
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=269
y=267
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=352
y=267
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=409
y=267
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=100
y=258
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=188
y=255
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=364
y=259
width=88
height=60
graphic=tradebacking,0

[com_31]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_32]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_33]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_34]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_35]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_36]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_37]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_39]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_40]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_41]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_42]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_43]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_44]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_46]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_47]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_48]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_49]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_50]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_51]
type=graphic
x=73
y=308
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=108
y=308
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=143
y=308
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=178
y=308
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=213
y=308
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=248
y=308
width=36
height=36
graphic=miscgraphics,3

[com_57]
type=graphic
x=283
y=308
width=36
height=36
graphic=miscgraphics,3

[com_58]
type=graphic
x=318
y=308
width=36
height=36
graphic=miscgraphics,3

[com_59]
type=graphic
x=353
y=308
width=36
height=36
graphic=miscgraphics,3

[com_60]
type=graphic
x=388
y=308
width=36
height=36
graphic=miscgraphics,3

[com_61]
type=graphic
x=423
y=308
width=36
height=36
graphic=miscgraphics,3

[com_62]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_70]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_71]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_72]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_74]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=38
y=308
width=36
height=36
graphic=miscgraphics,3

[com_76]
type=graphic
x=12
y=299
width=25
height=30
graphic=steelborder,2

[com_77]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_78]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=475
y=299
width=25
height=30
graphic=steelborder,3

[com_80]
type=graphic
x=442
y=308
width=36
height=36
graphic=miscgraphics,3

[com_81]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_89]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_90]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_91]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_92]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_93]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_94]
type=layer
x=19
y=55
width=137
height=122
scroll=348

[com_98]
layer=com_94
type=inv
x=8
y=16
width=3
height=10
margin=10,1
option1=Remove 1
option2=Remove 5
option3=Remove 10
option4=Remove All
option5=Remove X

[com_102]
layer=com_94
type=text
x=1
y=1
width=64
height=14
font=p12_full
shadowed=yes
text=Your Stake:
colour=0xAA8822

[com_95]
type=layer
x=343
y=55
width=135
height=122
scroll=348

[com_99]
layer=com_95
type=inv
x=10
y=13
width=3
height=10
margin=10,1

[com_101]
layer=com_95
type=text
x=10
y=1
width=100
height=14
font=p12_full
shadowed=yes
text=Opponents Stake:
colour=0xAA8822

[com_96]
type=layer
x=180
y=253
width=78
height=42

[com_103]
layer=com_96
type=rect
x=6
y=6
buttontype=normal
width=66
height=31
fill=yes
option=Accept stake and duel options

[com_104]
layer=com_96
type=text
x=21
y=14
width=39
height=14
font=p12_full
shadowed=yes
text=Accept
colour=0x008000
overcolour=0x00FF00

[com_110]
layer=com_96
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_115]
layer=com_96
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_117]
layer=com_96
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_119]
layer=com_96
type=graphic
x=0
y=12
width=25
height=30
graphic=steelborder,2

[com_121]
layer=com_96
type=graphic
x=53
y=12
width=25
height=30
graphic=steelborder,3

[com_122]
layer=com_96
type=graphic
x=20
y=21
width=36
height=36
graphic=miscgraphics,3

[com_97]
type=layer
x=267
y=253
width=78
height=43

[com_105]
layer=com_97
type=rect
x=6
y=6
buttontype=close
width=66
height=31
fill=yes

[com_106]
layer=com_97
type=text
x=20
y=14
width=40
height=14
font=p12_full
shadowed=yes
text=Decline
colour=0x800000
overcolour=0xFF0000

[com_112]
layer=com_97
type=graphic
x=22
y=-15
width=36
height=36
graphic=steelborder2,0

[com_114]
layer=com_97
type=graphic
x=22
y=22
width=36
height=36
graphic=miscgraphics,3

[com_116]
layer=com_97
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_118]
layer=com_97
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_120]
layer=com_97
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_123]
layer=com_97
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[com_100]
type=text
x=21
y=29
width=69
height=14
font=p12_full
shadowed=yes
text=Dueling with:
colour=0xFFAA44

[com_107]
type=graphic
x=156
y=86
width=36
height=36
graphic=miscgraphics,2

[com_108]
type=graphic
x=156
y=50
width=36
height=36
graphic=miscgraphics,2

[com_109]
type=graphic
x=156
y=143
width=36
height=36
graphic=miscgraphics,2

[com_111]
type=graphic
x=156
y=114
width=36
height=36
graphic=miscgraphics,2

[com_113]
type=text
x=152
y=298
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA

[com_124]
type=text
x=423
y=29
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_125]
type=text
x=52
y=297
buttontype=normal
width=57
height=14
overlayer=com_161
font=p12_full
shadowed=yes
text=No Forfeit
colour=0xAA8822
option=Toggle option

[com_126]
type=text
x=52
y=231
buttontype=normal
width=50
height=14
overlayer=com_175
font=p12_full
shadowed=yes
text=No Magic
colour=0xAA8822
option=Toggle option

[com_127]
type=text
x=52
y=185
buttontype=normal
width=60
height=14
overlayer=com_171
font=p12_full
shadowed=yes
text=No Ranged
colour=0xAA8822
option=Toggle option

[com_128]
type=text
x=53
y=208
buttontype=normal
width=51
height=14
overlayer=com_173
font=p12_full
shadowed=yes
text=No Melee
colour=0xAA8822
option=Toggle option

[com_129]
type=graphic
x=331
y=54
width=36
height=36
graphic=miscgraphics,2

[com_130]
type=text
x=401
y=192
buttontype=normal
width=53
height=14
overlayer=com_181
font=p12_full
shadowed=yes
text=No Drinks
colour=0xAA8822
option=Toggle option

[com_131]
type=text
x=402
y=214
buttontype=normal
width=45
height=14
overlayer=com_183
font=p12_full
shadowed=yes
text=No Food
colour=0xAA8822
option=Toggle option

[com_132]
type=text
x=402
y=237
buttontype=normal
width=56
height=14
overlayer=com_185
font=p12_full
shadowed=yes
text=No Prayer
colour=0xAA8822
option=Toggle option

[com_133]
type=text
x=402
y=259
buttontype=normal
width=76
height=14
overlayer=com_163
font=p12_full
shadowed=yes
text=No Movement
colour=0xAA8822
option=Toggle option

[com_134]
type=graphic
x=331
y=87
width=36
height=36
graphic=miscgraphics,2

[com_135]
type=graphic
x=18
y=162
width=36
height=36
graphic=steelborder2,0

[com_136]
type=graphic
x=53
y=162
width=36
height=36
graphic=steelborder2,0

[com_137]
type=graphic
x=90
y=162
width=36
height=36
graphic=steelborder2,0

[com_138]
type=graphic
x=126
y=162
width=36
height=36
graphic=steelborder2,0

[com_139]
type=graphic
x=140
y=162
width=36
height=36
graphic=steelborder2,0

[com_140]
type=graphic
x=346
y=162
width=36
height=36
graphic=steelborder2,0

[com_141]
type=graphic
x=380
y=162
width=36
height=36
graphic=steelborder2,0

[com_142]
type=graphic
x=415
y=162
width=36
height=36
graphic=steelborder2,0

[com_143]
type=graphic
x=450
y=162
width=36
height=36
graphic=steelborder2,0

[com_144]
type=graphic
x=458
y=162
width=36
height=36
graphic=steelborder2,0

[com_145]
type=graphic
x=31
y=297
buttontype=normal
width=14
height=15
overlayer=com_161
script1op1=testbit,dueloptions,0
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_146]
type=graphic
x=377
y=259
buttontype=normal
width=14
height=15
overlayer=com_163
script1op1=testbit,dueloptions,1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_147]
type=graphic
x=331
y=142
width=36
height=36
graphic=miscgraphics,2

[com_148]
type=graphic
x=331
y=118
width=36
height=36
graphic=miscgraphics,2

[com_149]
type=graphic
x=31
y=185
buttontype=normal
width=14
height=15
overlayer=com_171
script1op1=testbit,dueloptions,4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_150]
type=graphic
x=31
y=208
buttontype=normal
width=14
height=15
overlayer=com_173
script1op1=testbit,dueloptions,5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_151]
type=graphic
x=31
y=230
buttontype=normal
width=14
height=15
overlayer=com_175
script1op1=testbit,dueloptions,6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_152]
type=graphic
x=377
y=192
buttontype=normal
width=14
height=15
overlayer=com_181
script1op1=testbit,dueloptions,7
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_153]
type=graphic
x=377
y=214
buttontype=normal
width=14
height=15
overlayer=com_183
script1op1=testbit,dueloptions,8
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_154]
type=graphic
x=377
y=237
buttontype=normal
width=14
height=15
overlayer=com_185
script1op1=testbit,dueloptions,9
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_155]
type=text
x=401
y=282
buttontype=normal
width=57
height=14
overlayer=com_187
font=p12_full
shadowed=yes
text=Obstacles
colour=0xAA8822
option=Toggle option

[com_156]
type=graphic
x=377
y=281
buttontype=normal
width=14
height=15
overlayer=com_187
script1op1=testbit,dueloptions,10
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_157]
type=text
x=52
y=275
buttontype=normal
width=74
height=14
overlayer=com_179
font=p12_full
shadowed=yes
text=Fun Weapons
colour=0xAA8822
option=Toggle option

[com_158]
type=graphic
x=31
y=275
buttontype=normal
width=14
height=15
overlayer=com_179
script1op1=testbit,dueloptions,12
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_159]
type=graphic
x=31
y=253
buttontype=normal
width=14
height=15
overlayer=com_177
script1op1=testbit,dueloptions,13
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_160]
type=text
x=51
y=254
buttontype=normal
width=57
height=14
overlayer=com_177
font=p12_full
shadowed=yes
text=No Sp. Atk
colour=0xAA8822
option=Toggle option

[com_161]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_162]
layer=com_161
type=text
x=99
y=0
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA

[com_163]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_164]
layer=com_163
type=text
x=61
y=0
width=304
height=11
center=yes
font=p11_full
shadowed=yes
text=Players stand next to each other and aren't allowed to move.
colour=0xAAAAAA

[com_165]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_166]
layer=com_165
type=text
x=108
y=0
width=207
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use weapons.
colour=0xAAAAAA

[com_167]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_168]
layer=com_167
type=text
x=106
y=0
width=199
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use armour.
colour=0xAAAAAA

[com_169]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_170]
layer=com_169
type=text
x=105
y=0
width=208
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to wear jewelry.
colour=0xAAAAAA

[com_171]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_172]
layer=com_171
type=text
x=90
y=0
width=238
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use ranged attacks.
colour=0xAAAAAA

[com_173]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_174]
layer=com_173
type=text
x=96
y=0
width=231
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use melee attacks.
colour=0xAAAAAA

[com_175]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_176]
layer=com_175
type=text
x=95
y=0
width=230
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use magic attacks.
colour=0xAAAAAA

[com_177]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_178]
layer=com_177
type=text
x=81
y=0
width=260
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use special attacks.
colour=0xAAAAAA

[com_179]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_180]
layer=com_179
type=text
x=35
y=0
width=363
height=12
center=yes
font=p11_full
shadowed=yes
text=Both players will use a 'fun weapon', such as: flowers or rubber chicken.
colour=0xAAAAAA

[com_181]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_182]
layer=com_181
type=text
x=97
y=0
width=217
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use drinks.
colour=0xAAAAAA

[com_183]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_184]
layer=com_183
type=text
x=102
y=0
width=209
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use food.
colour=0xAAAAAA

[com_185]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_186]
layer=com_185
type=text
x=100
y=0
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use prayer.
colour=0xAAAAAA

[com_187]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_188]
layer=com_187
type=text
x=101
y=0
width=211
height=11
center=yes
font=p11_full
shadowed=yes
text=The duel will be in an arena with obstacles.
colour=0xAAAAAA

[com_189]
type=graphic
x=244
y=72
width=36
height=36
graphic=miscgraphics,2

[com_190]
type=graphic
x=244
y=108
width=36
height=36
graphic=miscgraphics,2

[com_191]
type=graphic
x=244
y=154
width=36
height=36
graphic=miscgraphics,2

[com_192]
type=graphic
x=243
y=195
width=36
height=36
graphic=miscgraphics,2

[com_193]
type=graphic
x=188
y=155
width=36
height=36
graphic=miscgraphics,2

[com_194]
type=graphic
x=188
y=181
width=36
height=36
graphic=miscgraphics,2

[com_195]
type=graphic
x=300
y=159
width=36
height=36
graphic=miscgraphics,2

[com_196]
type=graphic
x=300
y=185
width=36
height=36
graphic=miscgraphics,2

[com_197]
type=graphic
x=226
y=94
width=36
height=36
graphic=miscgraphics,3

[com_198]
type=graphic
x=270
y=94
width=36
height=36
graphic=miscgraphics,3

[com_199]
type=graphic
x=218
y=133
width=36
height=36
graphic=miscgraphics,3

[com_200]
type=graphic
x=274
y=132
width=36
height=36
graphic=miscgraphics,3

[com_201]
type=graphic
x=244
y=54
buttontype=normal
width=36
height=36
overlayer=com_224
graphic=miscgraphics,0
option=Toggle option

[com_202]
type=graphic
x=203
y=93
buttontype=normal
width=36
height=36
overlayer=com_226
graphic=miscgraphics,0
option=Toggle option

[com_203]
type=graphic
x=244
y=93
buttontype=normal
width=36
height=36
overlayer=com_228
graphic=miscgraphics,0
option=Toggle option

[com_204]
type=graphic
x=285
y=94
buttontype=normal
width=36
height=36
overlayer=com_244
graphic=miscgraphics,0
option=Toggle option

[com_205]
type=graphic
x=188
y=132
buttontype=normal
width=36
height=36
overlayer=com_230
graphic=miscgraphics,0
option=Toggle option

[com_206]
type=graphic
x=244
y=132
buttontype=normal
width=36
height=36
overlayer=com_232
graphic=miscgraphics,0
option=Toggle option

[com_207]
type=graphic
x=300
y=132
buttontype=normal
width=36
height=36
overlayer=com_234
graphic=miscgraphics,0
option=Toggle option

[com_208]
type=graphic
x=244
y=172
buttontype=normal
width=36
height=36
overlayer=com_236
graphic=miscgraphics,0
option=Toggle option

[com_209]
type=graphic
x=300
y=212
buttontype=normal
width=36
height=36
overlayer=com_242
graphic=miscgraphics,0
option=Toggle option

[com_210]
type=graphic
x=243
y=211
buttontype=normal
width=36
height=36
overlayer=com_240
graphic=miscgraphics,0
option=Toggle option

[com_211]
type=graphic
x=189
y=212
buttontype=normal
width=36
height=36
overlayer=com_238
graphic=miscgraphics,0
option=Toggle option

[com_212]
type=inv
x=190
y=94
width=3
height=5
margin=24,8
slot1=wornicons,0:56,-38
slot2=wornicons,1:-41,1
slot3=wornicons,2:-56,1
slot4=wornicons,3
slot5=wornicons,5
slot6=wornicons,6
slot8=wornicons,7
slot10=wornicons,8
slot11=wornicons,9
slot12=:-55,40
slot13=wornicons,4:112,-40
slot14=wornicons,10:41,-159

[com_213]
type=model
x=246
y=56
width=32
height=32
script1op1=push_varbit,duelwornoptions0
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_214]
type=model
x=205
y=96
width=32
height=32
script1op1=push_varbit,duelwornoptions1
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_215]
type=model
x=247
y=95
width=32
height=32
script1op1=push_varbit,duelwornoptions2
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_216]
type=model
x=288
y=96
width=32
height=32
script1op1=push_varbit,duelwornoptions13
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_217]
type=model
x=191
y=135
width=32
height=32
script1op1=push_varbit,duelwornoptions3
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_218]
type=model
x=246
y=135
width=32
height=32
script1op1=push_varbit,duelwornoptions4
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_219]
type=model
x=301
y=134
width=32
height=32
script1op1=push_varbit,duelwornoptions5
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_220]
type=model
x=246
y=174
width=32
height=32
script1op1=push_varbit,duelwornoptions7
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_221]
type=model
x=190
y=215
width=32
height=32
script1op1=push_varbit,duelwornoptions9
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_222]
type=model
x=245
y=214
width=32
height=32
script1op1=push_varbit,duelwornoptions10
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_223]
type=model
x=302
y=215
width=32
height=32
script1op1=push_varbit,duelwornoptions12
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_224]
type=layer
x=44
y=313
width=430
height=13
hide=yes

[com_225]
layer=com_224
type=text
x=70
y=0
width=287
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their head.
colour=0xAAAAAA

[com_226]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_227]
layer=com_226
type=text
x=76
y=0
width=285
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their back.
colour=0xAAAAAA

[com_228]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_229]
layer=com_228
type=text
x=69
y=0
width=308
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items around their neck.
colour=0xAAAAAA

[com_230]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_231]
layer=com_230
type=text
x=25
y=0
width=399
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use 2-handed items or items in their right hand.
colour=0xAAAAAA

[com_232]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_233]
layer=com_232
type=text
x=76
y=0
width=290
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their torso.
colour=0xAAAAAA

[com_234]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_235]
layer=com_234
type=text
x=25
y=0
width=393
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use 2-handed items or items in their left hand.
colour=0xAAAAAA

[com_236]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_237]
layer=com_236
type=text
x=73
y=0
width=284
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their legs.
colour=0xAAAAAA

[com_238]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_239]
layer=com_238
type=text
x=74
y=0
width=293
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their hands.
colour=0xAAAAAA

[com_240]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_241]
layer=com_240
type=text
x=82
y=0
width=284
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their feet.
colour=0xAAAAAA

[com_242]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_243]
layer=com_242
type=text
x=69
y=0
width=300
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their fingers.
colour=0xAAAAAA

[com_244]
type=layer
x=44
y=312
width=430
height=13
hide=yes

[com_245]
layer=com_244
type=text
x=74
y=0
width=294
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to have items in their quiver.
colour=0xAAAAAA
