[com_0]
type=model
x=246
y=281
width=32
height=32
model=com_i680
zoom=272

[com_1]
type=text
x=399
y=10
buttontype=close
width=72
height=14
font=p12_full
shadowed=yes
text=Close window
colour=0xFFFF00

[com_2]
type=text
x=138
y=277
width=244
height=14
font=p12_full
shadowed=yes
text=Pop the correct balloon animal to find a key
colour=0xFFFF00

[com_3]
type=layer
x=57
y=29
buttontype=normal
width=416
height=277

[com_4]
layer=com_3
type=model
x=202
y=114
width=32
height=32
model=com_i681
zoom=185
xan=26
yan=412
