[com_0]
type=model
x=258
y=159
width=32
height=32
model=com_i190
zoom=179
yan=2047

[com_1]
type=text
x=464
y=17
buttontype=close
width=33
height=17
font=q8_full
shadowed=yes
text=Close
colour=0xFFFF00

[com_2]
type=text
x=151
y=101
width=210
height=17
font=q8_full
shadowed=yes
text=Certificate of Advanced Healing
colour=0xFFFF00

[com_3]
type=text
x=182
y=115
width=162
height=17
font=q8_full
shadowed=yes
text=From PoxStead College.
colour=0xFFFF00

[com_4]
type=text
x=248
y=207
width=140
height=12
font=p11_full
shadowed=yes
text=Signed Dr Foster-MMD, PRD
colour=0xFFFF00

[com_5]
type=text
x=254
y=221
width=123
height=12
font=p11_full
shadowed=yes
text=Head Of Magical Healing.
colour=0xFFFF00
