[com_0]
type=rect
x=0
y=0
width=600
height=400
fill=yes

[com_1]
type=model
x=241
y=129
width=32
height=32
model=com_i336
zoom=930
xan=294
yan=60

[com_2]
type=model
x=258
y=136
width=32
height=32
model=com_i361
zoom=948
xan=274
yan=70

[com_3]
type=model
x=260
y=123
width=32
height=32
model=com_i362
anim=mini_statue_explodes
activeanim=mini_statue_explodes
zoom=1056
xan=229
yan=64
