[com_0]
type=model
x=415
y=17
width=32
height=32
model=com_i679
zoom=843
xan=421

[com_1]
type=text
x=394
y=15
width=70
height=17
font=q8_full
shadowed=yes
text=Telekinetic
colour=0x5686C3

[com_2]
type=text
x=369
y=39
width=72
height=12
font=p11_full
shadowed=yes
text=Pizazz Points:
colour=0x4D7CB6

[com_3]
type=text
x=447
y=40
width=42
height=12
font=p11_full
shadowed=yes
text=999999
colour=0x66CCFF

[com_4]
type=model
x=469
y=308
width=32
height=32
model=obj_magictraining_guardianstatue
zoom=1395
xan=79
yan=142

[com_5]
type=text
x=472
y=253
width=24
height=14
center=yes
font=p12_full
shadowed=yes
text=999
colour=0x66CCFF

[com_6]
type=text
x=461
y=238
width=44
height=14
center=yes
font=p12_full
shadowed=yes
text=Solved :
colour=0x66CCFF
