[com_0]
type=model
x=415
y=15
width=32
height=32
model=com_i677
zoom=843
xan=484

[com_1]
type=text
x=405
y=15
width=54
height=17
font=q8_full
shadowed=yes
text=Alchemy
colour=0x8CCC39

[com_2]
type=text
x=372
y=40
width=72
height=12
font=p11_full
shadowed=yes
text=Pizazz Points:
colour=0x8CCC39

[com_3]
type=text
x=463
y=41
width=28
height=12
font=p11_full
shadowed=yes
text=9999
colour=0x33CC00

[com_4]
type=text
x=372
y=60
width=73
height=12
font=p11_full
shadowed=yes
text=Leather Boots:
colour=0x339900

[com_5]
type=text
x=372
y=80
width=97
height=12
font=p11_full
shadowed=yes
text=Adamant Kiteshield:
colour=0x339900

[com_6]
type=text
x=372
y=100
width=71
height=12
font=p11_full
shadowed=yes
text=Adamant Helm:
colour=0x339900

[com_7]
type=text
x=372
y=120
width=41
height=12
font=p11_full
shadowed=yes
text=Emerald:
colour=0x339900

[com_8]
type=text
x=372
y=140
width=84
height=12
font=p11_full
shadowed=yes
text=Rune Longsword:
colour=0x339900

[com_9]
type=text
x=470
y=60
width=21
height=12
font=p11_full
shadowed=yes
text=999
colour=0x33CC00

[com_10]
type=text
x=470
y=80
width=21
height=12
font=p11_full
shadowed=yes
text=999
colour=0x33CC00

[com_11]
type=text
x=470
y=100
width=21
height=12
font=p11_full
shadowed=yes
text=999
colour=0x33CC00

[com_12]
type=text
x=470
y=120
width=21
height=12
font=p11_full
shadowed=yes
text=999
colour=0x33CC00

[com_13]
type=text
x=470
y=140
width=21
height=12
font=p11_full
shadowed=yes
text=999
colour=0x33CC00

[com_14]
type=layer
x=320
y=49
width=32
height=32
hide=yes

[com_19]
layer=com_14
type=model
x=0
y=-1
width=32
height=32
model=com_i678
zoom=500
xan=496

[com_15]
type=layer
x=320
y=69
width=32
height=32
hide=yes

[com_20]
layer=com_15
type=model
x=0
y=0
width=32
height=32
model=com_i678
zoom=500
xan=490

[com_16]
type=layer
x=320
y=89
width=32
height=32
hide=yes

[com_21]
layer=com_16
type=model
x=0
y=0
width=32
height=32
model=com_i678
zoom=500
xan=496

[com_17]
type=layer
x=320
y=108
width=32
height=32
hide=yes

[com_22]
layer=com_17
type=model
x=0
y=1
width=32
height=32
model=com_i678
zoom=500
xan=490

[com_18]
type=layer
x=320
y=130
width=32
height=32
hide=yes

[com_23]
layer=com_18
type=model
x=0
y=0
width=32
height=32
model=com_i678
zoom=500
xan=496
