[com_0]
type=rect
x=0
y=0
width=512
height=400
trans=120
fill=yes
colour=0x292242

[com_1]
type=rect
x=-5
y=292
width=520
height=34
trans=20
fill=yes
colour=0x351F3C

[com_2]
type=model
x=241
y=18
width=32
height=32
model=com_i158
zoom=1499
xan=478

[com_3]
type=inv
x=60
y=75
clientcode=60
width=6
height=4
margin=40,20
option1=Value
option2=Buy

[com_4]
type=text
x=437
y=8
buttontype=close
width=68
height=12
font=p11_full
shadowed=yes
text=Close Window
colour=0x666666
activecolour=0xFFCC00
overcolour=0xFFFF33

[com_5]
type=text
x=163
y=26
width=188
height=17
font=q8_full
text=Magic Training Arena Shop
colour=0x3B223B

[com_6]
type=text
x=40
y=296
width=124
height=12
font=p11_full
shadowed=yes
text=Telekinetic Pizazz Points
colour=0x5686C3

[com_7]
type=text
x=40
y=312
width=133
height=12
font=p11_full
shadowed=yes
text=Enchantment Pizazz Points
colour=0x9E7144

[com_8]
type=text
x=264
y=296
width=126
height=12
font=p11_full
shadowed=yes
text=Graveyard Pizazz Points
colour=0x999999

[com_9]
type=text
x=264
y=312
width=119
height=12
font=p11_full
shadowed=yes
text=Alchemist Pizazz Points
colour=0x8CCC39

[com_10]
type=text
x=200
y=296
width=35
height=12
font=p11_full
shadowed=yes
text=99999
colour=0x66CCFF

[com_11]
type=text
x=200
y=312
width=35
height=12
font=p11_full
shadowed=yes
text=99999
colour=0xCC6600

[com_12]
type=text
x=424
y=312
width=35
height=12
font=p11_full
shadowed=yes
text=99999
colour=0x33CC00

[com_13]
type=text
x=424
y=296
width=35
height=12
font=p11_full
shadowed=yes
text=99999
colour=0xCCCCCC

[com_14]
type=text
x=196
y=109
width=48
height=12
font=p11_full
shadowed=yes
text=(Upgrade)
colour=0xCC99FF

[com_15]
type=text
x=125
y=109
width=48
height=12
font=p11_full
shadowed=yes
text=(Upgrade)
colour=0xCC99FF

[com_16]
type=text
x=270
y=110
width=48
height=12
font=p11_full
shadowed=yes
text=(Upgrade)
colour=0xCC99FF
