[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_67]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_68]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_69]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_70]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_71]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_72]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_73]
type=graphic
x=288
y=31
width=36
height=36
graphic=steelborder2,0

[com_74]
type=graphic
x=324
y=31
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=396
y=31
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=252
y=31
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=432
y=31
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=458
y=31
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=216
y=31
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=180
y=31
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=144
y=31
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=108
y=31
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=72
y=31
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_85]
type=graphic
x=47
y=31
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=360
y=31
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=18
y=31
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=216
y=28
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Fractional still
colour=0xFFAA44

[com_89]
type=text
x=425
y=29
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF
option=Close

[com_90]
type=model
x=408
y=120
width=32
height=32
model=com_i149
zoom=500
xan=512

[com_91]
type=text
x=410
y=103
width=26
height=14
center=yes
font=p12_full
text=Heat

[com_92]
type=model
x=72
y=120
width=32
height=32
model=com_i149
zoom=500
xan=512

[com_93]
type=text
x=63
y=103
width=52
height=14
center=yes
font=p12_full
text=Pressure

[com_94]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,0
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1536

[com_95]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,1
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1664

[com_96]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,2
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1792

[com_97]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,3
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1920

[com_98]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,4
script1=eq,0
model=com_i150
zoom=400
xan=512

[com_99]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,5
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=128

[com_100]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,6
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=256

[com_101]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,7
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=384

[com_102]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,8
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=512

[com_103]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,9
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=640

[com_104]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,10
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=768

[com_105]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,11
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=896

[com_106]
type=model
x=72
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,12
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1024

[com_107]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,13
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1536

[com_108]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,14
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1664

[com_109]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,15
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1792

[com_110]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,16
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1920

[com_111]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,17
script1=eq,0
model=com_i150
zoom=400
xan=512

[com_112]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,18
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=128

[com_113]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,19
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=256

[com_114]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,20
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=384

[com_115]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,21
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=512

[com_116]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,22
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=640

[com_117]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,23
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=768

[com_118]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,24
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=896

[com_119]
type=model
x=408
y=120
width=32
height=32
script1op1=testbit,regicide_still_settings,25
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1024

[com_120]
type=model
x=190
y=120
buttontype=normal
width=150
height=100
model=com_i151
zoom=600
xan=512
option=Click this to add coal.

[com_121]
type=text
x=242
y=129
width=49
height=14
font=p12_full
text=Add Coal

[com_122]
type=model
x=72
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,26
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1024

[com_123]
type=model
x=72
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,27
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1536

[com_124]
type=model
x=72
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,28
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512

[com_125]
type=model
x=408
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,29
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1024

[com_126]
type=model
x=408
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,30
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1536

[com_127]
type=model
x=408
y=240
width=32
height=32
script1op1=testbit,regicide_still_settings,31
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512

[com_128]
type=model
x=240
y=252
width=32
height=32
model=com_i153
zoom=400
xan=512
yan=512

[com_129]
type=text
x=56
y=224
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Turn pressure valve down

[com_130]
type=text
x=88
y=224
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Turn pressure valve up

[com_131]
type=text
x=391
y=224
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Turn tar flow valve down

[com_132]
type=text
x=423
y=224
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
option=Turn tar valve up

[com_133]
type=rect
x=172
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,0
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_134]
type=rect
x=179
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,1
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_135]
type=rect
x=186
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,2
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_136]
type=rect
x=193
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,3
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_137]
type=rect
x=200
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,4
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_138]
type=rect
x=207
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,5
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_139]
type=rect
x=214
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,6
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_140]
type=rect
x=221
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,7
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_141]
type=rect
x=228
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,8
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_142]
type=rect
x=235
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,9
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_143]
type=rect
x=242
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,10
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_144]
type=rect
x=249
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,11
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_145]
type=rect
x=256
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,12
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_146]
type=rect
x=263
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,13
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_147]
type=rect
x=270
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,14
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_148]
type=rect
x=277
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,15
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_149]
type=rect
x=284
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,16
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_150]
type=rect
x=291
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,17
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_151]
type=rect
x=298
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,18
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_152]
type=rect
x=305
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,19
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_153]
type=rect
x=312
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,20
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_154]
type=rect
x=319
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,21
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_155]
type=rect
x=326
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,22
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_156]
type=rect
x=333
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,23
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_157]
type=rect
x=340
y=265
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,24
fill=yes
activecolour=0x00FF00
activeovercolour=0x00FF00

[com_158]
type=text
x=386
y=289
width=73
height=14
font=p12_full
text=Tar regulator

[com_159]
type=text
x=45
y=289
width=86
height=14
font=p12_full
text=Pressure valve

[com_160]
type=rect
x=86
y=212
width=4
height=12
fill=yes

[com_161]
type=text
x=172
y=294
width=175
height=14
center=yes
font=b12_full
text=Total distilled

[com_162]
type=rect
x=121
y=254
width=12
height=4
fill=yes

[com_163]
type=rect
x=43
y=254
width=12
height=4
fill=yes

[com_164]
type=rect
x=379
y=254
width=12
height=4
fill=yes

[com_165]
type=rect
x=422
y=212
width=4
height=12
fill=yes

[com_166]
type=rect
x=457
y=254
width=12
height=4
fill=yes
