[com_0]
type=layer
x=34
y=34
width=32
height=32

[com_1]
type=model
x=236
y=98
width=100
height=100
model=com_i427
zoom=1046
xan=500

[com_2]
type=model
x=214
y=107
width=100
height=100
model=com_i428
zoom=1046
xan=500

[com_3]
type=text
x=421
y=20
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFFFF
activecolour=0xFFFF00

[com_4]
type=model
x=366
y=187
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile1
script1=gt,0
activemodel=com_i429
zoom=1046
xan=500

[com_5]
type=model
x=365
y=45
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile2
script1=gt,0
activemodel=com_i430
zoom=1046
xan=500

[com_6]
type=model
x=46
y=47
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile3
script1=gt,0
activemodel=com_i431
zoom=1046
xan=500

[com_7]
type=model
x=42
y=189
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile4
script1=gt,0
activemodel=com_i432
zoom=1046
xan=500
