[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=409
y=258
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=text
x=25
y=60
width=165
height=14
center=yes
font=p12_full
shadowed=yes
text=Insert a very long name here!
colour=0xFFAA44

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=text
x=100
y=75
width=14
height=14
font=p12_full
shadowed=yes
text=vs
colour=0xAAAAAA

[com_76]
type=text
x=25
y=90
width=165
height=14
center=yes
font=p12_full
shadowed=yes
text=Insert a very long name here!
colour=0xFFAA44

[com_77]
type=graphic
x=183
y=26
width=36
height=36
graphic=miscgraphics,2

[com_78]
type=graphic
x=183
y=62
width=36
height=36
graphic=miscgraphics,2

[com_79]
type=graphic
x=183
y=98
width=36
height=36
graphic=miscgraphics,2

[com_80]
type=graphic
x=183
y=134
width=36
height=36
graphic=miscgraphics,2

[com_81]
type=graphic
x=183
y=170
width=36
height=36
graphic=miscgraphics,2

[com_82]
type=graphic
x=162
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=21
y=29
width=66
height=14
font=b12_full
shadowed=yes
text=Runeversi
colour=0xFFAA44

[com_89]
type=text
x=23
y=185
width=169
height=11
center=yes
font=p11_full
shadowed=yes
text=Blah blah blah blah blah blah blah!
colour=0xAAAAAA

[com_90]
type=graphic
x=183
y=206
width=36
height=36
graphic=miscgraphics,2

[com_91]
type=graphic
x=183
y=242
width=36
height=36
graphic=miscgraphics,2

[com_92]
type=graphic
x=183
y=278
width=36
height=36
graphic=miscgraphics,2

[com_93]
type=text
x=24
y=213
width=169
height=11
center=yes
font=p11_full
shadowed=yes
text=Blah blah blah blah blah blah blah!
colour=0xAAAAAA

[com_94]
type=text
x=27
y=157
width=160
height=14
center=yes
font=b12_full
shadowed=yes
text=Blah blah blah blah blah!
colour=0xAAAAAA

[com_95]
type=layer
x=26
y=265
width=78
height=42

[com_128]
layer=com_95
type=rect
x=6
y=6
buttontype=close
width=66
height=31
fill=yes

[com_129]
layer=com_95
type=text
x=23
y=14
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x800000
overcolour=0xFF0000

[com_130]
layer=com_95
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_131]
layer=com_95
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_132]
layer=com_95
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_133]
layer=com_95
type=graphic
x=0
y=12
width=25
height=30
graphic=steelborder,2

[com_134]
layer=com_95
type=graphic
x=53
y=12
width=25
height=30
graphic=steelborder,3

[com_135]
layer=com_95
type=graphic
x=21
y=21
width=36
height=36
graphic=miscgraphics,3

[com_96]
type=model
x=221
y=40
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_97]
type=model
x=284
y=40
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_98]
type=model
x=349
y=40
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_99]
type=model
x=412
y=40
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_100]
type=model
x=253
y=72
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_101]
type=model
x=317
y=72
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_102]
type=model
x=381
y=72
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_103]
type=model
x=444
y=72
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_104]
type=model
x=222
y=104
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_105]
type=model
x=284
y=104
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_106]
type=model
x=348
y=104
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_107]
type=model
x=413
y=104
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_108]
type=model
x=252
y=136
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_109]
type=model
x=316
y=136
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_110]
type=model
x=380
y=136
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_111]
type=model
x=444
y=137
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_112]
type=model
x=221
y=168
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_113]
type=model
x=284
y=168
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_114]
type=model
x=348
y=168
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_115]
type=model
x=413
y=168
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_116]
type=model
x=253
y=200
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_117]
type=model
x=316
y=200
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_118]
type=model
x=381
y=200
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_119]
type=model
x=444
y=200
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_120]
type=model
x=221
y=232
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_121]
type=model
x=285
y=232
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_122]
type=model
x=348
y=232
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_123]
type=model
x=413
y=232
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_124]
type=model
x=253
y=264
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_125]
type=model
x=317
y=264
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_126]
type=model
x=382
y=264
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_127]
type=model
x=445
y=264
width=32
height=32
model=com_i693
zoom=2000
xan=512

[com_136]
type=model
x=20
y=57
width=20
height=20
model=obj_firerune
zoom=1024
xan=512
yan=1024

[com_137]
type=model
x=20
y=87
width=20
height=20
model=obj_waterrune
zoom=1024
xan=512
yan=1024

[com_138]
type=inv
x=221
y=40
width=8
height=8

[com_139]
type=rect
x=221
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_140]
type=rect
x=253
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_141]
type=rect
x=285
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_142]
type=rect
x=317
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_143]
type=rect
x=349
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_144]
type=rect
x=381
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_145]
type=rect
x=413
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_146]
type=rect
x=445
y=40
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_147]
type=rect
x=221
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_148]
type=rect
x=253
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_149]
type=rect
x=285
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_150]
type=rect
x=317
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_151]
type=rect
x=349
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_152]
type=rect
x=381
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_153]
type=rect
x=413
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_154]
type=rect
x=445
y=72
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_155]
type=rect
x=221
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_156]
type=rect
x=253
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_157]
type=rect
x=285
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_158]
type=rect
x=317
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_159]
type=rect
x=349
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_160]
type=rect
x=381
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_161]
type=rect
x=413
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_162]
type=rect
x=445
y=104
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_163]
type=rect
x=221
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_164]
type=rect
x=253
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_165]
type=rect
x=285
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_166]
type=rect
x=317
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_167]
type=rect
x=349
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_168]
type=rect
x=381
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_169]
type=rect
x=413
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_170]
type=rect
x=445
y=136
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_171]
type=rect
x=221
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_172]
type=rect
x=253
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_173]
type=rect
x=285
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_174]
type=rect
x=317
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_175]
type=rect
x=349
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_176]
type=rect
x=381
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_177]
type=rect
x=413
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_178]
type=rect
x=445
y=168
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_179]
type=rect
x=221
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_180]
type=rect
x=253
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_181]
type=rect
x=285
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_182]
type=rect
x=317
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_183]
type=rect
x=349
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_184]
type=rect
x=381
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_185]
type=rect
x=413
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_186]
type=rect
x=445
y=200
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_187]
type=rect
x=221
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_188]
type=rect
x=253
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_189]
type=rect
x=285
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_190]
type=rect
x=317
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_191]
type=rect
x=349
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_192]
type=rect
x=381
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_193]
type=rect
x=413
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_194]
type=rect
x=445
y=232
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_195]
type=rect
x=221
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_196]
type=rect
x=253
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_197]
type=rect
x=285
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_198]
type=rect
x=317
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_199]
type=rect
x=349
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_200]
type=rect
x=381
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_201]
type=rect
x=413
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF

[com_202]
type=rect
x=445
y=264
buttontype=normal
width=32
height=32
colour=0xFFFFFF
