[com_0]
type=text
x=190
y=10
width=147
height=14
font=p12_full
shadowed=yes
text=Blast Furnace Temp Gauge
colour=0xFFAA44

[com_1]
type=text
x=470
y=9
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x888888

[com_2]
type=model
x=316
y=176
width=32
height=32
model=com_i593
zoom=908

[com_3]
type=model
x=185
y=183
width=32
height=32
model=com_i594
zoom=960

[com_4]
type=model
x=248
y=152
width=32
height=32
model=com_i595
zoom=172
