[com_0]
type=text
x=21
y=13
width=441
height=17
center=yes
font=q8_full
text=Line1

[com_1]
type=text
x=21
y=45
width=442
height=18
center=yes
font=q8_full
text=Line2
