[com_0]
type=graphic
x=80
y=202
width=36
height=36
graphic=miscgraphics,7

[com_1]
type=graphic
x=65
y=202
width=36
height=36
graphic=miscgraphics,7

[com_2]
type=graphic
x=39
y=202
width=36
height=36
graphic=miscgraphics,7

[com_3]
type=graphic
x=97
y=202
width=36
height=36
graphic=miscgraphics,8

[com_4]
type=graphic
x=119
y=202
width=36
height=36
graphic=miscgraphics,8

[com_5]
type=text
x=57
y=213
buttontype=normal
clientcode=205
width=83
height=14
font=b12_full
shadowed=yes
text=Stop Viewing
colour=0xFFFFFF
overcolour=0xFF0000

[com_6]
type=model
x=81
y=99
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[com_7]
type=model
x=25
y=46
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[com_8]
type=model
x=137
y=46
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[com_9]
type=model
x=25
y=152
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[com_10]
type=model
x=137
y=152
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[com_11]
type=text
x=76
y=119
buttontype=normal
width=38
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,1
font=p12_full
shadowed=yes
text=Centre
colour=0xFFFF00
activecolour=0xFFFFFF
option=View

[com_12]
type=text
x=5
y=66
buttontype=normal
width=66
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,2
font=p12_full
shadowed=yes
text=North-West
colour=0xFFFF00
activecolour=0xFFFFFF
option=View

[com_13]
type=text
x=119
y=66
buttontype=normal
width=63
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,3
font=p12_full
shadowed=yes
text=North-East
colour=0xFFFF00
activecolour=0xFFFFFF
option=View

[com_14]
type=text
x=118
y=172
buttontype=normal
width=64
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,4
font=p12_full
shadowed=yes
text=South-East
colour=0xFFFF00
activecolour=0xFFFFFF
option=View

[com_15]
type=text
x=6
y=172
buttontype=normal
width=67
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,5
font=p12_full
shadowed=yes
text=South-West
colour=0xFFFF00
activecolour=0xFFFFFF
option=View
