[com_0]
type=model
x=240
y=139
width=32
height=28
model=com_i1
zoom=604
xan=400

[com_1]
type=text
x=215
y=95
width=106
height=17
center=yes
font=q8_full
shadowed=yes
text=Congratulations!
colour=0xF5B405
activecolour=0x453C26

[com_2]
type=text
x=373
y=84
buttontype=close
width=28
height=12
font=p11_full
text=Close
colour=0x823C1A
overcolour=0xDD5817

[com_3]
type=text
x=142
y=117
width=219
height=14
center=yes
font=p12_full
text=Well done, you defeated the Champion!
colour=0x004000

[com_4]
type=model
x=93
y=153
width=85
height=105
model=obj_champions_challenge_earthwarrior
zoom=300
xan=347
yan=1517

[com_5]
type=model
x=355
y=205
width=32
height=32
model=com_i659
zoom=273
xan=500
yan=138

[com_6]
type=text
x=220
y=140
width=96
height=14
font=p12_full
text=You are awarded:
colour=0x400000

[com_7]
type=text
x=183
y=157
width=170
height=14
script1op1=pushvar,varp_621
center=yes
font=p12_full
text=%1 Slayer Xp
colour=0x004000

[com_8]
type=text
x=183
y=172
width=170
height=14
script1op1=pushvar,varp_620
center=yes
font=p12_full
text=%1 Hitpoint Xp
colour=0x004000
