[com_0]
type=model
x=241
y=124
width=40
height=12
model=com_i161
zoom=578
xan=496
yan=1

[com_1]
type=text
x=120
y=46
width=93
height=17
font=q8_full
text=A....a lemming
colour=0xF342E10

[com_2]
type=text
x=118
y=79
width=105
height=17
font=q8_full
text=B....a fryingpan
colour=0xF342E10

[com_3]
type=text
x=118
y=111
width=325
height=17
font=q8_full
text=C....the disenfrachaised youth of 1940's Columbia
colour=0xF342E10

[com_4]
type=text
x=117
y=20
width=45
height=17
font=q8_full
text=Is this:
colour=0xF1B1805

[com_5]
type=rect
x=142
y=143
width=236
height=153
fill=yes
colour=0xF342E10

[com_6]
type=rect
x=147
y=147
width=226
height=144
fill=yes
colour=0xF5F551D

[com_7]
type=model
x=197
y=149
width=133
height=133
model=obj_macro_quiz_food1
zoom=400
xan=346
yan=1883

[com_8]
type=text
x=437
y=0
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_9]
type=model
x=85
y=36
buttontype=normal
width=32
height=32
model=com_i558
zoom=4904
xan=540
yan=2043
option=select option A

[com_10]
type=model
x=84
y=69
buttontype=normal
width=32
height=32
model=com_i559
zoom=4859
xan=490
yan=10
option=select option B

[com_11]
type=model
x=83
y=102
buttontype=normal
width=32
height=32
model=com_i560
zoom=4579
xan=385
yan=24
option=select option C
