[com_0]
type=rect
x=428
y=4
width=80
height=60
trans=125
fill=yes
colour=0x111111

[com_1]
type=text
x=428
y=7
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Gnomeball
colour=0xFFFF00

[com_2]
type=text
x=428
y=22
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Score
colour=0xFFFF00

[com_3]
type=text
x=428
y=40
width=80
height=14
script1op1=pushvar,score_gnomeball_game
center=yes
font=b12_full
shadowed=yes
text=%1
colour=0xFF0000
