[com_0]
type=layer
x=34
y=275
width=450
height=24
hide=yes

[com_1]
layer=com_0
type=text
x=0
y=0
width=450
height=24
center=yes
font=p12_full
shadowed=yes
text=Text
colour=0xFFFF00
