[com_0]
type=graphic
x=21
y=148
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=86
y=148
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=21
y=188
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=86
y=188
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=21
y=148
width=25
height=30
graphic=steelborder,0

[com_5]
type=graphic
x=149
y=148
width=25
height=30
graphic=steelborder,1

[com_6]
type=graphic
x=153
y=192
width=36
height=36
graphic=steelborder2,1

[com_7]
type=graphic
x=149
y=218
width=25
height=30
graphic=steelborder,3

[com_8]
type=graphic
x=153
y=168
width=36
height=36
graphic=steelborder2,1

[com_9]
type=graphic
x=46
y=133
width=36
height=36
graphic=steelborder2,0

[com_10]
type=graphic
x=82
y=133
width=36
height=36
graphic=steelborder2,0

[com_11]
type=graphic
x=114
y=133
width=36
height=36
graphic=steelborder2,0

[com_12]
type=graphic
x=6
y=173
width=36
height=36
graphic=miscgraphics,2

[com_13]
type=graphic
x=6
y=203
width=36
height=36
graphic=miscgraphics,2

[com_14]
type=graphic
x=21
y=218
width=25
height=30
graphic=steelborder,2

[com_15]
type=graphic
x=46
y=227
width=36
height=36
graphic=miscgraphics,3

[com_16]
type=graphic
x=113
y=227
width=36
height=36
graphic=miscgraphics,3

[com_17]
type=graphic
x=82
y=227
width=36
height=36
graphic=miscgraphics,3

[com_18]
type=text
x=92
y=179
width=66
height=14
font=p12_full
shadowed=yes
text=Schematic 1
colour=0xAA8822
activecolour=0xAA3322

[com_19]
type=text
x=92
y=199
width=68
height=14
font=p12_full
shadowed=yes
text=Schematic 2
colour=0xAA8822
activecolour=0xAA3322

[com_20]
type=text
x=92
y=219
width=67
height=14
font=p12_full
shadowed=yes
text=Schematic 3
colour=0xAA8822
activecolour=0xAA3322

[com_21]
type=text
x=29
y=159
width=69
height=14
font=p12_full
shadowed=yes
text=Show/Select
colour=0xAA8822

[com_22]
type=graphic
x=70
y=179
buttontype=select
width=15
height=15
script1op1=pushvar,if1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic One

[com_23]
type=graphic
x=70
y=199
buttontype=select
width=15
height=15
script1op1=pushvar,if2
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic Two

[com_24]
type=graphic
x=70
y=219
buttontype=select
width=36
height=36
script1op1=pushvar,if3
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic Three

[com_25]
type=graphic
x=38
y=179
buttontype=normal
width=15
height=15
script1op1=pushvar,if4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic One

[com_26]
type=graphic
x=38
y=199
buttontype=normal
width=15
height=15
script1op1=pushvar,if5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic Two

[com_27]
type=graphic
x=38
y=219
buttontype=normal
width=15
height=15
script1op1=pushvar,if6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic Three

[com_28]
type=model
x=80
y=60
buttontype=normal
width=32
height=32
model=com_i373
activemodel=com_i374
zoom=1000
xan=500
option=Rotate the image

[com_29]
type=model
x=80
y=20
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
option=Move Schematic Up

[com_30]
type=model
x=121
y=59
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=500
option=Move Schematic Right

[com_31]
type=model
x=41
y=59
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=1530
option=Move Schematic Left

[com_32]
type=model
x=80
y=99
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=1015
option=Move Schematic Down
