[com_0]
type=graphic
x=88
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=88
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=88
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=88
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=176
y=20
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=176
y=80
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=176
y=140
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=176
y=200
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=264
y=20
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=352
y=80
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=264
y=80
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=264
y=140
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=264
y=200
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=352
y=140
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=352
y=20
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=352
y=200
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=67
y=50
width=36
height=36
graphic=miscgraphics,2

[com_17]
type=graphic
x=82
y=20
width=25
height=30
graphic=steelborder,0

[com_18]
type=graphic
x=67
y=86
width=36
height=36
graphic=miscgraphics,2

[com_19]
type=graphic
x=67
y=122
width=36
height=36
graphic=miscgraphics,2

[com_20]
type=graphic
x=67
y=158
width=36
height=36
graphic=miscgraphics,2

[com_21]
type=graphic
x=67
y=194
width=36
height=36
graphic=miscgraphics,2

[com_22]
type=graphic
x=67
y=212
width=36
height=36
graphic=miscgraphics,2

[com_23]
type=graphic
x=425
y=50
width=36
height=36
graphic=steelborder2,1

[com_24]
type=graphic
x=425
y=86
width=36
height=36
graphic=steelborder2,1

[com_25]
type=graphic
x=425
y=122
width=36
height=36
graphic=steelborder2,1

[com_26]
type=graphic
x=425
y=158
width=36
height=36
graphic=steelborder2,1

[com_27]
type=graphic
x=425
y=194
width=36
height=36
graphic=steelborder2,1

[com_28]
type=graphic
x=425
y=218
width=36
height=36
graphic=steelborder2,1

[com_29]
type=graphic
x=107
y=245
width=36
height=36
graphic=miscgraphics,3

[com_30]
type=graphic
x=143
y=245
width=36
height=36
graphic=miscgraphics,3

[com_31]
type=graphic
x=179
y=245
width=36
height=36
graphic=miscgraphics,3

[com_32]
type=graphic
x=215
y=245
width=36
height=36
graphic=miscgraphics,3

[com_33]
type=graphic
x=251
y=245
width=36
height=36
graphic=miscgraphics,3

[com_34]
type=graphic
x=287
y=245
width=36
height=36
graphic=miscgraphics,3

[com_35]
type=graphic
x=323
y=245
width=36
height=36
graphic=miscgraphics,3

[com_36]
type=graphic
x=359
y=245
width=36
height=36
graphic=miscgraphics,3

[com_37]
type=graphic
x=388
y=245
width=36
height=36
graphic=miscgraphics,3

[com_38]
type=graphic
x=107
y=5
width=36
height=36
graphic=steelborder2,0

[com_39]
type=graphic
x=143
y=5
width=36
height=36
graphic=steelborder2,0

[com_40]
type=graphic
x=179
y=5
width=36
height=36
graphic=steelborder2,0

[com_41]
type=graphic
x=215
y=5
width=36
height=36
graphic=steelborder2,0

[com_42]
type=graphic
x=251
y=5
width=36
height=36
graphic=steelborder2,0

[com_43]
type=graphic
x=287
y=5
width=36
height=36
graphic=steelborder2,0

[com_44]
type=graphic
x=323
y=5
width=36
height=36
graphic=steelborder2,0

[com_45]
type=graphic
x=359
y=5
width=36
height=36
graphic=steelborder2,0

[com_46]
type=graphic
x=395
y=5
width=36
height=36
graphic=steelborder2,0

[com_47]
type=graphic
x=262
y=34
width=36
height=36
graphic=steelborder2,0

[com_48]
type=graphic
x=82
y=236
width=25
height=30
graphic=steelborder,2

[com_49]
type=graphic
x=421
y=20
width=25
height=30
graphic=steelborder,1

[com_50]
type=graphic
x=421
y=236
width=25
height=30
graphic=steelborder,3

[com_51]
type=graphic
x=298
y=34
width=36
height=36
graphic=steelborder2,0

[com_52]
type=graphic
x=334
y=34
width=36
height=36
graphic=steelborder2,0

[com_53]
type=graphic
x=370
y=34
width=36
height=36
graphic=steelborder2,0

[com_54]
type=graphic
x=405
y=34
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=226
y=34
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=190
y=34
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=154
y=34
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=118
y=34
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=87
y=34
width=36
height=36
graphic=steelborder2,0

[com_60]
type=text
x=93
y=30
width=245
height=14
font=b12_full
shadowed=yes
text=The Bank of RuneScape - Deposit Box
colour=0xFF981F

[com_61]
type=text
x=367
y=32
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_62]
type=inv
x=127
y=71
width=7
height=4
draggable=yes
margin=8,10
option1=Deposit 1
option2=Deposit 5
option3=Deposit 10
option4=Deposit All
option5=Deposit X
