[com_0]
type=graphic
x=116
y=23
buttontype=normal
width=20
height=20
overlayer=com_50
script1op1=inv_count,wornitems:worn,slayer_staff
script2op1=inv_count,inventory:inv,deathrune
script3op1=inv_count,inventory:inv,mindrune
script4op1=stat_level,magic
script5op1=stat_level,slayer
script1=gt,0
script2=gt,0
script3=gt,3
script4=gt,49
script5=gt,54
graphic=magicoff2,5
activegraphic=magicon2,5

[com_1]
type=graphic
x=52
y=75
buttontype=normal
width=20
height=20
overlayer=com_11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script2op1=inv_count,inventory:inv,bloodrune
script3op1=stat_level,magic
script1=gt,4
script2=gt,0
script3=gt,61
graphic=magicoff,31
activegraphic=magicon,31

[com_2]
type=graphic
x=116
y=75
buttontype=normal
width=20
height=20
overlayer=com_19
script1op1=inv_count,inventory:inv,waterrune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_water
script1op6=inv_contains,wornitems:worn,water_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_water_staff
script1op8=inv_contains,wornitems:worn,mud_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:worn,staff_of_air
script2op6=inv_contains,wornitems:worn,air_battlestaff
script2op7=inv_contains,wornitems:worn,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,64
graphic=magicoff,33
activegraphic=magicon,33

[com_3]
type=graphic
x=52
y=126
buttontype=normal
width=20
height=20
overlayer=com_29
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_earth
script1op6=inv_contains,wornitems:worn,earth_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_earth_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script1op10=inv_contains,wornitems:worn,mud_battlestaff
script1op11=inv_contains,wornitems:worn,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:worn,staff_of_air
script2op6=inv_contains,wornitems:worn,air_battlestaff
script2op7=inv_contains,wornitems:worn,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,69
graphic=magicoff,36
activegraphic=magicon,36

[com_4]
type=graphic
x=116
y=126
buttontype=normal
width=20
height=20
overlayer=com_39
script1op1=inv_count,inventory:inv,firerune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,smokerune
script1op4=inv_count,inventory:inv,lavarune
script1op5=inv_contains,wornitems:worn,staff_of_fire
script1op6=inv_contains,wornitems:worn,fire_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_fire_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:worn,staff_of_air
script2op6=inv_contains,wornitems:worn,air_battlestaff
script2op7=inv_contains,wornitems:worn,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,74
graphic=magicoff,37
activegraphic=magicon,37

[com_5]
type=layer
x=3
y=178
width=186
height=85

[com_7]
layer=com_5
type=rect
x=3
y=9
width=178
height=72
colour=0x726451

[com_8]
layer=com_5
type=rect
x=4
y=10
width=176
height=70
colour=0x726451

[com_9]
layer=com_5
type=rect
x=4
y=10
width=177
height=71
colour=0x2E2B23

[com_10]
layer=com_5
type=rect
x=5
y=11
width=174
height=68
fill=yes

[com_6]
type=text
x=34
y=213
width=120
height=14
center=yes
font=p12_full
shadowed=yes
text=Select a Combat Spell
colour=0xB0A392

[com_11]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_12]
layer=com_11
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_13]
layer=com_11
type=text
x=3
y=4
width=174
height=16
center=yes
font=p12_full
shadowed=yes
text=Level 62 : Wind Wave
colour=0xFFF000

[com_14]
layer=com_11
type=text
x=3
y=17
width=174
height=15
center=yes
font=p11_full
shadowed=yes
text=A high level Air missile
colour=0x6B6F33

[com_15]
layer=com_11
type=model
x=38
y=35
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[com_16]
layer=com_11
type=model
x=114
y=35
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[com_17]
layer=com_11
type=text
x=40
y=62
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000

[com_18]
layer=com_11
type=text
x=116
y=62
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_19]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_20]
layer=com_19
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_21]
layer=com_19
type=text
x=2
y=3
width=182
height=20
center=yes
font=p12_full
shadowed=yes
text=Level 65 : Water Wave
colour=0xFFF000

[com_22]
layer=com_19
type=text
x=3
y=17
width=181
height=21
center=yes
font=p11_full
shadowed=yes
text=A high level Water missile
colour=0x6B6F33

[com_23]
layer=com_19
type=model
x=26
y=35
width=28
height=28
model=obj_waterrune
zoom=900
xan=512
yan=1024

[com_24]
layer=com_19
type=model
x=78
y=35
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[com_25]
layer=com_19
type=model
x=130
y=35
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[com_26]
layer=com_19
type=text
x=28
y=62
width=24
height=11
script1op1=inv_count,inventory:inv,waterrune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_water
script1op6=inv_contains,wornitems:worn,water_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_water_staff
script1op8=inv_contains,wornitems:worn,mud_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_mud_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000

[com_27]
layer=com_19
type=text
x=80
y=62
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000

[com_28]
layer=com_19
type=text
x=132
y=62
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_29]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_30]
layer=com_29
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_31]
layer=com_29
type=text
x=2
y=4
width=174
height=14
center=yes
font=p12_full
shadowed=yes
text=Level 70 : Earth Wave
colour=0xFFF000

[com_32]
layer=com_29
type=text
x=3
y=17
width=174
height=252
center=yes
font=p11_full
shadowed=yes
text=A high level Earth missile
colour=0x6B6F33

[com_33]
layer=com_29
type=model
x=26
y=35
width=28
height=28
model=obj_earthrune
zoom=900
xan=512
yan=1024

[com_34]
layer=com_29
type=model
x=78
y=35
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[com_35]
layer=com_29
type=model
x=130
y=35
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[com_36]
layer=com_29
type=text
x=28
y=62
width=24
height=11
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_earth
script1op6=inv_contains,wornitems:worn,earth_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_earth_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script1op10=inv_contains,wornitems:worn,mud_battlestaff
script1op11=inv_contains,wornitems:worn,mystic_mud_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000

[com_37]
layer=com_29
type=text
x=80
y=62
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000

[com_38]
layer=com_29
type=text
x=132
y=62
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_39]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_40]
layer=com_39
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_41]
layer=com_39
type=text
x=2
y=4
width=178
height=294
center=yes
font=p12_full
shadowed=yes
text=Level 75 : Fire Wave
colour=0xFFF000

[com_42]
layer=com_39
type=text
x=3
y=17
width=178
height=14
center=yes
font=p11_full
shadowed=yes
text=A high level Fire missile
colour=0x6B6F33

[com_43]
layer=com_39
type=model
x=26
y=35
width=28
height=28
model=obj_firerune
zoom=900
xan=512
yan=1024

[com_44]
layer=com_39
type=model
x=78
y=35
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[com_45]
layer=com_39
type=model
x=130
y=35
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[com_46]
layer=com_39
type=text
x=28
y=62
width=24
height=11
script1op1=inv_count,inventory:inv,firerune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,smokerune
script1op4=inv_count,inventory:inv,lavarune
script1op5=inv_contains,wornitems:worn,staff_of_fire
script1op6=inv_contains,wornitems:worn,fire_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_fire_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000

[com_47]
layer=com_39
type=text
x=80
y=62
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000

[com_48]
layer=com_39
type=text
x=132
y=62
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_49]
type=text
x=143
y=169
buttontype=normal
width=36
height=14
font=p12_full
shadowed=yes
text=cancel
colour=0x808080

[com_50]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_51]
layer=com_50
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_52]
layer=com_50
type=text
x=2
y=4
width=175
height=15
center=yes
font=p12_full
shadowed=yes
text=Level 50 : Magic Dart
colour=0xFFF000

[com_53]
layer=com_50
type=text
x=3
y=17
width=174
height=12
center=yes
font=p11_full
shadowed=yes
text=A magic dart of slaying
colour=0x6B6F33

[com_54]
layer=com_50
type=model
x=26
y=35
width=28
height=28
model=obj_slayer_staff
zoom=2369
xan=323
yan=459

[com_55]
layer=com_50
type=model
x=78
y=35
width=28
height=28
model=obj_deathrune
zoom=900
xan=512
yan=1024

[com_56]
layer=com_50
type=model
x=130
y=35
width=28
height=28
model=obj_mindrune
zoom=900
xan=512
yan=1024

[com_57]
layer=com_50
type=text
x=28
y=62
width=23
height=12
script1op1=inv_count,wornitems:worn,slayer_staff
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_58]
layer=com_50
type=text
x=80
y=62
width=23
height=12
script1op1=inv_count,inventory:inv,deathrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_59]
layer=com_50
type=text
x=132
y=62
width=24
height=12
script1op1=inv_count,inventory:inv,mindrune
script1=gt,3
center=yes
font=p11_full
shadowed=yes
text=%1/4
colour=0xC00000
activecolour=0x00C000

[com_60]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_62]
layer=com_60
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_63]
layer=com_60
type=text
x=2
y=4
width=175
height=14
center=yes
font=p12_full
shadowed=yes
text=Level 39 : Crumble Undead
colour=0xFFF000

[com_64]
layer=com_60
type=text
x=3
y=17
width=174
height=22
center=yes
font=p11_full
shadowed=yes
text=Hits skeletons, ghosts,\nshades & zombies hard
colour=0x6B6F33

[com_65]
layer=com_60
type=model
x=26
y=35
width=28
height=28
model=obj_earthrune
zoom=900
xan=512
yan=1024

[com_66]
layer=com_60
type=model
x=78
y=35
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[com_67]
layer=com_60
type=model
x=130
y=35
width=28
height=28
model=obj_chaosrune
zoom=900
xan=512
yan=1024

[com_68]
layer=com_60
type=text
x=28
y=62
width=26
height=12
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_earth
script1op6=inv_contains,wornitems:worn,earth_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_earth_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script1op10=inv_contains,wornitems:worn,mud_battlestaff
script1op11=inv_contains,wornitems:worn,mystic_mud_staff
script1=gt,1
center=yes
font=p11_full
shadowed=yes
text=%1/2
colour=0xC00000
activecolour=0x00C000

[com_69]
layer=com_60
type=text
x=80
y=62
width=26
height=12
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:worn,staff_of_air
script1op6=inv_contains,wornitems:worn,air_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_air_staff
script1=gt,1
center=yes
font=p11_full
shadowed=yes
text=%1/2
colour=0xC00000
activecolour=0x00C000

[com_70]
layer=com_60
type=text
x=132
y=62
width=23
height=11
script1op1=inv_count,inventory:inv,chaosrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000

[com_61]
type=graphic
x=52
y=23
buttontype=normal
width=20
height=20
overlayer=com_60
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:worn,staff_of_earth
script1op6=inv_contains,wornitems:worn,earth_battlestaff
script1op7=inv_contains,wornitems:worn,mystic_earth_staff
script1op8=inv_contains,wornitems:worn,lava_battlestaff
script1op9=inv_contains,wornitems:worn,mystic_lava_staff
script1op10=inv_contains,wornitems:worn,mud_battlestaff
script1op11=inv_contains,wornitems:worn,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:worn,staff_of_air
script2op6=inv_contains,wornitems:worn,air_battlestaff
script2op7=inv_contains,wornitems:worn,mystic_air_staff
script3op1=inv_count,inventory:inv,chaosrune
script4op1=stat_level,magic
script1=gt,1
script2=gt,1
script3=gt,0
script4=gt,38
graphic=magicoff,19
activegraphic=magicon,19
