[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_2]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_3]
type=text
x=333
y=411
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000

[com_4]
type=model
x=52
y=428
width=32
height=32
model=com_i651
zoom=1000
xan=380
yan=48

[com_5]
type=model
x=653
y=444
width=32
height=32
model=com_i695
zoom=1556
xan=425
yan=1906

[com_6]
type=model
x=688
y=418
width=32
height=32
model=com_i696
zoom=1316
xan=653
yan=2047

[com_7]
type=model
x=13
y=438
width=32
height=32
model=com_i697
zoom=1572
xan=605
yan=1897

[com_8]
type=model
x=91
y=446
width=32
height=32
model=com_i696
zoom=1700
xan=521
yan=117

[com_9]
type=model
x=723
y=444
width=32
height=32
model=com_i651
zoom=1512
xan=407
yan=108
