[com_0]
type=text
x=122
y=26
width=254
height=17
center=yes
font=q8_full
shadowed=yes
text=Complete the Maze as fast as possible!
colour=0xEAEAEA

[com_4]
type=layer
x=161
y=242
width=341
height=77

[com_1]
layer=com_4
type=text
x=169
y=3
width=68
height=17
center=yes
font=q8_full
shadowed=yes
text=There is...
colour=0xD1D1D1

[com_2]
layer=com_4
type=text
x=233
y=26
width=28
height=14
script1op1=pushvar,macro_transmit
font=p12_full
shadowed=yes
text=%1%
colour=0xFFFF00

[com_3]
layer=com_4
type=text
x=192
y=45
width=146
height=17
center=yes
font=q8_full
shadowed=yes
text=... of the Reward left!
colour=0xD1D1D1
