[com_0]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i201
activemodel=com_i202
zoom=1200
xan=350

[com_1]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i203
activemodel=com_i204
zoom=1200
xan=350

[com_2]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i205
activemodel=com_i206
zoom=1200
xan=350

[com_3]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i207
activemodel=com_i208
zoom=1200
xan=350

[com_4]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i209
activemodel=com_i210
zoom=1200
xan=350

[com_5]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i211
activemodel=com_i212
zoom=1200
xan=350

[com_6]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i213
activemodel=com_i214
zoom=1200
xan=350

[com_7]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i215
activemodel=com_i216
zoom=1200
xan=350

[com_8]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i217
activemodel=com_i218
zoom=1200
xan=350

[com_9]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i219
activemodel=com_i220
zoom=1200
xan=350

[com_10]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i221
activemodel=com_i222
zoom=1200
xan=350

[com_11]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i223
activemodel=com_i224
zoom=1200
xan=350

[com_12]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i225
activemodel=com_i226
zoom=1200
xan=350

[com_13]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i227
activemodel=com_i228
zoom=1200
xan=350

[com_14]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i229
activemodel=com_i230
zoom=1200
xan=350

[com_15]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i231
activemodel=com_i232
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
model=com_i233
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
model=com_i234
zoom=1200
xan=350

[com_18]
type=layer
x=142
y=123
width=32
height=32
hide=yes

[com_19]
layer=com_18
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_20]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[com_21]
layer=com_20
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_22]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[com_23]
layer=com_22
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_24]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[com_25]
layer=com_24
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_26]
type=layer
x=268
y=90
width=32
height=32
hide=yes

[com_27]
layer=com_26
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_28]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[com_29]
layer=com_28
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_30]
type=layer
x=269
y=162
width=32
height=32
hide=yes

[com_31]
layer=com_30
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_32]
type=layer
x=314
y=203
width=32
height=32
hide=yes

[com_33]
layer=com_32
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i235
activemodel=com_i236
zoom=1200
xan=350

[com_34]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
option=Close

[com_35]
type=model
x=142
y=123
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_36]
type=model
x=190
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_37]
type=model
x=184
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_38]
type=model
x=266
y=56
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_39]
type=model
x=268
y=90
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_40]
type=model
x=227
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_41]
type=model
x=269
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_42]
type=model
x=314
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_43]
type=model
x=119
y=24
width=32
height=32
model=com_i235
zoom=1200
xan=350

[com_44]
type=model
x=119
y=55
width=32
height=32
model=com_i236
zoom=1200
xan=350

[com_45]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[com_46]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
