[com_0]
type=model
x=241
y=194
width=34
height=33
model=com_i561
zoom=348
xan=519
yan=6

[com_1]
type=model
x=410
y=279
width=32
height=32
model=com_i562
zoom=600
xan=391

[com_2]
type=model
x=238
y=140
width=32
height=32
model=com_i563
zoom=478
xan=125
yan=8

[com_3]
type=model
x=240
y=262
width=42
height=38
model=com_i564
zoom=494
xan=395
yan=2047

[com_4]
type=model
x=80
y=279
buttontype=normal
width=32
height=32
model=com_i565
zoom=607
xan=391

[com_5]
type=model
x=135
y=279
buttontype=normal
width=32
height=32
model=com_i566
zoom=607
xan=391

[com_6]
type=model
x=190
y=279
buttontype=normal
width=32
height=32
model=com_i567
zoom=607
xan=391

[com_7]
type=model
x=245
y=279
buttontype=normal
width=32
height=32
model=com_i568
zoom=600
xan=391

[com_8]
type=model
x=300
y=279
buttontype=normal
width=32
height=32
model=com_i569
zoom=600
xan=391

[com_9]
type=model
x=355
y=279
buttontype=normal
width=32
height=32
model=com_i570
zoom=600
xan=391

[com_10]
type=model
x=410
y=279
buttontype=normal
width=32
height=32
model=com_i562
zoom=600
xan=391
