[com_0]
type=text
x=418
y=303
width=75
height=14
script1op1=push_varbit,barrows_killed_count
script1=gt,9999
center=yes
font=p12_full
shadowed=yes
text=Kill Count: %1
activetext=Kill Count: Too Many!
colour=0x7D7D4B
activecolour=0x4D4D2F

[com_1]
type=model
x=86
y=109
width=32
height=32
zoom=400

[com_2]
type=model
x=166
y=189
width=32
height=32
zoom=400

[com_3]
type=model
x=440
y=138
width=32
height=32
zoom=400

[com_4]
type=model
x=365
y=201
width=32
height=32
zoom=400

[com_5]
type=model
x=403
y=141
width=32
height=32
zoom=400

[com_6]
type=model
x=125
y=165
width=32
height=32
zoom=400
