[com_0]
type=model
x=295
y=279
width=32
height=32
model=com_i59
zoom=288
xan=139
yan=144

[com_1]
type=model
x=310
y=115
width=32
height=32
model=com_i60
zoom=500
xan=80
yan=650

[com_2]
type=model
x=400
y=135
width=32
height=32
model=com_i60
zoom=500
xan=89
yan=650

[com_3]
type=model
x=310
y=115
width=32
height=32
model=com_i61
zoom=500
xan=80
yan=650

[com_4]
type=model
x=310
y=115
width=32
height=32
model=com_i62
zoom=500
xan=80
yan=650

[com_5]
type=model
x=352
y=149
width=32
height=32
model=com_i62
zoom=325
xan=87
yan=714

[com_6]
type=model
x=209
y=158
width=32
height=32
model=com_i62
zoom=566
xan=148
yan=644

[com_7]
type=model
x=310
y=115
width=32
height=32
model=com_i63
activeanim=roguesden_interface_gear7
zoom=500
xan=80
yan=650

[com_8]
type=model
x=310
y=115
width=32
height=32
model=com_i35
anim=roguesden_interface_gear6
zoom=500
xan=80
yan=650

[com_21]
type=model
x=310
y=115
width=32
height=32
model=com_i36
activeanim=roguesden_interface_gear3
zoom=500
xan=80
yan=650

[com_22]
type=model
x=310
y=115
width=32
height=32
model=com_i64
activeanim=roguesden_interface_gear9
zoom=500
xan=80
yan=650

[com_23]
type=model
x=310
y=115
width=32
height=32
model=com_i37
activeanim=roguesden_interface_gear8
zoom=500
xan=80
yan=650

[com_24]
type=model
x=310
y=115
width=32
height=32
model=com_i65
activeanim=roguesden_interface_gear1
zoom=500
xan=80
yan=650

[com_31]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_15]
layer=com_31
type=model
x=310
y=115
width=32
height=32
model=com_i38
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_32]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_16]
layer=com_32
type=model
x=310
y=115
width=32
height=32
model=com_i54
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_33]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_17]
layer=com_33
type=model
x=310
y=115
width=32
height=32
model=com_i55
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_34]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_18]
layer=com_34
type=model
x=310
y=115
width=32
height=32
model=com_i56
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_35]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_19]
layer=com_35
type=model
x=310
y=115
width=32
height=32
model=com_i57
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_36]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_20]
layer=com_36
type=model
x=310
y=115
width=32
height=32
model=com_i58
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[com_37]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_9]
layer=com_37
type=model
x=310
y=115
width=32
height=32
model=com_i66
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_38]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_10]
layer=com_38
type=model
x=310
y=115
width=32
height=32
model=com_i67
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_39]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_11]
layer=com_39
type=model
x=310
y=115
width=32
height=32
model=com_i68
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_40]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_12]
layer=com_40
type=model
x=310
y=115
width=32
height=32
model=com_i69
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_41]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_13]
layer=com_41
type=model
x=310
y=115
width=32
height=32
model=com_i70
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_42]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_14]
layer=com_42
type=model
x=310
y=115
width=32
height=32
model=com_i71
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[com_43]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_25]
layer=com_43
type=model
x=310
y=115
width=32
height=32
model=com_i72
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_44]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_26]
layer=com_44
type=model
x=310
y=115
width=32
height=32
model=com_i73
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_45]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_27]
layer=com_45
type=model
x=310
y=115
width=32
height=32
model=com_i74
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_46]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_28]
layer=com_46
type=model
x=310
y=115
width=32
height=32
model=com_i75
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_47]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_29]
layer=com_47
type=model
x=310
y=115
width=32
height=32
model=com_i76
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_48]
type=layer
x=0
y=0
width=512
height=320
hide=yes

[com_30]
layer=com_48
type=model
x=310
y=115
width=32
height=32
model=com_i77
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[com_49]
type=text
x=422
y=16
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF

[com_50]
type=rect
x=98
y=160
buttontype=normal
width=120
height=80
colour=0xFFFF00
option=Place a gear here!

[com_51]
type=rect
x=351
y=125
buttontype=normal
width=120
height=120
colour=0xFFFF00
option=Place a gear here!

[com_52]
type=rect
x=135
y=39
buttontype=normal
width=120
height=120
colour=0xFFFF00
option=Place a gear here!
