[com_0]
type=rect
x=-1
y=-1
buttontype=close
width=514
height=336
colour=0xFFFF00

[com_1]
type=model
x=391
y=61
width=97
height=90
model=com_i162
zoom=190
xan=498

[com_8]
type=layer
x=396
y=66
width=82
height=83
hide=yes

[com_2]
layer=com_8
type=model
x=-4
y=-6
width=97
height=90
model=com_i163
zoom=190
xan=510
yan=762

[com_9]
type=layer
x=399
y=65
width=82
height=83
hide=yes

[com_3]
layer=com_9
type=model
x=-9
y=-5
width=97
height=90
model=com_i163
zoom=190
xan=514
yan=1241

[com_10]
type=layer
x=398
y=63
width=82
height=83
hide=yes

[com_4]
layer=com_10
type=model
x=-8
y=-2
width=98
height=84
model=com_i164
zoom=206
xan=495
yan=512

[com_11]
type=layer
x=395
y=67
width=82
height=83
hide=yes

[com_5]
layer=com_11
type=model
x=-3
y=-5
width=96
height=84
model=com_i164
zoom=206
xan=521
yan=1024

[com_12]
type=layer
x=397
y=65
width=82
height=83
hide=yes

[com_6]
layer=com_12
type=model
x=-7
y=0
width=96
height=85
model=com_i164
zoom=206
xan=416
yan=1536

[com_13]
type=layer
x=397
y=71
width=82
height=83
hide=yes

[com_7]
layer=com_13
type=model
x=-11
y=-4
width=98
height=83
model=com_i164
zoom=206
xan=495

[com_14]
type=rect
x=381
y=12
buttontype=close
width=112
height=27
fill=yes
colour=0x857E09

[com_15]
type=text
x=392
y=17
width=91
height=17
font=q8_full
shadowed=yes
text=Close window.
colour=0xFFFF00
overcolour=0xFFFFFF

[com_16]
type=rect
x=384
y=175
buttontype=normal
width=112
height=27
fill=yes
colour=0x857E09

[com_17]
type=text
x=392
y=179
width=97
height=17
font=q8_full
shadowed=yes
text=Rotate mirror.
colour=0xFFFF00
overcolour=0xFFFFFF
