[com_0]
type=inv
x=40
y=24
width=2
height=3
margin=48,16
option1=Store

[com_1]
type=inv
x=40
y=168
width=2
height=2
margin=48,16
option1=Store 1
option2=Store 5
option3=Store All
option4=Store X

[com_2]
type=text
x=24
y=8
width=27
height=14
script1op1=inv_count,inventory:inv,rake
script1=gt,0
font=p12_full
shadowed=yes
text=Rake
colour=0x872300
activecolour=0x7DD764

[com_3]
type=text
x=24
y=24
width=17
height=14
script1op1=inv_count,inventory:inv,rake
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_4]
type=text
x=104
y=8
width=36
height=14
script1op1=inv_count,inventory:inv,dibber
script1=gt,0
font=p12_full
shadowed=yes
text=Dibber
colour=0x872300
activecolour=0x7DD764

[com_5]
type=text
x=104
y=24
width=17
height=14
script1op1=inv_count,inventory:inv,dibber
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_6]
type=text
x=24
y=56
width=35
height=14
script1op1=inv_count,inventory:inv,spade
script1=gt,0
font=p12_full
shadowed=yes
text=Spade
colour=0x872300
activecolour=0x7DD764

[com_7]
type=text
x=24
y=72
width=17
height=14
script1op1=inv_count,inventory:inv,spade
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_8]
type=text
x=104
y=56
width=58
height=14
script1op1=inv_count,inventory:inv,secateurs
script1op2=inv_count,inventory:inv,fairy_enchanted_secateurs
script1=gt,0
font=p12_full
shadowed=yes
text=Secateurs
colour=0x872300
activecolour=0x7DD750

[com_9]
type=text
x=104
y=72
width=17
height=14
script1op1=inv_count,inventory:inv,secateurs
script1op2=inv_count,inventory:inv,fairy_enchanted_secateurs
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_10]
type=text
x=24
y=104
width=74
height=14
script1op1=inv_count,inventory:inv,watering_can_0
script1op2=inv_count,inventory:inv,watering_can_1
script1op3=inv_count,inventory:inv,watering_can_2
script1op4=inv_count,inventory:inv,watering_can_3
script1op5=inv_count,inventory:inv,watering_can_4
script1op6=inv_count,inventory:inv,watering_can_5
script1op7=inv_count,inventory:inv,watering_can_6
script1op8=inv_count,inventory:inv,watering_can_7
script1op9=inv_count,inventory:inv,watering_can_8
script1=gt,0
font=p12_full
shadowed=yes
text=Watering Can
colour=0x872300
activecolour=0x7DD764

[com_11]
type=text
x=24
y=120
width=17
height=14
script1op1=inv_count,inventory:inv,watering_can_0
script1op2=inv_count,inventory:inv,watering_can_1
script1op3=inv_count,inventory:inv,watering_can_2
script1op4=inv_count,inventory:inv,watering_can_3
script1op5=inv_count,inventory:inv,watering_can_4
script1op6=inv_count,inventory:inv,watering_can_5
script1op7=inv_count,inventory:inv,watering_can_6
script1op8=inv_count,inventory:inv,watering_can_7
script1op9=inv_count,inventory:inv,watering_can_8
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD750

[com_12]
type=text
x=104
y=104
width=34
height=14
script1op1=inv_count,inventory:inv,gardening_trowel
script1=gt,0
font=p12_full
shadowed=yes
text=Trowel
colour=0x872300
activecolour=0x7DB464

[com_13]
type=text
x=104
y=120
width=17
height=14
script1op1=inv_count,inventory:inv,gardening_trowel
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_14]
type=text
x=24
y=152
width=45
height=14
script1op1=inv_count,inventory:inv,bucket_empty
script1=gt,0
font=p12_full
shadowed=yes
text=Buckets
colour=0x872300
activecolour=0x7DD764

[com_15]
type=text
x=24
y=168
width=17
height=14
script1op1=inv_count,inventory:inv,bucket_empty
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_16]
type=text
x=104
y=152
width=49
height=14
script1op1=inv_count,inventory:inv,bucket_compost
script1=gt,0
font=p12_full
shadowed=yes
text=Compost
colour=0x872300
activecolour=0x7DD764

[com_17]
type=text
x=104
y=168
width=17
height=14
script1op1=inv_count,inventory:inv,bucket_compost
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764

[com_18]
type=text
x=24
y=200
width=85
height=14
script1op1=inv_count,inventory:inv,bucket_supercompost
script1=gt,0
font=p12_full
shadowed=yes
text=Super Compost
colour=0x872300
activecolour=0x7DD764

[com_19]
type=text
x=24
y=216
width=17
height=14
script1op1=inv_count,inventory:inv,bucket_supercompost
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
