[com_0]
type=rect
x=0
y=0
width=516
height=388
fill=yes
colour=0x35382C

[com_1]
type=model
x=294
y=108
width=32
height=32
model=com_i5
zoom=656
xan=216
yan=2047

[com_2]
type=text
x=433
y=4
buttontype=normal
width=74
height=14
font=p12_full
text=Close Window
colour=0x728863
overcolour=0x95B182

[com_3]
type=text
x=402
y=249
width=42
height=17
font=q8_full
text=Burgh
colour=0x343412

[com_4]
type=text
x=328
y=161
width=58
height=17
font=q8_full
text=Mort'ton
colour=0x343412

[com_5]
type=text
x=351
y=21
width=43
height=17
font=q8_full
text=Canifis
colour=0x343412

[com_6]
type=text
x=264
y=101
width=34
height=17
font=q8_full
text=Mort
colour=0x343412

[com_7]
type=text
x=418
y=266
width=49
height=17
font=q8_full
text=DeRott
colour=0x233219

[com_8]
type=text
x=270
y=114
width=38
height=17
font=q8_full
text=Myre
colour=0x343412

[com_9]
type=text
x=261
y=126
width=45
height=17
font=q8_full
text=Swamp
colour=0x343412

[com_10]
type=text
x=386
y=125
width=48
height=17
font=q8_full
text=Hollows
colour=0x343412

[com_11]
type=text
x=400
y=109
width=26
height=17
font=q8_full
text=The
colour=0x343412

[com_12]
type=model
x=66
y=14
width=86
height=44
model=com_i6
zoom=1106
xan=459
yan=2035

[com_13]
type=model
x=64
y=86
width=79
height=38
model=com_i6
zoom=1106
xan=498
yan=1005

[com_14]
type=model
x=39
y=170
width=87
height=36
model=com_i6
zoom=1106
xan=474

[com_18]
type=model
x=92
y=265
width=32
height=32
model=com_i7
zoom=728
xan=483

[com_19]
type=text
x=52
y=271
width=100
height=17
font=q8_full
text=Choose a route
colour=0x35382C

[com_21]
type=text
x=71
y=22
buttontype=normal
width=82
height=27
overlayer=com_23
font=q8_full
text=Route One
colour=0x343412
overcolour=0x343412

[com_23]
type=layer
x=20
y=12
width=464
height=304
hide=yes

[com_16]
layer=com_23
type=model
x=72
y=253
width=32
height=32
model=com_i7
zoom=728
xan=483

[com_20]
layer=com_23
type=model
x=274
y=96
buttontype=normal
width=32
height=32
model=com_i8
zoom=656
xan=216
yan=2047

[com_22]
layer=com_23
type=text
x=51
y=10
width=82
height=27
font=q8_full
text=Route One
colour=0x0000CC
overcolour=0x0000CC

[com_59]
layer=com_23
type=text
x=25
y=246
width=77
height=47
font=q8_full
text=Slow plod, \ncan evade \nencounters.
colour=0x35382C

[com_25]
type=text
x=66
y=98
buttontype=normal
width=79
height=23
overlayer=com_27
font=q8_full
text=Route Two
colour=0x343412
overcolour=0x343412

[com_27]
type=layer
x=20
y=12
width=464
height=304
hide=yes

[com_17]
layer=com_27
type=model
x=72
y=253
width=32
height=32
model=com_i7
zoom=728
xan=483

[com_24]
layer=com_27
type=model
x=274
y=96
width=32
height=32
model=com_i9
zoom=656
xan=216
yan=2047

[com_26]
layer=com_27
type=text
x=46
y=86
width=79
height=23
font=q8_full
text=Route Two
colour=0xCDCB4D
overcolour=0xCDCB4D

[com_60]
layer=com_27
type=text
x=25
y=246
width=112
height=47
font=q8_full
text=Leisurely walk, \nharder to evade \nencounters.
colour=0x35382C

[com_29]
type=text
x=39
y=176
buttontype=normal
width=89
height=25
overlayer=com_31
font=q8_full
text=Route Three
colour=0x343412
overcolour=0x343412

[com_31]
type=layer
x=20
y=12
width=464
height=304
hide=yes

[com_15]
layer=com_31
type=model
x=72
y=253
width=32
height=32
model=com_i7
zoom=728
xan=483

[com_28]
layer=com_31
type=model
x=274
y=96
width=32
height=32
model=com_i10
zoom=656
xan=216
yan=2047

[com_30]
layer=com_31
type=text
x=19
y=164
width=89
height=25
font=q8_full
text=Route Three
colour=0xD13C3C
overcolour=0xD13C3C

[com_61]
layer=com_31
type=text
x=25
y=246
width=120
height=47
font=q8_full
text=Brisk walk, \nimpossible to \nevade encounters.
colour=0x35382C

[com_32]
type=model
x=294
y=108
width=32
height=32
model=com_i11
zoom=656
xan=216
yan=2047

[com_33]
type=text
x=214
y=29
width=48
height=17
font=q8_full
text=Temple
colour=0x343412

[com_34]
type=model
x=361
y=166
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,1
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_35]
type=model
x=247
y=187
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,2
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_36]
type=model
x=245
y=126
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,3
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_37]
type=model
x=272
y=25
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,10
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_38]
type=model
x=283
y=112
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,4
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_39]
type=model
x=320
y=98
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,5
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_40]
type=model
x=308
y=77
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,6
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_41]
type=model
x=253
y=55
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,7
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_42]
type=model
x=305
y=35
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,8
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_43]
type=model
x=265
y=34
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,9
activemodel=com_i12
activeanim=templetrek_exclaimation_mark
zoom=1907
xan=610
yan=3

[com_44]
type=model
x=230
y=93
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,11
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_45]
type=model
x=240
y=83
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,12
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_46]
type=model
x=245
y=76
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,13
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_47]
type=model
x=246
y=67
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,14
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_48]
type=model
x=232
y=44
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,15
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_49]
type=model
x=236
y=29
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,16
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_50]
type=model
x=395
y=115
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,17
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_51]
type=model
x=382
y=75
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,18
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_52]
type=model
x=368
y=61
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,19
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_53]
type=model
x=361
y=55
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,20
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_54]
type=model
x=359
y=49
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,21
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_55]
type=model
x=359
y=44
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,22
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_56]
type=model
x=365
y=37
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,23
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_57]
type=model
x=368
y=25
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,24
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12

[com_58]
type=model
x=345
y=12
width=32
height=32
script1op1=push_varbit,templetrek_event_flash
script1=eq,25
activemodel=com_i12
anim=templetrek_exclaimation_mark
zoom=1907
xan=592
yan=12
