[com_0]
type=model
x=241
y=160
width=32
height=32
model=com_i313
zoom=151
xan=509
yan=1536

[com_1]
type=model
x=235
y=150
width=32
height=32
model=com_i314
zoom=137
xan=493
yan=355

[com_2]
type=model
x=231
y=159
width=32
height=32
model=com_i315
zoom=150
xan=474
yan=32

[com_3]
type=model
x=232
y=157
width=32
height=32
model=com_i315
zoom=99
xan=474
yan=32

[com_4]
type=model
x=236
y=159
width=32
height=32
model=com_i315
zoom=307
xan=474
yan=32

[com_5]
type=model
x=236
y=159
width=32
height=32
model=com_i316
zoom=197
xan=159
yan=57

[com_6]
type=layer
x=110
y=38
width=335
height=259

[com_9]
layer=com_6
type=model
x=74
y=-5
width=32
height=32
model=obj_coins

[com_10]
layer=com_6
type=model
x=37
y=57
width=32
height=32
model=obj_coins
zoom=306
xan=353
yan=1927

[com_11]
layer=com_6
type=model
x=29
y=131
width=32
height=32
model=obj_coins
zoom=306
xan=328
yan=1916

[com_12]
layer=com_6
type=model
x=55
y=199
width=32
height=32
model=obj_coins
zoom=306
xan=311
yan=1735

[com_13]
layer=com_6
type=model
x=301
y=117
width=32
height=32
model=obj_coins
zoom=306
xan=361
yan=1883

[com_14]
layer=com_6
type=model
x=271
y=193
width=32
height=32
model=obj_coins
zoom=306
xan=360
yan=1905

[com_15]
layer=com_6
type=model
x=241
y=-11
width=32
height=32
model=obj_coins
zoom=306
xan=380
yan=1870

[com_16]
layer=com_6
type=model
x=292
y=39
width=25
height=45
model=obj_coins
zoom=306
xan=351
yan=1844

[com_7]
type=text
x=429
y=10
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x5A747F
overcolour=0x83A6B5

[com_8]
type=model
x=233
y=148
width=32
height=32
model=com_i316
zoom=127
xan=159
yan=57
