[com_0]
type=model
x=241
y=52
width=32
height=32
model=com_i682
zoom=110
xan=479

[com_1]
type=model
x=80
y=177
buttontype=normal
width=70
height=69
model=com_i683
zoom=500
xan=233
yan=2036
option=Choose refreshment

[com_2]
type=model
x=172
y=177
buttontype=normal
width=74
height=70
model=com_i684
zoom=500
xan=260
yan=2000
option=Choose refreshment

[com_3]
type=model
x=268
y=176
buttontype=normal
width=74
height=71
model=com_i685
zoom=500
xan=244
yan=2024
option=Choose refreshment

[com_4]
type=model
x=359
y=175
buttontype=normal
width=73
height=71
model=com_i686
zoom=500
xan=236
yan=2041
option=Choose refreshment

[com_5]
type=model
x=121
y=88
buttontype=normal
width=67
height=68
model=com_i687
zoom=500
xan=249
yan=2020
option=Choose refreshment

[com_6]
type=model
x=221
y=85
buttontype=normal
width=74
height=71
model=com_i688
zoom=500
xan=339
yan=2017
option=Choose refreshment

[com_7]
type=model
x=324
y=86
buttontype=normal
width=75
height=71
model=com_i689
zoom=500
xan=281
yan=2034
option=Choose refreshment

[com_8]
type=text
x=425
y=10
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_9]
type=text
x=89
y=278
width=326
height=14
center=yes
font=b12_full
shadowed=yes
text=Choose your refreshment from the sandwich tray
colour=0xFFFF00
