[com_0]
type=inv
x=57
y=39
buttontype=normal
width=6
height=1
margin=32,0
option1=Pick

[com_1]
type=text
x=193
y=3
width=86
height=17
font=q8_full
text=Pick a kitten
colour=0xAA0000

[com_2]
type=graphic
x=284
y=5
width=57
height=13
graphic=sworddecor,0

[com_3]
type=graphic
x=132
y=5
width=57
height=13
graphic=sworddecor,1
