[com_0]
type=model
x=220
y=137
width=32
height=32
model=com_i336
zoom=914
xan=481

[com_1]
type=text
x=88
y=44
width=335
height=17
font=q8_full
text=wom1
colour=0xF0BB5E

[com_2]
type=text
x=88
y=60
width=335
height=17
font=q8_full
text=wom2
colour=0xF0BB5E

[com_3]
type=text
x=88
y=76
width=335
height=17
font=q8_full
text=wom3
colour=0xF0BB5E

[com_4]
type=text
x=88
y=92
width=335
height=17
font=q8_full
text=wom4
colour=0xF0BB5E

[com_5]
type=text
x=88
y=108
width=335
height=17
font=q8_full
text=wom5
colour=0xF0BB5E

[com_6]
type=text
x=88
y=124
width=335
height=17
font=q8_full
text=wom6
colour=0xF0BB5E

[com_7]
type=text
x=88
y=140
width=335
height=17
font=q8_full
text=wom7
colour=0xF0BB5E

[com_8]
type=text
x=88
y=156
width=335
height=17
font=q8_full
text=wom8
colour=0xF0BB5E

[com_9]
type=text
x=88
y=172
width=335
height=17
font=q8_full
text=wom9
colour=0xF0BB5E

[com_10]
type=text
x=88
y=188
width=335
height=17
font=q8_full
text=wom10
colour=0xF0BB5E

[com_11]
type=text
x=88
y=204
width=335
height=17
font=q8_full
text=wom11
colour=0xF0BB5E

[com_12]
type=text
x=88
y=220
width=335
height=17
font=q8_full
text=wom12
colour=0xF0BB5E

[com_13]
type=text
x=88
y=236
width=335
height=17
font=q8_full
text=wom13
colour=0xF0BB5E

[com_14]
type=text
x=88
y=252
width=335
height=17
font=q8_full
text=wom14
colour=0xF0BB5E

[com_15]
type=text
x=88
y=268
width=335
height=17
font=q8_full
text=wom15
colour=0xF0BB5E

[com_16]
type=text
x=88
y=284
width=335
height=17
font=q8_full
text=wom16
colour=0xF0BB5E

[com_17]
type=text
x=470
y=9
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x888888
