[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[com_2]
type=text
x=8
y=3
width=464
height=17
center=yes
font=q8_full
text=What would you like to smelt?
colour=0x800000

[com_3]
type=inv
x=25
y=37
width=8
height=1
margin=25,0

[com_4]
type=model
x=25
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_5]
type=model
x=82
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_6]
type=model
x=139
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_7]
type=model
x=196
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_8]
type=model
x=253
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_9]
type=model
x=310
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_10]
type=model
x=367
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_11]
type=model
x=424
y=37
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_12]
type=text
x=15
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Bronze

[com_13]
type=text
x=15
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Bronze

[com_14]
type=text
x=15
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
option=Smelt 5 @lre@Bronze

[com_15]
type=text
x=15
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,0
center=yes
font=p12_full
text=\n\n\n\nBronze
colour=0xA00000
option=Smelt 1 @lre@Bronze

[com_16]
type=text
x=72
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Iron

[com_17]
type=text
x=72
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Iron

[com_18]
type=text
x=72
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Iron

[com_19]
type=text
x=72
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,14
center=yes
font=p12_full
text=\n\n\n\nIron
colour=0xA00000
option=Smelt 1 @lre@Iron

[com_20]
type=text
x=129
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Silver

[com_21]
type=text
x=129
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Silver

[com_22]
type=text
x=129
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Silver

[com_23]
type=text
x=129
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,19
center=yes
font=p12_full
text=\n\n\n\nSilver
colour=0xA00000
option=Smelt 1 @lre@Silver

[com_24]
type=text
x=186
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Steel

[com_25]
type=text
x=186
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Steel

[com_26]
type=text
x=186
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Steel

[com_27]
type=text
x=186
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,29
center=yes
font=p12_full
text=\n\n\n\nSteel
colour=0xA00000
option=Smelt 1 @lre@Steel

[com_28]
type=text
x=243
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Gold

[com_29]
type=text
x=243
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Gold

[com_30]
type=text
x=243
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Gold

[com_31]
type=text
x=243
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,39
center=yes
font=p12_full
text=\n\n\n\nGold
colour=0xA00000
option=Smelt 1 @lre@Gold

[com_32]
type=text
x=300
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Mithril

[com_33]
type=text
x=300
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Mithril

[com_34]
type=text
x=300
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Mithril

[com_35]
type=text
x=300
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,49
center=yes
font=p12_full
text=\n\n\n\nMithril
colour=0xA00000
option=Smelt 1 @lre@Mithril

[com_36]
type=text
x=357
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Adamant

[com_37]
type=text
x=357
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Adamant

[com_38]
type=text
x=357
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Adamant

[com_39]
type=text
x=357
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,69
center=yes
font=p12_full
text=\n\n\n\nAdamant
colour=0xA00000
option=Smelt 1 @lre@Adamant

[com_40]
type=text
x=414
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt X @lre@Rune

[com_41]
type=text
x=414
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 10 @lre@Rune

[com_42]
type=text
x=414
y=28
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
option=Smelt 5 @lre@Rune

[com_43]
type=text
x=414
y=28
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,84
center=yes
font=p12_full
text=\n\n\n\nRune
colour=0xA00000
option=Smelt 1 @lre@Rune
