[com_2]
type=layer
x=457
y=256
width=53
height=41

[com_0]
layer=com_2
type=graphic
x=15
y=0
width=25
height=25
graphic=headicons_pk,0

[com_1]
layer=com_2
type=text
x=17
y=24
width=20
height=4
script1op1=coordz
script1op2=subtract
script1op3=push_constant,3520
script1op4=divide
script1op5=push_constant,8
script1op6=push_constant,1
script2op1=coordz
script2op2=subtract
script2op3=push_constant,3520
script2op4=divide
script2op5=push_constant,8
script2op6=push_constant,1
script1=gt,0
script2=lt,100
center=yes
font=p12_full
shadowed=yes
activetext=Level: %1
colour=0xFFFF00
activecolour=0xFFFF00
