[com_10]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_0]
layer=com_10
type=model
x=127
y=261
width=32
height=32
model=com_i415
zoom=1200
xan=496

[com_1]
layer=com_10
type=model
x=254
y=50
width=32
height=32
model=com_i416
zoom=800
xan=500

[com_11]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_2]
layer=com_11
type=model
x=153
y=32
width=32
height=32
model=com_i417
zoom=800
xan=500

[com_3]
layer=com_11
type=model
x=176
y=295
width=32
height=32
model=com_i418
zoom=800
xan=500

[com_12]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_4]
layer=com_12
type=model
x=137
y=136
width=32
height=32
model=com_i419
zoom=800
xan=500

[com_13]
type=layer
x=0
y=0
width=512
height=400
hide=yes

[com_5]
layer=com_13
type=model
x=262
y=40
width=32
height=32
model=com_i420
zoom=800
xan=500

[com_6]
layer=com_13
type=model
x=199
y=128
width=32
height=32
model=com_i421
zoom=1200
xan=500

[com_14]
type=layer
x=0
y=0
width=512
height=400
hide=yes

[com_7]
layer=com_14
type=model
x=95
y=295
width=32
height=32
model=com_i422
zoom=800
xan=500

[com_15]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_8]
layer=com_15
type=model
x=153
y=32
width=32
height=32
model=com_i417
zoom=800
xan=500

[com_9]
layer=com_15
type=model
x=174
y=294
width=32
height=32
model=com_i423
zoom=800
xan=500

[com_16]
type=layer
x=24
y=24
width=512
height=334
hide=yes

[com_17]
layer=com_16
type=model
x=79
y=217
width=54
height=31
model=com_i424
zoom=800
xan=480
