[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[com_2]
type=model
x=93
y=16
width=64
height=96
model=com_i613
zoom=183
xan=159
yan=36

[com_3]
type=model
x=323
y=13
width=64
height=96
model=obj_cheese
zoom=400
xan=221
yan=1877

[com_4]
type=text
x=74
y=16
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,37
center=yes
font=q8_full
text=\n\n\n\nChurn Butter
colour=0xA00000
option=Churn Butter

[com_5]
type=text
x=305
y=16
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,47
center=yes
font=q8_full
text=\n\n\n\nChurn Cheese
colour=0xA00000
option=Churn Cheese

[com_6]
type=text
x=8
y=3
width=461
height=15
center=yes
font=q8_full
text=What would you like to make in the churn?
