type=overlay

[com_0]
type=text
x=4
y=10
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00

[com_1]
type=text
x=52
y=10
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00

[com_2]
type=text
x=4
y=40
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000

[com_3]
type=layer
x=4
y=60
width=145
height=190

[com_4]
layer=com_3
type=graphic
x=4
y=36
width=72
height=36
graphic=combatboxes,1
activegraphic=combatboxes,1

[com_6]
layer=com_3
type=graphic
x=4
y=108
buttontype=normal
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Select

[com_7]
layer=com_3
type=graphic
x=23
y=41
width=34
height=24
graphic=combaticons,15

[com_8]
layer=com_3
type=graphic
x=25
y=111
width=30
height=30
graphic=prayeron,13

[com_9]
layer=com_3
type=text
x=77
y=36
width=19
height=12
font=p11_full
shadowed=yes
text=Kick
colour=0xFFFF00

[com_10]
layer=com_3
type=text
x=78
y=119
width=60
height=12
font=p11_full
shadowed=yes
text=Aim and Fire
colour=0xFFFF00

[com_11]
layer=com_3
type=text
x=77
y=48
width=64
height=12
font=p11_full
text=(Aggressive)
colour=0xFFFF00

[com_5]
type=model
x=132
y=25
width=32
height=32
model=obj_iron_battleaxe
zoom=624
xan=521
yan=1288

[com_12]
type=text
x=81
y=121
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00
