[com_0]
type=rect
x=-1
y=0
width=543
height=357
fill=yes

[com_1]
type=model
x=240
y=454
width=32
height=32
model=npc_3649
anim=fear_cut
zoom=467
xan=132
yan=6
