[com_0]
type=text
x=21
y=5
width=441
height=17
center=yes
font=q8_full
text=Line1

[com_1]
type=text
x=21
y=29
width=441
height=17
center=yes
font=q8_full
text=Line2

[com_2]
type=text
x=21
y=53
width=441
height=17
center=yes
font=q8_full
text=Line3
