[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=model
x=37
y=413
width=32
height=32
model=com_i159
anim=banner_bacteria_moves
zoom=645
xan=352
yan=139

[com_2]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_3]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_4]
type=model
x=106
y=423
width=32
height=32
model=com_i159
anim=banner_bacteria_moves
zoom=808
xan=154
yan=1509

[com_5]
type=model
x=72
y=455
width=32
height=32
model=com_i159
anim=banner_bacteria_moves
zoom=1143
xan=152
yan=1905

[com_6]
type=model
x=648
y=451
width=32
height=32
model=com_i159
anim=banner_bacteria_moves
zoom=752
xan=1931
yan=90

[com_7]
type=model
x=694
y=444
width=32
height=32
model=com_i160
anim=banner_virus_moves
zoom=1118
xan=136
yan=64

[com_8]
type=text
x=333
y=408
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000
