[com_0]
type=layer
x=37
y=37
width=387
height=287

[com_5]
layer=com_0
type=model
x=163
y=79
width=55
height=81
model=com_i161
zoom=643
xan=510

[com_1]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_2]
type=layer
x=48
y=78
width=342
height=215
scroll=1000

[com_4]
layer=com_2
type=text
x=8
y=0
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item1

[com_6]
layer=com_2
type=text
x=8
y=20
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item2

[com_7]
layer=com_2
type=text
x=8
y=40
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item3

[com_8]
layer=com_2
type=text
x=8
y=60
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item4

[com_9]
layer=com_2
type=text
x=8
y=80
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item5

[com_10]
layer=com_2
type=text
x=8
y=100
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item6

[com_11]
layer=com_2
type=text
x=8
y=120
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item7

[com_12]
layer=com_2
type=text
x=8
y=140
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item8

[com_13]
layer=com_2
type=text
x=8
y=160
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item9

[com_14]
layer=com_2
type=text
x=8
y=180
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item10

[com_15]
layer=com_2
type=text
x=8
y=200
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item11

[com_16]
layer=com_2
type=text
x=8
y=220
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item12

[com_17]
layer=com_2
type=text
x=8
y=240
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item13

[com_18]
layer=com_2
type=text
x=8
y=260
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item14

[com_19]
layer=com_2
type=text
x=8
y=280
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item15

[com_20]
layer=com_2
type=text
x=8
y=300
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item16

[com_21]
layer=com_2
type=text
x=8
y=320
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item17

[com_22]
layer=com_2
type=text
x=8
y=340
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item18

[com_23]
layer=com_2
type=text
x=8
y=360
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item19

[com_24]
layer=com_2
type=text
x=8
y=380
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item20

[com_25]
layer=com_2
type=text
x=8
y=400
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item21

[com_26]
layer=com_2
type=text
x=8
y=420
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item22

[com_27]
layer=com_2
type=text
x=8
y=440
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item23

[com_28]
layer=com_2
type=text
x=8
y=460
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item24

[com_29]
layer=com_2
type=text
x=8
y=480
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item25

[com_30]
layer=com_2
type=text
x=8
y=500
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item26

[com_31]
layer=com_2
type=text
x=8
y=520
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item27

[com_32]
layer=com_2
type=text
x=8
y=540
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item28

[com_33]
layer=com_2
type=text
x=8
y=560
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item29

[com_34]
layer=com_2
type=text
x=8
y=580
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item30

[com_35]
layer=com_2
type=text
x=8
y=600
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item31

[com_36]
layer=com_2
type=text
x=8
y=620
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item32

[com_37]
layer=com_2
type=text
x=8
y=640
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item33

[com_38]
layer=com_2
type=text
x=8
y=660
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item34

[com_39]
layer=com_2
type=text
x=8
y=680
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item35

[com_40]
layer=com_2
type=text
x=8
y=700
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item36

[com_41]
layer=com_2
type=text
x=8
y=720
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item37

[com_42]
layer=com_2
type=text
x=7
y=740
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item38

[com_43]
layer=com_2
type=text
x=8
y=760
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item39

[com_44]
layer=com_2
type=text
x=8
y=780
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item40

[com_45]
layer=com_2
type=text
x=8
y=800
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item41

[com_46]
layer=com_2
type=text
x=8
y=820
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item42

[com_47]
layer=com_2
type=text
x=8
y=840
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item43

[com_48]
layer=com_2
type=text
x=8
y=860
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item44

[com_49]
layer=com_2
type=text
x=8
y=880
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item45

[com_50]
layer=com_2
type=text
x=8
y=900
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item46

[com_51]
layer=com_2
type=text
x=8
y=920
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item47

[com_52]
layer=com_2
type=text
x=8
y=940
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item48

[com_53]
layer=com_2
type=text
x=8
y=960
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item49

[com_54]
layer=com_2
type=text
x=8
y=980
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item50

[com_3]
type=text
x=53
y=56
width=139
height=17
font=q8_full
text=List of needed items:
