[com_0]
type=model
x=237
y=183
width=32
height=32
model=com_i598
zoom=256
xan=501

[com_1]
type=model
x=243
y=39
width=32
height=32
model=com_i597
zoom=799
xan=512
yan=2031

[com_2]
type=model
x=103
y=256
width=32
height=32
model=com_i599
zoom=400
xan=106
yan=207

[com_3]
type=model
x=340
y=223
width=32
height=32
model=com_i600
anim=cat_pounce
activeanim=cat_pounce
zoom=400
xan=73
yan=237
