[com_0]
type=model
x=219
y=135
width=32
height=32
model=com_i336
zoom=874
xan=492

[com_1]
type=text
x=419
y=13
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_2]
type=model
x=74
y=76
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_3]
type=model
x=119
y=82
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_4]
type=model
x=168
y=77
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_5]
type=model
x=216
y=71
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_6]
type=model
x=266
y=71
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_7]
type=model
x=316
y=76
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_8]
type=model
x=359
y=81
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_9]
type=model
x=404
y=84
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_10]
type=model
x=74
y=81
width=32
height=195
model=com_i628
zoom=400
xan=512

[com_11]
type=model
x=119
y=87
width=32
height=195
model=com_i634
zoom=400
xan=512

[com_12]
type=model
x=168
y=83
width=32
height=195
model=com_i630
zoom=400
xan=512

[com_13]
type=model
x=216
y=76
width=32
height=195
model=com_i632
zoom=400
xan=512

[com_14]
type=model
x=266
y=77
width=32
height=195
model=com_i628
zoom=400
xan=512

[com_15]
type=model
x=316
y=81
width=32
height=195
model=com_i638
zoom=400
xan=512

[com_16]
type=model
x=359
y=85
width=32
height=195
model=com_i640
zoom=400
xan=512

[com_17]
type=model
x=404
y=89
width=32
height=195
model=com_i636
zoom=400
xan=512

[com_18]
type=model
x=272
y=39
width=32
height=32
model=com_i626
zoom=541
xan=512
