[com_0]
type=model
x=227
y=162
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_2]
type=model
x=150
y=229
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_3]
type=model
x=165
y=49
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_4]
type=model
x=340
y=62
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_5]
type=model
x=253
y=138
width=32
height=32
model=com_i702
zoom=999
xan=512

[com_6]
type=model
x=321
y=250
width=47
height=34
model=com_i111
zoom=531
xan=512
yan=1556

[com_7]
type=model
x=185
y=196
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_8]
type=model
x=272
y=178
width=32
height=32
model=com_i32
zoom=1215
xan=512
yan=1778

[com_9]
type=model
x=325
y=204
width=32
height=32
model=com_i113
zoom=2279
xan=512

[com_10]
type=model
x=349
y=171
width=32
height=32
model=com_i113
zoom=2023
xan=512

[com_11]
type=model
x=230
y=238
width=32
height=32
model=com_i702
zoom=999
xan=512

[com_12]
type=model
x=197
y=138
width=32
height=32
model=com_i113
zoom=2023
xan=512

[com_13]
type=model
x=325
y=109
width=32
height=32
model=com_i113
zoom=2023
xan=512

[com_14]
type=model
x=197
y=110
width=32
height=32
model=com_i113
zoom=2023
xan=512

[com_15]
type=model
x=222
y=92
width=32
height=32
model=com_i113
zoom=2023
xan=512

[com_16]
type=model
x=159
y=109
width=32
height=32
model=com_i195
zoom=2023
xan=512

[com_17]
type=model
x=175
y=72
width=32
height=32
model=com_i195
zoom=2023
xan=512

[com_18]
type=model
x=231
y=218
width=32
height=32
model=com_i196
zoom=1255
xan=512

[com_19]
type=model
x=231
y=202
width=32
height=32
model=com_i196
zoom=1255
xan=512

[com_20]
type=model
x=231
y=186
width=32
height=32
model=com_i196
zoom=1255
xan=512

[com_21]
type=model
x=253
y=178
width=32
height=32
model=com_i196
zoom=1255
xan=512
yan=512

[com_22]
type=model
x=253
y=179
width=32
height=32
model=com_i196
zoom=1255
xan=512
yan=512

[com_23]
type=model
x=238
y=178
width=32
height=32
model=com_i196
zoom=1255
xan=512
yan=512

[com_24]
type=model
x=238
y=179
width=32
height=32
model=com_i196
zoom=1255
xan=512
yan=512

[com_25]
type=text
x=229
y=213
width=13
height=12
font=p11_full
text=3N
colour=0x4C3D26

[com_26]
type=text
x=255
y=180
width=12
height=12
font=p11_full
text=2E
colour=0x4C3D26

[com_27]
type=model
x=319
y=92
width=32
height=32
model=com_i196
zoom=615
xan=656
yan=360

[com_28]
type=model
x=309
y=95
width=32
height=32
model=com_i196
zoom=615
xan=605
yan=411

[com_29]
type=model
x=285
y=96
width=32
height=32
model=com_i196
zoom=615
xan=674
yan=570

[com_30]
type=model
x=259
y=91
width=32
height=32
model=com_i196
zoom=487
xan=677
yan=615

[com_31]
type=model
x=237
y=82
width=32
height=32
model=com_i196
zoom=487
xan=710
yan=699

[com_32]
type=model
x=219
y=70
width=32
height=32
model=com_i196
zoom=615
xan=737
yan=783

[com_33]
type=model
x=199
y=58
width=32
height=32
model=com_i196
zoom=487
xan=740
yan=654

[com_34]
type=model
x=176
y=53
width=32
height=32
model=com_i196
zoom=615
xan=761
yan=507

[com_35]
type=model
x=331
y=57
width=32
height=32
model=com_i196
zoom=615
xan=695
yan=1020

[com_36]
type=model
x=305
y=88
width=32
height=32
model=com_i196
zoom=615
xan=617
yan=441

[com_37]
type=model
x=286
y=88
width=32
height=32
model=com_i196
zoom=615
xan=674
yan=570

[com_38]
type=model
x=260
y=83
width=32
height=32
model=com_i196
zoom=487
xan=677
yan=615

[com_39]
type=model
x=238
y=74
width=32
height=32
model=com_i196
zoom=487
xan=710
yan=699

[com_40]
type=model
x=220
y=62
width=32
height=32
model=com_i196
zoom=615
xan=737
yan=780

[com_41]
type=model
x=200
y=51
width=32
height=32
model=com_i196
zoom=615
xan=740
yan=654

[com_42]
type=model
x=177
y=47
width=32
height=32
model=com_i196
zoom=615
xan=761
yan=507

[com_43]
type=model
x=254
y=48
width=32
height=32
model=com_i195
zoom=2023
xan=512

[com_44]
type=model
x=330
y=75
width=32
height=32
model=com_i196
zoom=615
xan=701
yan=1068

[com_45]
type=model
x=329
y=64
width=32
height=32
model=com_i196
zoom=487
xan=680
yan=513

[com_46]
type=model
x=312
y=53
width=32
height=32
model=com_i196
zoom=615
xan=695
yan=1020

[com_47]
type=model
x=325
y=55
width=32
height=32
model=com_i196
zoom=615
xan=695
yan=1020

[com_48]
type=model
x=324
y=70
width=32
height=32
model=com_i196
zoom=615
xan=701
yan=1068

[com_49]
type=model
x=161
y=50
width=32
height=32
model=com_i196
zoom=615
xan=674
yan=1452

[com_50]
type=model
x=321
y=83
width=32
height=32
model=com_i196
zoom=999
xan=623
yan=333

[com_51]
type=model
x=300
y=54
width=32
height=32
model=com_i113
zoom=2023
xan=512
