[com_0]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=394
y=239
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=307
y=239
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=220
y=239
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=132
y=239
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=34
y=26
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=34
y=86
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=34
y=146
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=34
y=206
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=34
y=239
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=122
y=80
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=122
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=122
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=118
y=239
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=394
y=26
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=394
y=81
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=394
y=141
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=394
y=200
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=13
y=49
width=36
height=36
graphic=miscgraphics,2

[com_31]
type=graphic
x=13
y=85
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=13
y=121
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=13
y=157
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=13
y=193
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=13
y=228
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=13
y=252
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=467
y=51
width=36
height=36
graphic=steelborder2,1

[com_38]
type=graphic
x=467
y=86
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=467
y=122
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=467
y=158
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=50
y=34
width=36
height=36
graphic=steelborder2,0

[com_42]
type=graphic
x=467
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=467
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=467
y=264
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=81
y=284
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=112
y=284
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=284
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=179
y=284
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=213
y=284
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=249
y=284
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=284
y=284
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=320
y=284
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=355
y=284
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=391
y=284
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=427
y=284
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=49
y=284
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=28
y=275
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=463
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=463
y=275
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=28
y=20
width=25
height=30
graphic=steelborder,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=452
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=34
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=text
x=200
y=29
width=92
height=14
font=b12_full
shadowed=yes
text=Silver Casting
colour=0xFFAA44

[com_88]
type=text
x=402
y=31
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFAA44

[com_89]
type=layer
x=67
y=68
width=380
height=225

[com_90]
layer=com_89
type=layer
x=8
y=6
width=86
height=100

[com_91]
layer=com_90
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_92]
layer=com_90
type=text
x=11
y=37
width=65
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Saradomin \nSymbol
colour=0xFFAA44

[com_93]
layer=com_89
type=layer
x=8
y=6
width=86
height=100
hide=yes

[com_94]
layer=com_93
type=model
x=24
y=8
width=32
height=32
zoom=400

[com_95]
layer=com_93
type=text
x=1
y=42
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nHoly Symbol\n mould to make\n this item.
colour=0xFFAA44

[com_97]
layer=com_89
type=layer
x=10
y=116
width=86
height=100

[com_98]
layer=com_97
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_99]
layer=com_97
type=text
x=15
y=38
width=51
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Zamorak\nSymbol
colour=0xFFAA44

[com_100]
layer=com_89
type=layer
x=10
y=116
width=86
height=100
hide=yes

[com_101]
layer=com_100
type=model
x=24
y=8
width=32
height=32
zoom=400

[com_102]
layer=com_100
type=text
x=1
y=42
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need an \nUnholy Symbol\n mould to make\n this item.
colour=0xFFAA44

[com_104]
layer=com_89
type=layer
x=96
y=6
width=86
height=100

[com_105]
layer=com_104
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_106]
layer=com_104
type=text
x=26
y=37
width=32
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nSilver\nSickle
colour=0xFFAA44

[com_107]
layer=com_89
type=layer
x=96
y=6
width=86
height=100
hide=yes

[com_108]
layer=com_107
type=model
x=26
y=3
width=32
height=32
zoom=400

[com_109]
layer=com_107
type=text
x=10
y=36
width=68
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nsickle mould\n to make\n this item.
colour=0xFFAA44

[com_111]
layer=com_89
type=layer
x=101
y=116
width=86
height=100

[com_112]
layer=com_111
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_113]
layer=com_111
type=text
x=16
y=34
width=52
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nLightning\nRod
colour=0xFFAA44

[com_114]
layer=com_89
type=layer
x=101
y=116
width=86
height=100
hide=yes

[com_115]
layer=com_114
type=model
x=26
y=3
width=32
height=32
zoom=400

[com_116]
layer=com_114
type=text
x=10
y=36
width=65
height=62
center=yes
font=p12_full
shadowed=yes
text=You need a \nlightning \nrod mould\n to make\n this item.
colour=0xFFAA44

[com_118]
layer=com_89
type=layer
x=191
y=5
width=86
height=100

[com_119]
layer=com_118
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_120]
layer=com_118
type=text
x=26
y=37
width=29
height=26
center=yes
font=p12_full
shadowed=yes
text=Make\nTiara
colour=0xFFAA44

[com_121]
layer=com_89
type=layer
x=191
y=5
width=86
height=100
hide=yes

[com_122]
layer=com_121
type=model
x=26
y=3
width=32
height=32
zoom=400

[com_123]
layer=com_121
type=text
x=10
y=36
width=69
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n Tiara Mould \nto make\n a tiara.
colour=0xFFAA44

[com_125]
layer=com_89
type=layer
x=192
y=116
width=86
height=100

[com_126]
layer=com_125
type=inv
x=26
y=3
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_128]
layer=com_125
type=text
x=10
y=38
width=49
height=38
center=yes
font=p12_full
shadowed=yes
text=Make \nSilvthrill \nRod
colour=0xFFAA44

[com_129]
layer=com_89
type=layer
x=192
y=116
width=86
height=100
hide=yes

[com_130]
layer=com_129
type=model
x=24
y=8
width=32
height=32
zoom=400

[com_131]
layer=com_129
type=text
x=6
y=41
width=72
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \n Rod mould \nto make this \nitem.
colour=0xFFAA44

[com_133]
layer=com_89
type=layer
x=284
y=5
width=86
height=100

[com_134]
layer=com_133
type=inv
x=24
y=8
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_135]
layer=com_133
type=text
x=4
y=43
width=78
height=26
center=yes
font=p12_full
shadowed=yes
text=Make demonic\nsigil
colour=0xFFAA44

[com_136]
layer=com_89
type=layer
x=284
y=5
width=86
height=100
hide=yes

[com_137]
layer=com_136
type=model
x=24
y=8
width=32
height=32
zoom=400

[com_138]
layer=com_136
type=text
x=3
y=42
width=80
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n demonic sigil\nmould to make\nthis item.
colour=0xFFAA44

[com_96]
type=text
x=298
y=298
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_103]
type=text
x=298
y=299
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_110]
type=text
x=298
y=299
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_117]
type=text
x=297
y=299
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_124]
type=text
x=297
y=298
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_127]
type=model
x=280
y=171
width=32
height=32
zoom=400

[com_132]
type=text
x=297
y=298
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00

[com_139]
type=text
x=297
y=298
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
