[com_0]
type=rect
x=0
y=0
width=765
height=503

[com_1]
type=graphic
x=132
y=13
width=503
height=47
graphic=titlescroll,0

[com_2]
type=graphic
x=29
y=74
width=343
height=90
graphic=button_brown_big,0

[com_3]
type=graphic
x=394
y=74
width=343
height=90
graphic=button_brown_big,0

[com_4]
type=graphic
x=394
y=183
width=343
height=90
graphic=button_brown_big,0

[com_5]
type=graphic
x=29
y=183
width=343
height=90
graphic=button_brown_big,0

[com_6]
type=graphic
x=271
y=292
buttontype=close
width=229
height=90
graphic=button_red,0

[com_7]
type=graphic
x=398
y=78
width=79
height=82
graphic=letter,0

[com_8]
type=graphic
x=33
y=79
width=69
height=82
graphic=key,0

[com_9]
type=graphic
x=400
y=189
width=77
height=82
graphic=coins,0

[com_10]
type=graphic
x=34
y=188
width=66
height=82
graphic=chest,0

[com_11]
type=graphic
x=276
y=295
width=66
height=83
graphic=startgame,0

[com_12]
type=text
x=303
y=19
width=156
height=17
font=q8_full
text=Welcome to Runescape
colour=0xFF0000

[com_13]
type=text
x=267
y=39
clientcode=660
width=227
height=14
center=yes
font=p12_full
text=You last logged in @red@%1@bla@ days ago from @red@%2

[com_14]
type=text
x=96
y=84
clientcode=661
width=275
height=74
center=yes
font=p12_full
text=1\n2\n3\n4\n5\n6
colour=0xFFFF00

[com_15]
type=text
x=507
y=83
width=204
height=38
center=yes
font=p12_full
shadowed=yes
text=Jagex Staff will NEVER email you.\n We use the message centre on this \nwebsite instead.
colour=0xFFFF00

[com_16]
type=text
x=521
y=127
clientcode=662
width=176
height=26
center=yes
font=p12_full
shadowed=yes
text=You have %1 unread messages\nin your message centre.
colour=0xFFFF00

[com_17]
type=text
x=529
y=199
clientcode=665
width=158
height=58
center=yes
font=p12_full
shadowed=yes
text=1\n2\n3\n4\n5
colour=0xFFFF00

[com_18]
type=text
x=348
y=330
width=126
height=14
font=b12_full
shadowed=yes
text=CLICK HERE TO PLAY
colour=0xFFFFFF

[com_19]
type=text
x=159
y=206
width=145
height=50
center=yes
font=p12_full
shadowed=yes
text=1\n2\n3\n4
colour=0xFFFF00

[com_20]
type=8
x=394
y=73
width=343
height=92
text=To view your messages:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Read your messages from Jagex'.

[com_21]
type=8
x=393
y=182
clientcode=667
width=344
height=91
text=To start or cancel a subscription:\n1) Logout and return to the frontpage of this website.\n2) Choose the relevant option from the 'membership' section.\n\nNote: If you are a credit card subscriber a top-up payment will\nautomatically be taken when 3 days credit remain.\n(unless you cancel your subscription, which can be done \nat any time.)

[com_22]
type=8
x=29
y=74
clientcode=668
width=344
height=90
text=To change your recovery questions:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Set new recovery questions'.
