[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[com_1]
type=layer
x=0
y=0
width=512
height=334

[com_2]
layer=com_1
type=model
x=242
y=172
width=32
height=32
model=com_i381
zoom=345
xan=520
yan=6

[com_3]
type=layer
x=0
y=0
width=512
height=334

[com_4]
layer=com_3
type=model
x=239
y=171
width=32
height=32
model=com_i382
zoom=345
xan=520
yan=6

[com_5]
type=layer
x=0
y=0
width=512
height=334

[com_6]
layer=com_5
type=model
x=236
y=173
width=32
height=32
model=com_i383
zoom=339
xan=521
yan=2043

[com_7]
type=layer
x=0
y=0
width=512
height=334

[com_8]
layer=com_7
type=model
x=239
y=174
width=32
height=32
model=com_i384
zoom=332
xan=574
yan=2039

[com_9]
type=layer
x=445
y=13
width=66
height=28

[com_10]
layer=com_9
type=text
x=19
y=5
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00

[com_11]
type=layer
x=0
y=0
width=512
height=334

[com_12]
layer=com_11
type=model
x=239
y=171
width=32
height=32
model=com_i385
zoom=345
xan=520
yan=6

[com_13]
type=layer
x=0
y=0
width=512
height=334

[com_14]
layer=com_13
type=model
x=236
y=173
width=32
height=32
model=com_i386
zoom=339
xan=521
yan=2043

[com_15]
type=layer
x=0
y=0
width=512
height=334

[com_16]
layer=com_15
type=model
x=239
y=174
width=32
height=32
model=com_i387
zoom=332
xan=574
yan=2039

[com_17]
type=layer
x=0
y=46
width=512
height=27
hide=yes

[com_18]
layer=com_17
type=text
x=0
y=5
width=512
height=14
center=yes
font=b12_full
shadowed=yes
text=That's it, it all makes sense now! If you were a dwarf, that is...
colour=0xFFFF00
