[com_0]
type=model
x=241
y=172
width=32
height=32
model=com_i395
anim=smokeoverlay
zoom=64
xan=2047
yan=2

[com_1]
type=model
x=248
y=412
width=32
height=32
anim=smokeoverlay
zoom=64
xan=2047
yan=2

[com_2]
type=model
x=257
y=39
width=32
height=32
anim=smokeoverlay
zoom=64
xan=2047
yan=2
