[com_0]
type=model
x=240
y=154
width=32
height=32
model=com_i609
zoom=191
xan=513

[com_1]
type=rect
x=2
y=68
width=508
height=172
fill=yes
colour=0x202020

[com_2]
type=rect
x=7
y=74
width=499
height=164
fill=yes
colour=0x404040

[com_3]
type=layer
x=11
y=31
width=488
height=36

[com_4]
type=model
x=32
y=122
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_5]
type=model
x=115
y=122
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_6]
type=model
x=198
y=122
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_7]
type=model
x=281
y=122
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_8]
type=model
x=365
y=123
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_9]
type=model
x=449
y=122
width=32
height=32
model=com_i16
zoom=800
xan=400

[com_10]
type=text
x=43
y=113
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_11]
type=text
x=126
y=113
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_12]
type=text
x=210
y=113
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_13]
type=text
x=292
y=114
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_14]
type=text
x=376
y=114
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_15]
type=text
x=460
y=114
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050

[com_16]
type=model
x=223
y=11
width=32
height=32
model=com_i610
zoom=278
xan=396
yan=6

[com_17]
type=graphic
x=15
y=194
buttontype=normal
width=31
height=24
graphic=leftarrow_small,0

[com_18]
type=graphic
x=51
y=194
buttontype=normal
width=31
height=24
graphic=rightarrow_small,0

[com_19]
type=graphic
x=97
y=194
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[com_20]
type=graphic
x=133
y=194
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[com_21]
type=graphic
x=179
y=194
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[com_22]
type=graphic
x=216
y=194
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[com_23]
type=graphic
x=264
y=194
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[com_24]
type=graphic
x=300
y=194
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[com_25]
type=graphic
x=348
y=194
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[com_26]
type=graphic
x=384
y=194
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[com_27]
type=graphic
x=468
y=193
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[com_28]
type=graphic
x=433
y=193
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[com_29]
type=text
x=420
y=39
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_30]
type=text
x=206
y=36
width=110
height=14
center=yes
font=b12_full
shadowed=yes
text=Name your cat ...
colour=0xFFAA44

[com_31]
type=rect
x=193
y=262
buttontype=normal
width=128
height=32
fill=yes
colour=0x404040

[com_32]
type=text
x=229
y=269
width=53
height=14
font=b12_full
text=E N T E R
colour=0xFFAA44

[com_33]
type=model
x=32
y=397
width=20
height=32
model=obj_wileycatobject_light
zoom=400
xan=11
yan=1941

[com_34]
type=model
x=469
y=395
width=32
height=32
model=obj_cavewitchcat
zoom=400
xan=11
yan=128

[com_35]
type=model
x=69
y=250
width=32
height=32
model=com_i611
zoom=491
xan=612
yan=77

[com_36]
type=model
x=89
y=252
width=32
height=32
model=com_i611
zoom=550
xan=612
yan=77

[com_37]
type=model
x=417
y=249
width=32
height=32
model=com_i611
zoom=427
xan=612
yan=77

[com_38]
type=model
x=398
y=251
width=32
height=32
model=com_i611
zoom=521
xan=612
yan=77
