[com_0]
type=rect
x=-1
y=0
width=512
height=334
fill=yes
colour=0x433621

[com_1]
type=model
x=223
y=139
width=32
height=32
model=com_i336
zoom=907
xan=377
yan=5

[com_2]
type=text
x=80
y=181
width=118
height=17
font=q8_full
text=Waterbirth Island
colour=0x282315

[com_3]
type=text
x=102
y=81
width=70
height=17
font=q8_full
text=Miscellania
colour=0x282315

[com_4]
type=text
x=309
y=81
width=60
height=17
font=q8_full
text=Etceteria
colour=0x282315

[com_5]
type=text
x=329
y=264
width=53
height=17
font=q8_full
text=Rellekka
colour=0x282315

[com_6]
type=model
x=276
y=136
width=32
height=32
model=com_i337
zoom=896
xan=234
yan=63
