[com_0]
type=model
x=151
y=143
width=31
height=32
model=com_i45
anim=bear_headless_beast_walk
zoom=256

[com_1]
type=model
x=151
y=143
width=31
height=32
model=com_i46
anim=bear_headless_beast_walk
zoom=255

[com_2]
type=model
x=151
y=143
width=31
height=32
model=com_i47
anim=bear_headless_beast_walk
zoom=256

[com_3]
type=model
x=64
y=60
width=31
height=32
model=com_i48
zoom=420
xan=1900

[com_4]
type=model
x=151
y=60
width=31
height=32
model=com_i49
zoom=420
xan=1900

[com_5]
type=model
x=238
y=60
width=31
height=32
model=com_i48
zoom=420
xan=1900

[com_6]
type=model
x=60
y=143
width=31
height=32
model=com_i48
zoom=420

[com_7]
type=model
x=151
y=143
width=31
height=32
model=com_i48
zoom=420

[com_8]
type=model
x=242
y=143
width=31
height=32
model=com_i50
zoom=420

[com_9]
type=model
x=64
y=229
width=31
height=32
model=com_i51
zoom=420
xan=150

[com_10]
type=model
x=150
y=230
width=31
height=32
model=com_i48
zoom=420
xan=150

[com_11]
type=model
x=239
y=230
width=31
height=32
model=com_i48
zoom=420
xan=150

[com_12]
type=model
x=151
y=139
width=31
height=32
model=com_i52
zoom=256

[com_13]
type=model
x=60
y=139
width=31
height=32
model=com_i52
zoom=256

[com_14]
type=model
x=242
y=139
width=31
height=32
model=com_i52
zoom=256

[com_15]
type=text
x=429
y=10
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x79613B
overcolour=0xAB8850

[com_16]
type=text
x=34
y=317
width=80
height=17
center=yes
font=b12_full
text=DIAMOND
colour=0xCEAF7E

[com_17]
type=text
x=125
y=317
width=80
height=17
center=yes
font=b12_full
text=COINS
colour=0xCEAF7E

[com_18]
type=text
x=216
y=317
width=80
height=17
center=yes
font=b12_full
text=RING
colour=0xCEAF7E

[com_19]
type=text
x=378
y=150
buttontype=normal
width=70
height=14
font=b12_full
text=U N L O C K
colour=0x4F3F26
overcolour=0xD9AD66
option=U N L O C K

[com_20]
type=model
x=49
y=4
buttontype=normal
width=54
height=33
zoom=400
option=Up (left)

[com_21]
type=model
x=141
y=4
buttontype=normal
width=54
height=33
zoom=400
option=Up (middle)

[com_22]
type=model
x=232
y=4
buttontype=normal
width=54
height=33
zoom=400
option=Up (right)

[com_23]
type=model
x=47
y=285
buttontype=normal
width=54
height=33
zoom=400
option=Down (left)

[com_24]
type=model
x=138
y=286
buttontype=normal
width=54
height=33
zoom=400
option=Down (middle)

[com_25]
type=model
x=229
y=287
buttontype=normal
width=54
height=33
zoom=400
option=Down (right)
