[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes
colour=0xF622C0C

[com_1]
type=rect
x=0
y=150
width=511
height=19
fill=yes

[com_2]
type=rect
x=5
y=89
width=86
height=145
fill=yes
colour=0xF303030

[com_3]
type=rect
x=470
y=90
width=86
height=145
fill=yes
colour=0xF303030

[com_4]
type=rect
x=99
y=0
width=359
height=334
fill=yes
colour=0xF303030

[com_5]
type=rect
x=107
y=0
width=343
height=334
fill=yes
colour=0xF585858

[com_6]
type=rect
x=12
y=98
width=71
height=130
fill=yes
colour=0xF585858

[com_7]
type=rect
x=479
y=99
width=71
height=130
fill=yes
colour=0xF585858

[com_8]
type=rect
x=7
y=53
width=84
height=24
fill=yes
colour=0xF312314

[com_9]
type=text
x=16
y=57
buttontype=normal
width=72
height=18
font=p12_full
shadowed=yes
text=open casket
colour=0xFFFF00

[com_10]
type=text
x=14
y=29
buttontype=normal
width=75
height=16
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00

[com_11]
type=rect
x=114
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_12]
type=rect
x=151
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_13]
type=rect
x=188
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_14]
type=rect
x=225
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_15]
type=rect
x=262
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_16]
type=rect
x=299
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_17]
type=rect
x=336
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_18]
type=rect
x=373
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_19]
type=rect
x=410
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_20]
type=rect
x=114
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_21]
type=rect
x=151
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_22]
type=rect
x=188
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_23]
type=rect
x=225
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_24]
type=rect
x=262
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_25]
type=rect
x=299
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_26]
type=rect
x=336
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_27]
type=rect
x=373
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_28]
type=rect
x=410
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_29]
type=rect
x=114
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_30]
type=rect
x=151
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_31]
type=rect
x=188
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_32]
type=rect
x=225
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_33]
type=rect
x=262
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_34]
type=rect
x=299
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_35]
type=rect
x=336
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_36]
type=rect
x=373
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_37]
type=rect
x=410
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_38]
type=rect
x=114
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_39]
type=rect
x=151
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_40]
type=rect
x=188
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_41]
type=rect
x=225
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_42]
type=rect
x=262
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_43]
type=rect
x=299
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_44]
type=rect
x=336
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_45]
type=rect
x=373
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_46]
type=rect
x=410
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_47]
type=rect
x=114
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_48]
type=rect
x=151
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_49]
type=rect
x=188
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_50]
type=rect
x=225
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_51]
type=rect
x=262
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_52]
type=rect
x=299
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_53]
type=rect
x=336
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_54]
type=rect
x=373
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_55]
type=rect
x=410
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_56]
type=rect
x=114
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_57]
type=rect
x=151
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_58]
type=rect
x=188
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_59]
type=rect
x=225
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_60]
type=rect
x=262
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_61]
type=rect
x=299
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_62]
type=rect
x=336
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_63]
type=rect
x=373
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_64]
type=rect
x=410
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_65]
type=rect
x=114
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_66]
type=rect
x=151
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_67]
type=rect
x=188
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_68]
type=rect
x=225
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_69]
type=rect
x=262
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_70]
type=rect
x=299
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_71]
type=rect
x=336
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_72]
type=rect
x=373
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_73]
type=rect
x=410
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_74]
type=rect
x=114
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_75]
type=rect
x=151
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_76]
type=rect
x=188
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_77]
type=rect
x=225
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_78]
type=rect
x=262
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_79]
type=rect
x=299
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_80]
type=rect
x=336
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_81]
type=rect
x=373
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_82]
type=rect
x=410
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_83]
type=rect
x=115
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_84]
type=rect
x=151
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_85]
type=rect
x=189
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_86]
type=rect
x=225
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_87]
type=rect
x=262
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_88]
type=rect
x=299
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[com_89]
type=rect
x=336
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_90]
type=rect
x=373
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_91]
type=rect
x=410
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[com_92]
type=layer
x=4
y=284
width=47
height=48

[com_102]
layer=com_92
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_112]
layer=com_92
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_93]
type=layer
x=3
y=234
width=47
height=48

[com_103]
layer=com_93
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_113]
layer=com_93
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_94]
type=layer
x=3
y=184
width=47
height=48

[com_104]
layer=com_94
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_114]
layer=com_94
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_95]
type=layer
x=3
y=134
width=47
height=48

[com_105]
layer=com_95
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_115]
layer=com_95
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_96]
type=layer
x=3
y=84
width=47
height=48

[com_106]
layer=com_96
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_116]
layer=com_96
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_97]
type=layer
x=52
y=134
width=47
height=48

[com_107]
layer=com_97
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_117]
layer=com_97
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_98]
type=layer
x=52
y=184
width=47
height=48

[com_108]
layer=com_98
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_118]
layer=com_98
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_99]
type=layer
x=52
y=234
width=47
height=48

[com_109]
layer=com_99
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_119]
layer=com_99
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_100]
type=layer
x=53
y=284
width=47
height=48

[com_110]
layer=com_100
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_120]
layer=com_100
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_101]
type=layer
x=52
y=84
width=47
height=48

[com_111]
layer=com_101
type=model
x=8
y=8
width=32
height=32
model=com_i571
zoom=600
xan=500

[com_121]
layer=com_101
type=model
x=8
y=8
width=32
height=32
activemodel=com_i572
zoom=600
xan=500

[com_122]
type=model
x=12
y=292
buttontype=normal
width=32
height=32
model=com_i573
zoom=600
xan=500
yan=1050

[com_123]
type=model
x=11
y=242
buttontype=normal
width=32
height=32
model=com_i574
zoom=600
xan=500
yan=1050

[com_124]
type=model
x=9
y=193
buttontype=normal
width=32
height=32
model=com_i575
zoom=600
xan=500
yan=1050

[com_125]
type=model
x=9
y=92
buttontype=normal
width=32
height=32
model=com_i576
zoom=600
xan=500
yan=1050

[com_126]
type=model
x=10
y=142
buttontype=normal
width=32
height=32
model=com_i577
zoom=600
xan=500
yan=1050

[com_127]
type=model
x=59
y=143
buttontype=normal
width=32
height=32
model=com_i578
zoom=600
xan=500
yan=1050

[com_128]
type=model
x=59
y=193
buttontype=normal
width=32
height=32
model=com_i579
zoom=600
xan=500
yan=1050

[com_129]
type=model
x=60
y=242
buttontype=normal
width=32
height=32
model=com_i580
zoom=600
xan=500
yan=1050

[com_130]
type=model
x=61
y=292
buttontype=normal
width=32
height=32
model=com_i581
zoom=600
xan=500
yan=1050

[com_131]
type=model
x=60
y=92
buttontype=normal
width=32
height=32
model=com_i572
zoom=600
xan=500

[com_132]
type=inv
x=114
y=4
width=9
height=9
margin=5,5
