[com_0]
type=rect
x=0
y=0
width=512
height=340
fill=yes

[com_1]
type=model
x=244
y=189
width=32
height=32
model=com_i349
zoom=739
xan=512

[com_2]
type=model
x=246
y=10
width=32
height=32
model=com_i158
zoom=1182
xan=512

[com_3]
type=model
x=57
y=76
width=70
height=92
model=obj_vial_empty
zoom=346
xan=116
yan=1942

[com_4]
type=model
x=142
y=52
width=64
height=96
model=obj_stafforb
zoom=293
xan=590
yan=868

[com_5]
type=model
x=220
y=73
width=64
height=96
model=obj_beer_glass
zoom=338
xan=147
yan=40

[com_6]
type=model
x=307
y=69
width=64
height=96
model=obj_candle_lantern_unlit
zoom=741
xan=53
yan=1965

[com_7]
type=model
x=392
y=66
width=64
height=96
model=obj_oil_lamp_unlit
zoom=687
xan=197
yan=1921

[com_8]
type=model
x=143
y=170
width=64
height=96
model=obj_bullseye_lantern_lens
zoom=378
xan=427
yan=2031

[com_9]
type=model
x=65
y=201
width=59
height=79
model=obj_fishbowl_empty
zoom=652
xan=125
yan=2042

[com_10]
type=text
x=55
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_11]
type=text
x=55
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_12]
type=text
x=55
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_13]
type=text
x=55
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nVial
overcolour=0x00C000
option=Make 1

[com_14]
type=text
x=135
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_15]
type=text
x=135
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_16]
type=text
x=135
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_17]
type=text
x=135
y=81
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nOrb
overcolour=0x00C000
option=Make 1

[com_18]
type=text
x=216
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_19]
type=text
x=216
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_20]
type=text
x=216
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_21]
type=text
x=216
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nBeer Glass
overcolour=0x00C000
option=Make 1

[com_22]
type=text
x=299
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_23]
type=text
x=299
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_24]
type=text
x=299
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_25]
type=text
x=299
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nCandle\nLantern
overcolour=0x00C000
option=Make 1

[com_26]
type=text
x=383
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make X

[com_27]
type=text
x=383
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_28]
type=text
x=383
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_29]
type=text
x=383
y=82
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nOil\nLamp
overcolour=0x00C000
option=Make 1

[com_30]
type=text
x=135
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make X

[com_31]
type=text
x=135
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_32]
type=text
x=135
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_33]
type=text
x=135
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nLantern\nLens
overcolour=0x00C000
option=Make 1

[com_34]
type=text
x=55
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make X

[com_35]
type=text
x=55
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_36]
type=text
x=55
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_37]
type=text
x=55
y=209
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nFishbowl
overcolour=0x00C000
option=Make 1

[com_38]
type=text
x=30
y=18
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?

[com_39]
type=text
x=430
y=7
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x604820
overcolour=0xA08048
