[com_0]
type=model
x=415
y=17
width=32
height=32
model=com_i679
zoom=843
xan=421

[com_1]
type=text
x=388
y=15
width=89
height=17
font=q8_full
shadowed=yes
text=Enchantment
colour=0x9E7144

[com_2]
type=text
x=375
y=39
width=72
height=12
font=p11_full
shadowed=yes
text=Pizazz Points:
colour=0x996600

[com_3]
type=text
x=459
y=40
width=28
height=12
font=p11_full
shadowed=yes
text=9999
colour=0xCC6600

[com_4]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_8]
layer=com_4
type=model
x=-1
y=-1
width=32
height=32
model=loc_10799_8
zoom=1395
xan=96
yan=1282

[com_5]
type=layer
x=463
y=285
width=32
height=32
hide=yes

[com_9]
layer=com_5
type=model
x=1
y=2
width=32
height=32
model=loc_10800_8
zoom=1397
xan=91
yan=1716

[com_6]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_10]
layer=com_6
type=model
x=1
y=2
width=32
height=32
model=loc_10802_8
zoom=1071
xan=96
yan=975

[com_7]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_11]
layer=com_7
type=model
x=0
y=1
width=32
height=32
model=loc_10801_8
zoom=1180
xan=105
yan=1907

[com_12]
type=text
x=461
y=242
width=34
height=12
font=p11_full
shadowed=yes
text=Bonus:
colour=0x996600
