[com_0]
type=layer
x=58
y=22
width=35
height=14

[com_1]
layer=com_0
type=rect
x=1
y=-4
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_2]
type=layer
x=93
y=22
width=40
height=14

[com_3]
layer=com_2
type=rect
x=0
y=-6
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_4]
type=layer
x=133
y=22
width=41
height=14

[com_5]
layer=com_4
type=rect
x=0
y=-6
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_6]
type=layer
x=173
y=22
width=41
height=14

[com_7]
layer=com_6
type=rect
x=1
y=-4
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_8]
type=layer
x=213
y=22
width=41
height=14

[com_9]
layer=com_8
type=rect
x=1
y=-2
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_10]
type=layer
x=253
y=22
width=41
height=14

[com_11]
layer=com_10
type=rect
x=1
y=-1
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_12]
type=layer
x=293
y=22
width=40
height=14

[com_13]
layer=com_12
type=rect
x=1
y=-3
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_14]
type=layer
x=332
y=22
width=41
height=14

[com_15]
layer=com_14
type=rect
x=1
y=-2
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_16]
type=layer
x=372
y=22
width=40
height=14

[com_17]
layer=com_16
type=rect
x=1
y=-1
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_18]
type=layer
x=411
y=22
width=36
height=14

[com_19]
layer=com_18
type=rect
x=1
y=-3
width=41
height=41
trans=10
fill=yes
colour=0xCC6600

[com_20]
type=rect
x=48
y=22
width=11
height=14
trans=50
fill=yes
colour=0x999900

[com_21]
type=rect
x=48
y=36
width=409
height=11
trans=50
fill=yes
colour=0x999900

[com_22]
type=rect
x=447
y=22
width=10
height=14
trans=50
fill=yes
colour=0x999900

[com_23]
type=rect
x=48
y=13
width=409
height=9
trans=50
fill=yes
colour=0x999900

[com_24]
type=text
x=217
y=47
width=79
height=17
font=q8_full
shadowed=yes
text=Rage level. 
colour=0xCC6600
