[com_0]
type=text
x=383
y=24
width=32
height=17
font=q8_full
shadowed=yes
text=Text
colour=0xFFFF00

[com_1]
type=text
x=383
y=73
width=32
height=17
font=q8_full
shadowed=yes
text=Text
colour=0xFFFF00

[com_2]
type=model
x=465
y=24
width=32
height=32
model=npc_gertrudescat_head
zoom=1165
xan=10
yan=37

[com_3]
type=model
x=466
y=72
width=32
height=32
model=npc_kittenpet1_head
zoom=1165
xan=32
yan=56

[com_4]
type=text
x=443
y=43
width=14
height=14
font=p12_full
shadowed=yes
text=10
colour=0xFFFF00

[com_5]
type=text
x=442
y=91
width=14
height=14
font=p12_full
shadowed=yes
text=10
colour=0xFFFF00

[com_6]
type=graphic
x=480
y=302
width=25
height=25
graphic=staticons2,4

[com_7]
type=layer
x=136
y=120
width=268
height=121
hide=yes

[com_8]
layer=com_7
type=model
x=119
y=32
width=32
height=32
model=com_i622
zoom=576
xan=512

[com_9]
layer=com_7
type=text
x=72
y=28
width=124
height=17
center=yes
font=q8_full
text=Your cat has been

[com_10]
layer=com_7
type=text
x=110
y=49
width=59
height=17
font=q8_full
text=Defeated
