[com_0]
type=layer
x=40
y=62
width=450
height=15
hide=yes

[com_9]
layer=com_0
type=text
x=0
y=0
width=451
height=17
center=yes
font=b12_full
shadowed=yes
text=Five hundred years have passed since the rule of King Alvis,
colour=0xFF0000

[com_1]
type=layer
x=40
y=77
width=451
height=18
hide=yes

[com_10]
layer=com_1
type=text
x=0
y=1
width=451
height=18
center=yes
font=b12_full
shadowed=yes
text=saviour of Keldagrim, victim of his own inventions.
colour=0xFF0000

[com_2]
type=layer
x=40
y=107
width=450
height=18
hide=yes

[com_11]
layer=com_2
type=text
x=0
y=0
width=450
height=16
center=yes
font=b12_full
shadowed=yes
text=Founder of the Consortium, the gathering of mining companies
colour=0xFF0000

[com_3]
type=layer
x=39
y=124
width=450
height=18
hide=yes

[com_12]
layer=com_3
type=text
x=0
y=1
width=450
height=17
center=yes
font=b12_full
shadowed=yes
text=that were to serve the monarchy, eventually the monarchy came
colour=0xFF0000

[com_4]
type=layer
x=39
y=142
width=449
height=14
hide=yes

[com_13]
layer=com_4
type=text
x=0
y=0
width=451
height=15
center=yes
font=b12_full
shadowed=yes
text=to serve the Consortium.
colour=0xFF0000

[com_5]
type=layer
x=38
y=167
width=452
height=15
hide=yes

[com_14]
layer=com_5
type=text
x=0
y=0
width=452
height=15
center=yes
font=b12_full
shadowed=yes
text=By the time of his death, the monarchy was all but abolished.
colour=0xFF0000

[com_6]
type=layer
x=38
y=181
width=453
height=16
hide=yes

[com_15]
layer=com_6
type=text
x=0
y=0
width=452
height=16
center=yes
font=b12_full
shadowed=yes
text=By now, the Kings of Keldagrim are but a distant memory...
colour=0xFF0000

[com_7]
type=layer
x=38
y=196
width=453
height=18
hide=yes

[com_16]
layer=com_7
type=text
x=0
y=1
width=453
height=18
center=yes
font=b12_full
shadowed=yes
text=with only the statue of King Alvis to remind the people of the
colour=0xFF0000

[com_8]
type=layer
x=39
y=212
width=452
height=16
hide=yes

[com_17]
layer=com_8
type=text
x=0
y=0
width=451
height=13
center=yes
font=b12_full
shadowed=yes
text=old days.
colour=0xFF0000
