[com_0]
type=model
x=200
y=90
width=55
height=81
model=com_i161
zoom=643
xan=512

[com_1]
type=text
x=53
y=30
width=72
height=17
font=q8_full
text=Skill Name

[com_2]
type=layer
x=48
y=65
width=342
height=200
scroll=1290

[com_5]
layer=com_2
type=text
x=0
y=16
width=30
height=14
center=yes
font=p12_full

[com_6]
layer=com_2
type=text
x=0
y=48
width=30
height=14
center=yes
font=p12_full

[com_7]
layer=com_2
type=text
x=0
y=80
width=30
height=14
center=yes
font=p12_full

[com_8]
layer=com_2
type=text
x=0
y=112
width=30
height=14
center=yes
font=p12_full

[com_9]
layer=com_2
type=text
x=0
y=144
width=30
height=14
center=yes
font=p12_full

[com_10]
layer=com_2
type=text
x=0
y=176
width=30
height=14
center=yes
font=p12_full

[com_11]
layer=com_2
type=text
x=0
y=208
width=30
height=14
center=yes
font=p12_full

[com_12]
layer=com_2
type=text
x=0
y=240
width=30
height=14
center=yes
font=p12_full

[com_13]
layer=com_2
type=text
x=0
y=272
width=30
height=14
center=yes
font=p12_full

[com_14]
layer=com_2
type=text
x=0
y=304
width=30
height=14
center=yes
font=p12_full

[com_15]
layer=com_2
type=text
x=0
y=336
width=30
height=14
center=yes
font=p12_full

[com_16]
layer=com_2
type=text
x=0
y=368
width=30
height=14
center=yes
font=p12_full

[com_17]
layer=com_2
type=text
x=0
y=400
width=30
height=14
center=yes
font=p12_full

[com_18]
layer=com_2
type=text
x=0
y=432
width=30
height=14
center=yes
font=p12_full

[com_19]
layer=com_2
type=text
x=0
y=464
width=30
height=14
center=yes
font=p12_full

[com_20]
layer=com_2
type=text
x=0
y=496
width=30
height=14
center=yes
font=p12_full

[com_21]
layer=com_2
type=text
x=0
y=528
width=30
height=14
center=yes
font=p12_full

[com_22]
layer=com_2
type=text
x=0
y=560
width=30
height=14
center=yes
font=p12_full

[com_23]
layer=com_2
type=text
x=0
y=592
width=30
height=14
center=yes
font=p12_full

[com_24]
layer=com_2
type=text
x=0
y=624
width=30
height=14
center=yes
font=p12_full

[com_25]
layer=com_2
type=text
x=0
y=656
width=30
height=14
center=yes
font=p12_full

[com_26]
layer=com_2
type=text
x=0
y=688
width=30
height=14
center=yes
font=p12_full

[com_27]
layer=com_2
type=text
x=0
y=720
width=30
height=14
center=yes
font=p12_full

[com_28]
layer=com_2
type=text
x=0
y=752
width=30
height=14
center=yes
font=p12_full

[com_29]
layer=com_2
type=text
x=0
y=784
width=30
height=14
center=yes
font=p12_full

[com_30]
layer=com_2
type=text
x=0
y=816
width=30
height=14
center=yes
font=p12_full

[com_31]
layer=com_2
type=text
x=0
y=848
width=30
height=14
center=yes
font=p12_full

[com_32]
layer=com_2
type=text
x=0
y=880
width=30
height=14
center=yes
font=p12_full

[com_33]
layer=com_2
type=text
x=0
y=912
width=30
height=14
center=yes
font=p12_full

[com_34]
layer=com_2
type=text
x=0
y=944
width=30
height=14
center=yes
font=p12_full

[com_35]
layer=com_2
type=text
x=0
y=976
width=30
height=14
center=yes
font=p12_full

[com_36]
layer=com_2
type=text
x=0
y=1008
width=30
height=14
center=yes
font=p12_full

[com_37]
layer=com_2
type=text
x=0
y=1040
width=30
height=14
center=yes
font=p12_full

[com_38]
layer=com_2
type=text
x=0
y=1072
width=30
height=14
center=yes
font=p12_full

[com_39]
layer=com_2
type=text
x=0
y=1104
width=30
height=14
center=yes
font=p12_full

[com_40]
layer=com_2
type=text
x=0
y=1136
width=30
height=14
center=yes
font=p12_full

[com_41]
layer=com_2
type=text
x=0
y=1168
width=30
height=14
center=yes
font=p12_full

[com_42]
layer=com_2
type=text
x=0
y=1200
width=30
height=14
center=yes
font=p12_full

[com_43]
layer=com_2
type=text
x=0
y=1232
width=30
height=14
center=yes
font=p12_full

[com_44]
layer=com_2
type=text
x=0
y=1264
width=30
height=14
center=yes
font=p12_full

[com_45]
layer=com_2
type=text
x=60
y=16
width=280
height=14
font=p12_full

[com_46]
layer=com_2
type=text
x=60
y=48
width=280
height=14
font=p12_full

[com_47]
layer=com_2
type=text
x=60
y=80
width=280
height=14
font=p12_full

[com_48]
layer=com_2
type=text
x=60
y=112
width=280
height=14
font=p12_full

[com_49]
layer=com_2
type=text
x=60
y=144
width=280
height=14
font=p12_full

[com_50]
layer=com_2
type=text
x=60
y=176
width=280
height=14
font=p12_full

[com_51]
layer=com_2
type=text
x=60
y=208
width=280
height=14
font=p12_full

[com_52]
layer=com_2
type=text
x=60
y=240
width=280
height=14
font=p12_full

[com_53]
layer=com_2
type=text
x=60
y=272
width=280
height=14
font=p12_full

[com_54]
layer=com_2
type=text
x=60
y=304
width=280
height=14
font=p12_full

[com_55]
layer=com_2
type=text
x=60
y=336
width=280
height=14
font=p12_full

[com_56]
layer=com_2
type=text
x=60
y=368
width=280
height=14
font=p12_full

[com_57]
layer=com_2
type=text
x=60
y=400
width=280
height=14
font=p12_full

[com_58]
layer=com_2
type=text
x=60
y=432
width=280
height=14
font=p12_full

[com_59]
layer=com_2
type=text
x=60
y=464
width=280
height=14
font=p12_full

[com_60]
layer=com_2
type=text
x=60
y=496
width=280
height=14
font=p12_full

[com_61]
layer=com_2
type=text
x=60
y=528
width=280
height=14
font=p12_full

[com_62]
layer=com_2
type=text
x=60
y=560
width=280
height=14
font=p12_full

[com_63]
layer=com_2
type=text
x=60
y=592
width=280
height=14
font=p12_full

[com_64]
layer=com_2
type=text
x=60
y=624
width=280
height=14
font=p12_full

[com_65]
layer=com_2
type=text
x=60
y=656
width=280
height=14
font=p12_full

[com_66]
layer=com_2
type=text
x=60
y=688
width=280
height=14
font=p12_full

[com_67]
layer=com_2
type=text
x=60
y=720
width=280
height=14
font=p12_full

[com_68]
layer=com_2
type=text
x=60
y=752
width=280
height=14
font=p12_full

[com_69]
layer=com_2
type=text
x=60
y=784
width=280
height=14
font=p12_full

[com_70]
layer=com_2
type=text
x=60
y=816
width=280
height=14
font=p12_full

[com_71]
layer=com_2
type=text
x=60
y=848
width=280
height=14
font=p12_full

[com_72]
layer=com_2
type=text
x=60
y=880
width=280
height=14
font=p12_full

[com_73]
layer=com_2
type=text
x=60
y=912
width=280
height=14
font=p12_full

[com_74]
layer=com_2
type=text
x=60
y=944
width=280
height=14
font=p12_full

[com_75]
layer=com_2
type=text
x=60
y=976
width=280
height=14
font=p12_full

[com_76]
layer=com_2
type=text
x=60
y=1008
width=280
height=14
font=p12_full

[com_77]
layer=com_2
type=text
x=60
y=1040
width=280
height=14
font=p12_full

[com_78]
layer=com_2
type=text
x=60
y=1072
width=280
height=14
font=p12_full

[com_79]
layer=com_2
type=text
x=60
y=1104
width=280
height=14
font=p12_full

[com_80]
layer=com_2
type=text
x=60
y=1136
width=280
height=14
font=p12_full

[com_81]
layer=com_2
type=text
x=60
y=1168
width=280
height=14
font=p12_full

[com_82]
layer=com_2
type=text
x=60
y=1200
width=280
height=14
font=p12_full

[com_83]
layer=com_2
type=text
x=60
y=1232
width=280
height=14
font=p12_full

[com_84]
layer=com_2
type=text
x=60
y=1264
width=280
height=14
font=p12_full

[com_132]
layer=com_2
type=inv
x=26
y=7
width=1
height=40

[com_3]
type=text
x=48
y=50
width=30
height=14
center=yes
font=p12_full
text=Level

[com_4]
type=text
x=108
y=50
width=77
height=14
font=p12_full
text=Advancement

[com_85]
type=layer
x=413
y=18
width=88
height=180

[com_86]
layer=com_85
type=graphic
x=0
y=0
width=88
height=60
graphic=tradebacking,0

[com_87]
layer=com_85
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_88]
layer=com_85
type=graphic
x=-15
y=18
width=36
height=36
graphic=miscgraphics,2

[com_89]
layer=com_85
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_90]
layer=com_85
type=graphic
x=38
y=-15
width=36
height=36
graphic=steelborder2,0

[com_91]
layer=com_85
type=graphic
x=63
y=0
width=25
height=30
graphic=steelborder,1

[com_92]
layer=com_85
type=graphic
x=67
y=20
width=36
height=36
graphic=steelborder2,1

[com_93]
layer=com_85
type=graphic
x=25
y=45
width=36
height=36
graphic=miscgraphics,3

[com_94]
layer=com_85
type=graphic
x=0
y=36
width=25
height=30
graphic=steelborder,2

[com_95]
layer=com_85
type=graphic
x=35
y=45
width=36
height=36
graphic=miscgraphics,3

[com_96]
layer=com_85
type=graphic
x=63
y=36
width=25
height=30
graphic=steelborder,3

[com_97]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_98]
type=layer
x=413
y=18
width=88
height=180

[com_99]
layer=com_98
type=graphic
x=0
y=60
width=88
height=60
graphic=tradebacking,0

[com_100]
layer=com_98
type=graphic
x=67
y=60
width=36
height=36
graphic=steelborder2,1

[com_101]
layer=com_98
type=graphic
x=-15
y=60
width=36
height=36
graphic=miscgraphics,2

[com_102]
layer=com_98
type=graphic
x=0
y=96
width=25
height=30
graphic=steelborder,2

[com_103]
layer=com_98
type=graphic
x=63
y=96
width=25
height=30
graphic=steelborder,3

[com_104]
layer=com_98
type=graphic
x=25
y=105
width=36
height=36
graphic=miscgraphics,3

[com_105]
layer=com_98
type=graphic
x=39
y=105
width=36
height=36
graphic=miscgraphics,3

[com_106]
layer=com_98
type=graphic
x=9
y=39
width=72
height=36
graphic=combatboxes,2

[com_107]
layer=com_98
type=graphic
x=9
y=58
width=72
height=36
graphic=combatboxes,2

[com_108]
layer=com_98
type=text
x=10
y=49
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Bronze
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_109]
layer=com_98
type=text
x=10
y=68
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Iron
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_110]
type=layer
x=413
y=18
width=88
height=180

[com_111]
layer=com_110
type=graphic
x=9
y=77
width=72
height=36
graphic=combatboxes,2

[com_112]
layer=com_110
type=text
x=10
y=87
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Steel
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_113]
type=layer
x=413
y=18
width=88
height=180

[com_114]
layer=com_113
type=graphic
x=0
y=120
width=88
height=60
graphic=tradebacking,0

[com_115]
layer=com_113
type=graphic
x=-15
y=114
width=36
height=36
graphic=miscgraphics,2

[com_116]
layer=com_113
type=graphic
x=0
y=150
width=25
height=30
graphic=steelborder,2

[com_117]
layer=com_113
type=graphic
x=63
y=150
width=25
height=30
graphic=steelborder,3

[com_118]
layer=com_113
type=graphic
x=25
y=159
width=36
height=36
graphic=miscgraphics,3

[com_119]
layer=com_113
type=graphic
x=67
y=114
width=36
height=36
graphic=steelborder2,1

[com_120]
layer=com_113
type=graphic
x=44
y=159
width=36
height=36
graphic=miscgraphics,3

[com_121]
layer=com_113
type=graphic
x=9
y=96
width=72
height=36
graphic=combatboxes,2

[com_122]
layer=com_113
type=text
x=10
y=106
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Mithril
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_123]
type=layer
x=413
y=18
width=88
height=180

[com_124]
layer=com_123
type=graphic
x=9
y=115
width=72
height=36
graphic=combatboxes,2

[com_125]
layer=com_123
type=text
x=10
y=125
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Adamant
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_126]
type=layer
x=413
y=18
width=88
height=180

[com_127]
layer=com_126
type=graphic
x=9
y=134
width=72
height=36
graphic=combatboxes,2

[com_128]
layer=com_126
type=text
x=10
y=144
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Rune
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_129]
type=layer
x=413
y=18
width=88
height=180

[com_130]
layer=com_129
type=graphic
x=9
y=20
width=72
height=36
graphic=combatboxes,2

[com_131]
layer=com_129
type=text
x=10
y=30
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Smelting
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_133]
type=text
x=264
y=39
width=125
height=17
font=q8_full
text=Members only skill
colour=0xAA0000

[com_134]
type=layer
x=413
y=122
width=88
height=180

[com_135]
layer=com_134
type=graphic
x=0
y=68
width=88
height=60
graphic=tradebacking,0

[com_136]
layer=com_134
type=graphic
x=-15
y=62
width=36
height=36
graphic=miscgraphics,2

[com_137]
layer=com_134
type=graphic
x=0
y=98
width=25
height=30
graphic=steelborder,2

[com_138]
layer=com_134
type=graphic
x=63
y=98
width=25
height=30
graphic=steelborder,3

[com_139]
layer=com_134
type=graphic
x=25
y=107
width=36
height=36
graphic=miscgraphics,3

[com_140]
layer=com_134
type=graphic
x=67
y=62
width=36
height=36
graphic=steelborder2,1

[com_141]
layer=com_134
type=graphic
x=44
y=107
width=36
height=36
graphic=miscgraphics,3

[com_142]
layer=com_134
type=graphic
x=9
y=49
width=72
height=36
graphic=combatboxes,2

[com_143]
layer=com_134
type=text
x=10
y=59
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 8
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_144]
type=layer
x=413
y=70
width=88
height=232

[com_145]
layer=com_144
type=graphic
x=9
y=120
width=72
height=36
graphic=combatboxes,2

[com_146]
layer=com_144
type=text
x=10
y=130
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 9
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_147]
type=layer
x=413
y=70
width=88
height=232

[com_148]
layer=com_147
type=graphic
x=9
y=139
width=72
height=36
graphic=combatboxes,2

[com_149]
layer=com_147
type=text
x=10
y=149
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 10
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_150]
type=layer
x=413
y=176
width=88
height=180

[com_151]
layer=com_150
type=graphic
x=0
y=68
width=88
height=60
graphic=tradebacking,0

[com_152]
layer=com_150
type=graphic
x=-15
y=62
width=36
height=36
graphic=miscgraphics,2

[com_153]
layer=com_150
type=graphic
x=0
y=98
width=25
height=30
graphic=steelborder,2

[com_154]
layer=com_150
type=graphic
x=63
y=98
width=25
height=30
graphic=steelborder,3

[com_155]
layer=com_150
type=graphic
x=25
y=107
width=36
height=36
graphic=miscgraphics,3

[com_156]
layer=com_150
type=graphic
x=67
y=62
width=36
height=36
graphic=steelborder2,1

[com_157]
layer=com_150
type=graphic
x=44
y=107
width=36
height=36
graphic=miscgraphics,3

[com_158]
layer=com_150
type=graphic
x=9
y=52
width=72
height=36
graphic=combatboxes,2

[com_159]
layer=com_150
type=text
x=10
y=62
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 11
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_160]
type=layer
x=413
y=108
width=88
height=232

[com_161]
layer=com_160
type=graphic
x=9
y=139
width=72
height=36
graphic=combatboxes,2

[com_162]
layer=com_160
type=text
x=10
y=149
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 12
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[com_163]
type=layer
x=413
y=127
width=88
height=232

[com_164]
layer=com_163
type=graphic
x=9
y=139
width=72
height=36
graphic=combatboxes,2

[com_165]
layer=com_163
type=text
x=10
y=149
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 13
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
