[com_0]
type=rect
x=7
y=11
width=497
height=310
fill=yes
colour=0x806102

[com_1]
type=rect
x=13
y=17
width=484
height=298
fill=yes
colour=0x422502

[com_2]
type=rect
x=319
y=24
width=168
height=282
fill=yes
colour=0x543E04

[com_3]
type=model
x=78
y=167
width=91
height=94
model=com_i115
zoom=328

[com_4]
type=model
x=62
y=130
buttontype=select
width=26
height=27
model=com_i116
zoom=328
option=turn tile

[com_5]
type=model
x=93
y=131
buttontype=select
width=27
height=25
model=com_i117
zoom=328
option=turn tile

[com_6]
type=model
x=124
y=131
buttontype=select
width=26
height=26
model=com_i118
zoom=328
option=turn tile

[com_7]
type=model
x=154
y=131
buttontype=select
width=26
height=26
model=com_i119
zoom=328
option=turn tile

[com_8]
type=model
x=186
y=131
buttontype=select
width=26
height=26
model=com_i120
zoom=328
option=turn tile

[com_9]
type=model
x=63
y=162
buttontype=select
width=26
height=26
model=com_i121
zoom=328
option=turn tile

[com_10]
type=model
x=93
y=162
buttontype=select
width=26
height=26
model=com_i122
zoom=328
option=turn tile

[com_11]
type=model
x=123
y=162
buttontype=select
width=26
height=26
model=com_i123
zoom=328
option=turn tile

[com_12]
type=model
x=154
y=162
buttontype=select
width=26
height=26
model=com_i124
zoom=328
option=turn tile

[com_13]
type=model
x=186
y=162
buttontype=select
width=26
height=26
model=com_i125
zoom=328
option=turn tile

[com_14]
type=model
x=63
y=192
buttontype=select
width=26
height=26
model=com_i126
zoom=328
option=turn tile

[com_15]
type=model
x=93
y=192
buttontype=select
width=26
height=26
model=com_i127
zoom=328
option=turn tile

[com_16]
type=model
x=123
y=192
buttontype=select
width=26
height=26
model=com_i128
zoom=328
option=turn tile

[com_17]
type=model
x=154
y=192
buttontype=select
width=26
height=26
model=com_i129
zoom=328
option=turn tile

[com_18]
type=model
x=185
y=192
buttontype=select
width=26
height=26
model=com_i130
zoom=328
option=turn tile

[com_19]
type=model
x=63
y=222
buttontype=select
width=26
height=26
model=com_i131
zoom=328
option=turn tile

[com_20]
type=model
x=93
y=222
buttontype=select
width=26
height=26
model=com_i132
zoom=328
option=turn tile

[com_21]
type=model
x=123
y=222
buttontype=select
width=26
height=26
model=com_i133
zoom=328
option=turn tile

[com_22]
type=model
x=154
y=222
buttontype=select
width=26
height=26
model=com_i134
zoom=328
option=turn tile

[com_23]
type=model
x=186
y=222
buttontype=select
width=26
height=26
model=com_i135
zoom=328
option=turn tile

[com_24]
type=model
x=63
y=254
buttontype=select
width=26
height=26
model=com_i136
zoom=328
option=turn tile

[com_25]
type=model
x=93
y=254
buttontype=select
width=26
height=26
model=com_i137
zoom=328
option=turn tile

[com_26]
type=model
x=124
y=253
buttontype=select
width=26
height=26
model=com_i138
zoom=328
option=turn tile

[com_27]
type=model
x=154
y=253
buttontype=select
width=26
height=26
model=com_i139
zoom=328
option=turn tile

[com_28]
type=model
x=185
y=254
buttontype=select
width=26
height=26
model=com_i140
zoom=328
option=turn tile

[com_29]
type=model
x=313
y=145
buttontype=normal
width=157
height=164
model=com_i141
zoom=336
xan=2036
yan=2
option=Reset puzzle

[com_30]
type=model
x=343
y=89
width=121
height=58
model=com_i142
zoom=1021
xan=2037
yan=1519

[com_31]
type=text
x=401
y=29
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
