[com_0]
type=model
x=420
y=34
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=796
xan=40
yan=166

[com_1]
type=text
x=237
y=8
width=30
height=17
center=yes
font=q8_full
text=Both
colour=0x800000

[com_2]
type=text
x=235
y=39
width=35
height=17
center=yes
font=q8_full
text=Argh!

[com_3]
type=model
x=34
y=34
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=796
xan=40
yan=1882
