[com_0]
type=model
x=255
y=166
width=32
height=32
model=com_i737
zoom=600

[com_1]
type=model
x=208
y=231
width=32
height=32
model=com_i738
zoom=309
xan=190
yan=373

[com_2]
type=text
x=430
y=9
buttontype=close
width=71
height=14
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00

[com_3]
type=rect
x=136
y=43
width=252
height=247
trans=178
fill=yes
colour=0x666600

[com_4]
type=model
x=146
y=50
width=70
height=69
zoom=400

[com_5]
type=model
x=227
y=50
width=70
height=69
zoom=400

[com_6]
type=model
x=308
y=50
width=70
height=69
zoom=400

[com_7]
type=model
x=146
y=133
width=70
height=69
zoom=400

[com_8]
type=model
x=227
y=132
width=70
height=69
zoom=400

[com_9]
type=model
x=308
y=132
width=70
height=69
zoom=400

[com_10]
type=model
x=146
y=212
width=70
height=69
zoom=400

[com_11]
type=model
x=227
y=213
width=70
height=69
zoom=400

[com_12]
type=model
x=308
y=213
width=70
height=69
trans=255
zoom=400
