[com_0]
type=model
x=290
y=270
width=32
height=32
model=com_i396
zoom=321
xan=123
yan=1945

[com_1]
type=model
x=277
y=271
width=32
height=32
model=com_i397
zoom=321
xan=123
yan=1945

[com_2]
type=text
x=437
y=0
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
