[com_0]
type=model
x=248
y=354
width=32
height=32
model=com_i357
anim=snowfall2
zoom=200

[com_1]
type=model
x=248
y=354
width=32
height=32
model=com_i358
anim=snowfall
zoom=200
