[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_2]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_3]
type=text
x=333
y=411
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000

[com_4]
type=model
x=65
y=479
width=32
height=32
model=com_i647
anim=intro_banner_security_lock
zoom=687
xan=120
yan=228

[com_5]
type=model
x=679
y=468
width=32
height=32
model=com_i648
zoom=727
xan=105
yan=144

[com_6]
type=model
x=10
y=434
width=32
height=32
model=com_i649
zoom=2135
xan=528

[com_7]
type=model
x=41
y=434
width=32
height=32
model=com_i649
zoom=2135
xan=528

[com_8]
type=model
x=72
y=434
width=32
height=32
model=com_i649
zoom=2135
xan=528

[com_9]
type=model
x=103
y=434
width=32
height=32
model=com_i649
zoom=2135
xan=528

[com_10]
type=model
x=133
y=434
width=32
height=32
model=com_i649
zoom=2135
xan=528

[com_11]
type=model
x=605
y=434
width=32
height=32
model=com_i650
zoom=2135
xan=528

[com_12]
type=model
x=636
y=434
width=32
height=32
model=com_i650
zoom=2135
xan=528

[com_13]
type=model
x=667
y=434
width=32
height=32
model=com_i650
zoom=2135
xan=528

[com_14]
type=model
x=698
y=434
width=32
height=32
model=com_i650
zoom=2135
xan=528

[com_15]
type=model
x=728
y=434
width=32
height=32
model=com_i650
zoom=2135
xan=528
