[com_0]
type=model
x=240
y=139
width=32
height=28
model=com_i1
zoom=604
xan=400

[com_1]
type=text
x=151
y=102
width=223
height=17
font=q8_full
shadowed=yes
text=List of Fairy Queen's Symptoms.
colour=0xFFFF00

[com_2]
type=text
x=373
y=84
buttontype=close
width=28
height=12
font=p11_full
text=Close
colour=0x823C1A
overcolour=0xDD5817

[com_3]
type=text
x=122
y=131
width=115
height=17
font=q8_full
shadowed=yes
text= Extremely weak
colour=0xFFFF99

[com_4]
type=text
x=118
y=236
width=70
height=17
font=q8_full
shadowed=yes
text=High fever
colour=0xFFFF99

[com_5]
type=model
x=355
y=205
width=32
height=32
model=com_i705
zoom=273
xan=500
yan=138

[com_6]
type=text
x=121
y=174
width=197
height=17
font=q8_full
shadowed=yes
text=Drifting in and out of coma 
colour=0xFFFF99

[com_7]
type=text
x=120
y=195
width=93
height=17
font=q8_full
shadowed=yes
text=Shallow breath
colour=0xFFFF99

[com_8]
type=text
x=119
y=215
width=153
height=17
font=q8_full
shadowed=yes
text=Fading magical energy
colour=0xFFFF99

[com_9]
type=text
x=119
y=153
width=240
height=17
font=q8_full
shadowed=yes
text=Slow discorporation of ethereal body
colour=0xFFFF99
