[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_2]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_3]
type=text
x=333
y=411
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000

[com_4]
type=model
x=21
y=437
width=32
height=32
model=com_i652
anim=intro_banner_scamming_happy
zoom=900
yan=2003

[com_5]
type=model
x=634
y=442
width=32
height=32
model=com_i652
anim=intro_banner_scamming_sad
zoom=900
yan=1992

[com_6]
type=model
x=108
y=439
width=32
height=32
model=com_i653
anim=intro_banner_scamming_happy
zoom=900
yan=66

[com_7]
type=model
x=717
y=440
width=32
height=32
model=com_i653
anim=intro_banner_scamming_happy
zoom=900
yan=40

[com_8]
type=model
x=61
y=444
width=32
height=32
model=com_i654
anim=intro_banner_scamming_swap
zoom=900
yan=40

[com_9]
type=model
x=655
y=449
width=32
height=32
model=com_i655
anim=intro_banner_scamming_swap
zoom=900
yan=40
