[com_0]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i237
activemodel=com_i238
zoom=1200
xan=350

[com_1]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i239
activemodel=com_i240
zoom=1200
xan=350

[com_2]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i241
activemodel=com_i242
zoom=1200
xan=350

[com_3]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i243
activemodel=com_i244
zoom=1200
xan=350

[com_4]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i245
activemodel=com_i246
zoom=1200
xan=350

[com_5]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i247
activemodel=com_i248
zoom=1200
xan=350

[com_6]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i249
activemodel=com_i250
zoom=1200
xan=350

[com_7]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i251
activemodel=com_i252
zoom=1200
xan=350

[com_8]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i253
activemodel=com_i254
zoom=1200
xan=350

[com_9]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i255
activemodel=com_i256
zoom=1200
xan=350

[com_10]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i257
activemodel=com_i258
zoom=1200
xan=350

[com_11]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i259
activemodel=com_i260
zoom=1200
xan=350

[com_12]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i261
activemodel=com_i262
zoom=1200
xan=350

[com_13]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i263
activemodel=com_i264
zoom=1200
xan=350

[com_14]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i265
activemodel=com_i266
zoom=1200
xan=350

[com_15]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i267
activemodel=com_i268
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=com_i269
activemodel=com_i270
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i271
activemodel=com_i272
zoom=1200
xan=350

[com_18]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=com_i273
activemodel=com_i274
zoom=1200
xan=350

[com_19]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i275
activemodel=com_i276
zoom=1200
xan=350

[com_20]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=com_i277
activemodel=com_i278
zoom=1200
xan=350

[com_21]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i279
activemodel=com_i280
zoom=1200
xan=350

[com_22]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=com_i281
activemodel=com_i282
zoom=1200
xan=350

[com_23]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i283
activemodel=com_i284
zoom=1200
xan=350

[com_24]
type=model
x=248
y=130
width=32
height=32
model=com_i285
zoom=1200
xan=350

[com_25]
type=model
x=248
y=130
width=32
height=32
model=com_i286
zoom=1200
xan=350

[com_26]
type=layer
x=119
y=125
width=32
height=32
hide=yes

[com_27]
layer=com_26
type=model
x=129
y=5
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i287
activemodel=com_i288
zoom=1200
xan=350

[com_28]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[com_29]
layer=com_28
type=model
x=58
y=41
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i289
activemodel=com_i290
zoom=1200
xan=350

[com_30]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[com_31]
layer=com_30
type=model
x=64
y=-32
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i291
activemodel=com_i292
zoom=1200
xan=350

[com_32]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[com_33]
layer=com_32
type=model
x=-18
y=74
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i293
activemodel=com_i294
zoom=1200
xan=350

[com_34]
type=layer
x=268
y=90
width=32
height=32
hide=yes

[com_35]
layer=com_34
type=model
x=-20
y=40
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i295
activemodel=com_i296
zoom=1200
xan=350

[com_36]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[com_37]
layer=com_36
type=model
x=21
y=-73
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i297
activemodel=com_i298
zoom=1200
xan=350

[com_38]
type=layer
x=269
y=162
width=32
height=32
hide=yes

[com_39]
layer=com_38
type=model
x=-21
y=-32
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i299
activemodel=com_i300
zoom=1200
xan=350

[com_40]
type=layer
x=241
y=246
width=32
height=32
hide=yes

[com_41]
layer=com_40
type=model
x=7
y=-116
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i301
activemodel=com_i302
zoom=1200
xan=350

[com_42]
type=layer
x=280
y=54
width=32
height=32
hide=yes

[com_43]
layer=com_42
type=model
x=-32
y=76
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i303
activemodel=com_i304
zoom=1200
xan=350

[com_44]
type=layer
x=281
y=89
width=32
height=32
hide=yes

[com_45]
layer=com_44
type=model
x=-33
y=41
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i305
activemodel=com_i306
zoom=1200
xan=350

[com_46]
type=layer
x=287
y=202
width=32
height=32
hide=yes

[com_47]
layer=com_46
type=model
x=-39
y=-72
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i307
activemodel=com_i308
zoom=1200
xan=350

[com_48]
type=layer
x=324
y=88
width=32
height=32
hide=yes

[com_49]
layer=com_48
type=model
x=-76
y=42
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i309
activemodel=com_i310
zoom=1200
xan=350

[com_50]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00

[com_51]
type=model
x=119
y=125
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_52]
type=model
x=163
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_53]
type=model
x=156
y=163
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_54]
type=model
x=205
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_55]
type=model
x=203
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_56]
type=model
x=196
y=206
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_57]
type=model
x=242
y=30
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_58]
type=model
x=241
y=246
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_59]
type=model
x=280
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_60]
type=model
x=281
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_61]
type=model
x=287
y=202
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_62]
type=model
x=324
y=90
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_63]
type=model
x=119
y=24
width=32
height=32
model=com_i235
zoom=1200
xan=350

[com_64]
type=model
x=119
y=55
width=32
height=32
model=com_i236
zoom=1200
xan=350

[com_65]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[com_66]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
