[com_0]
type=model
x=-10
y=42
width=32
height=32
model=obj_macro_mime_mask_manhead
zoom=613
xan=17
yan=1783

[com_1]
type=model
x=457
y=41
width=32
height=32
model=obj_macro_mime_mask_manhead
zoom=622
xan=26
yan=240

[com_2]
type=text
x=87
y=56
buttontype=normal
width=26
height=17
center=yes
font=q8_full
shadowed=yes
text=Cry
colour=0x8686AF

[com_3]
type=text
x=80
y=24
buttontype=normal
width=38
height=17
center=yes
font=q8_full
shadowed=yes
text=Think
colour=0x8686AF

[com_4]
type=text
x=148
y=24
buttontype=normal
width=40
height=17
center=yes
font=q8_full
shadowed=yes
text=Laugh
colour=0x8686AF

[com_5]
type=text
x=144
y=56
buttontype=normal
width=43
height=17
center=yes
font=q8_full
shadowed=yes
text=Dance
colour=0x8686AF

[com_6]
type=text
x=220
y=25
buttontype=normal
width=75
height=17
center=yes
font=q8_full
shadowed=yes
text=Climb Rope
colour=0x8686AF

[com_7]
type=text
x=218
y=56
buttontype=normal
width=79
height=17
center=yes
font=q8_full
shadowed=yes
text=Lean on air
colour=0x8686AF

[com_8]
type=text
x=324
y=56
buttontype=normal
width=69
height=17
center=yes
font=q8_full
shadowed=yes
text=Glass Wall
colour=0x8686AF

[com_9]
type=text
x=326
y=25
buttontype=normal
width=66
height=17
center=yes
font=q8_full
shadowed=yes
text=Glass Box
colour=0x8686AF
