[com_0]
type=model
x=115
y=189
width=32
height=33
model=com_i165
zoom=410
xan=6
yan=5

[com_1]
type=model
x=80
y=98
width=32
height=32
model=com_i166
zoom=358
xan=528

[com_2]
type=model
x=184
y=227
width=35
height=34
model=com_i167
anim=pillory_key_rotate
zoom=422
xan=565

[com_3]
type=model
x=278
y=227
width=35
height=34
model=com_i168
anim=pillory_key_rotate
zoom=422
xan=565

[com_4]
type=model
x=373
y=227
width=35
height=34
model=com_i169
anim=pillory_key_rotate
zoom=422
xan=565

[com_5]
type=graphic
x=181
y=203
buttontype=normal
width=46
height=95

[com_6]
type=graphic
x=271
y=204
buttontype=normal
width=51
height=90

[com_7]
type=graphic
x=370
y=205
buttontype=normal
width=46
height=96

[com_8]
type=text
x=473
y=10
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00

[com_9]
type=model
x=180
y=25
width=34
height=33
script1op1=pushvar,macro_transmit
script1=gt,0
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[com_10]
type=model
x=230
y=25
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,1
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[com_11]
type=model
x=280
y=25
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,2
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[com_12]
type=model
x=330
y=25
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,3
model=com_i170
activemodel=com_i171
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[com_13]
type=model
x=380
y=25
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,4
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[com_14]
type=model
x=430
y=25
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,5
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9
