[com_0]
type=model
x=241
y=127
width=35
height=35
model=com_i145
zoom=477
xan=498
yan=1

[com_1]
type=model
x=241
y=127
width=35
height=35
model=com_i146
activemodel=com_i147
zoom=477
xan=498
yan=1

[com_2]
type=model
x=241
y=127
width=35
height=35
model=com_i148
activemodel=com_i148
zoom=477
xan=498
yan=1

[com_3]
type=text
x=434
y=9
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_4]
type=text
x=253
y=11
width=20
height=17
center=yes
font=q8_full
shadowed=yes
text=%1
colour=0xFF981F

[com_5]
type=layer
x=28
y=55
width=201
height=241
hide=yes

[com_6]
layer=com_5
type=model
x=87
y=-9
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_7]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_8]
layer=com_7
type=model
x=86
y=6
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_9]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_10]
layer=com_9
type=model
x=87
y=24
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_11]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_12]
layer=com_11
type=model
x=87
y=40
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_13]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_14]
layer=com_13
type=model
x=87
y=56
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_15]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_16]
layer=com_15
type=model
x=87
y=72
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_17]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_18]
layer=com_17
type=model
x=87
y=87
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_19]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_20]
layer=com_19
type=model
x=87
y=104
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_21]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_22]
layer=com_21
type=model
x=87
y=120
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_23]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_24]
layer=com_23
type=model
x=87
y=136
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_25]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_26]
layer=com_25
type=model
x=87
y=154
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_27]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_28]
layer=com_27
type=model
x=86
y=168
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_29]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_30]
layer=com_29
type=model
x=86
y=184
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_31]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_32]
layer=com_31
type=model
x=87
y=201
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_33]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_34]
layer=com_33
type=model
x=88
y=217
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_35]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_36]
layer=com_35
type=model
x=88
y=-8
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_37]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_38]
layer=com_37
type=model
x=88
y=5
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_39]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_40]
layer=com_39
type=model
x=88
y=23
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_41]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_42]
layer=com_41
type=model
x=88
y=39
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_43]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_44]
layer=com_43
type=model
x=88
y=56
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_45]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_46]
layer=com_45
type=model
x=88
y=72
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_47]
type=layer
x=282
y=80
width=201
height=241
hide=yes

[com_48]
layer=com_47
type=model
x=89
y=63
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_49]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_50]
layer=com_49
type=model
x=89
y=104
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_51]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_52]
layer=com_51
type=model
x=89
y=120
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_53]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_54]
layer=com_53
type=model
x=89
y=135
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_55]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_56]
layer=com_55
type=model
x=88
y=151
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_57]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_58]
layer=com_57
type=model
x=88
y=168
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_59]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_60]
layer=com_59
type=model
x=88
y=184
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_61]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_62]
layer=com_61
type=model
x=88
y=199
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_63]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_64]
layer=com_63
type=model
x=88
y=215
width=32
height=32
model=com_i32
zoom=500
xan=200

[com_65]
type=text
x=27
y=54
width=202
height=17
font=q8_full
text=line1

[com_66]
type=text
x=27
y=70
width=202
height=17
font=q8_full
text=line2

[com_67]
type=text
x=27
y=86
width=202
height=17
font=q8_full
text=line3

[com_68]
type=text
x=27
y=102
width=202
height=17
font=q8_full
text=line4

[com_69]
type=text
x=27
y=118
width=202
height=17
font=q8_full
text=line5

[com_70]
type=text
x=27
y=134
width=202
height=17
font=q8_full
text=line6

[com_71]
type=text
x=27
y=150
width=202
height=17
font=q8_full
text=line7

[com_72]
type=text
x=27
y=166
width=202
height=17
font=q8_full
text=line8

[com_73]
type=text
x=27
y=182
width=202
height=17
font=q8_full
text=line9

[com_74]
type=text
x=27
y=198
width=202
height=17
font=q8_full
text=line10

[com_75]
type=text
x=27
y=214
width=202
height=17
font=q8_full
text=line11

[com_76]
type=text
x=27
y=230
width=202
height=17
font=q8_full
text=line12

[com_77]
type=text
x=27
y=246
width=202
height=17
font=q8_full
text=line13

[com_78]
type=text
x=27
y=262
width=202
height=17
font=q8_full
text=line14

[com_79]
type=text
x=27
y=278
width=202
height=17
font=q8_full
text=line15

[com_80]
type=text
x=283
y=54
width=202
height=17
font=q8_full
text=line16

[com_81]
type=text
x=283
y=70
width=202
height=17
font=q8_full
text=line17

[com_82]
type=text
x=283
y=86
width=202
height=17
font=q8_full
text=line18

[com_83]
type=text
x=283
y=102
width=202
height=17
font=q8_full
text=line19

[com_84]
type=text
x=283
y=118
width=202
height=17
font=q8_full
text=line20

[com_85]
type=text
x=283
y=134
width=202
height=17
font=q8_full
text=line21

[com_86]
type=text
x=283
y=150
width=202
height=17
font=q8_full
text=line22

[com_87]
type=text
x=283
y=166
width=202
height=17
font=q8_full
text=line23

[com_88]
type=text
x=283
y=182
width=202
height=17
font=q8_full
text=line24

[com_89]
type=text
x=283
y=198
width=202
height=17
font=q8_full
text=line25

[com_90]
type=text
x=283
y=214
width=202
height=17
font=q8_full
text=line26

[com_91]
type=text
x=283
y=230
width=202
height=17
font=q8_full
text=line27

[com_92]
type=text
x=283
y=246
width=202
height=17
font=q8_full
text=line28

[com_93]
type=text
x=283
y=262
width=202
height=17
font=q8_full
text=line28

[com_94]
type=text
x=283
y=278
width=202
height=17
font=q8_full
text=line29

[com_96]
type=layer
x=94
y=298
width=45
height=36

[com_95]
layer=com_96
type=graphic
x=0
y=-1
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_98]
type=layer
x=366
y=295
width=45
height=36

[com_97]
layer=com_98
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_99]
type=text
x=9
y=300
width=49
height=17
center=yes
font=q8_full
text=page%1

[com_100]
type=text
x=455
y=300
width=52
height=17
center=yes
font=q8_full
text=page%2
