[com_0]
type=rect
x=-1
y=0
width=512
height=334
fill=yes
colour=0x433621

[com_1]
type=model
x=260
y=136
width=24
height=23
model=com_i645
zoom=1119
xan=490
yan=513

[com_2]
type=layer
x=125
y=26
width=280
height=253

[com_8]
layer=com_2
type=text
x=48
y=7
width=147
height=17
font=q8_full
text=The Ballad of Jareesh
colour=0x360022

[com_9]
layer=com_2
type=text
x=4
y=47
width=190
height=17
font=q8_full
text=Clad all in the robes for She
colour=0x360022

[com_10]
layer=com_2
type=text
x=4
y=63
width=204
height=17
font=q8_full
text=we travelled north expediently.
colour=0x360022

[com_11]
layer=com_2
type=text
x=5
y=90
width=270
height=17
font=q8_full
text=To beseech the guardians we were sent,
colour=0x360022

[com_12]
layer=com_2
type=text
x=5
y=108
width=221
height=17
font=q8_full
text=so to the river's source we went.
colour=0x360022

[com_13]
layer=com_2
type=text
x=4
y=135
width=237
height=17
font=q8_full
text=Through the cave we had to travel.
colour=0x360022

[com_14]
layer=com_2
type=text
x=4
y=151
width=211
height=17
font=q8_full
text=There was mystery to unravel.
colour=0x360022

[com_15]
layer=com_2
type=text
x=4
y=176
width=237
height=17
font=q8_full
text=We came upon a great stone door,
colour=0x360022

[com_16]
layer=com_2
type=text
x=2
y=193
width=223
height=17
font=q8_full
text=but our priestess knew the score.
colour=0x360022

[com_17]
layer=com_2
type=text
x=1
y=217
width=226
height=17
font=q8_full
text=She used the great ancestral key.
colour=0x360022

[com_18]
layer=com_2
type=text
x=1
y=233
width=211
height=17
font=q8_full
text=We passed through very easily.
colour=0x360022

[com_3]
type=layer
x=125
y=26
width=279
height=252
hide=yes

[com_19]
layer=com_3
type=text
x=3
y=10
width=233
height=17
font=q8_full
text=Three great men all hewn of rock,
colour=0x360022

[com_20]
layer=com_3
type=text
x=3
y=24
width=267
height=17
font=q8_full
text=the three small chambers they did block.
colour=0x360022

[com_21]
layer=com_3
type=text
x=4
y=47
width=253
height=17
font=q8_full
text=The first all made of rock quite black,
colour=0x360022

[com_22]
layer=com_3
type=text
x=4
y=61
width=219
height=17
font=q8_full
text=our fighting men went to attack.
colour=0x360022

[com_23]
layer=com_3
type=text
x=5
y=82
width=261
height=17
font=q8_full
text=They went with Arrow, blade and spell,
colour=0x360022

[com_24]
layer=com_3
type=text
x=5
y=97
width=215
height=17
font=q8_full
text=but the man they could not fell.
colour=0x360022

[com_25]
layer=com_3
type=text
x=6
y=120
width=191
height=17
font=q8_full
text=Many men did fall that day,
colour=0x360022

[com_26]
layer=com_3
type=text
x=6
y=136
width=233
height=17
font=q8_full
text=while others turned and ran away.
colour=0x360022

[com_27]
layer=com_3
type=text
x=7
y=160
buttontype=normal
width=146
height=17
font=q8_full
text=I had little hope at all,
colour=0x360022

[com_28]
layer=com_3
type=text
x=7
y=177
width=202
height=17
font=q8_full
text=as I watched my kinsmen fall.
colour=0x360022

[com_29]
layer=com_3
type=text
x=8
y=198
width=193
height=17
font=q8_full
text=My warhammer I boldy heft
colour=0x360022

[com_30]
layer=com_3
type=text
x=9
y=214
width=263
height=17
font=q8_full
text=and struck a blow which while was deft,
colour=0x360022

[com_4]
type=layer
x=125
y=26
width=278
height=253
hide=yes

[com_31]
layer=com_4
type=text
x=1
y=13
width=274
height=17
font=q8_full
text=should give scant harm to one so strong,
colour=0x360022

[com_32]
layer=com_4
type=text
x=1
y=30
width=234
height=17
font=q8_full
text=or so I thought, nay I was wrong.
colour=0x360022

[com_33]
layer=com_4
type=text
x=1
y=54
width=252
height=17
font=q8_full
text=The rock man fell down with a crash,
colour=0x360022

[com_34]
layer=com_4
type=text
x=2
y=69
width=254
height=17
font=q8_full
text=which sent up clouds of dust and ash.
colour=0x360022

[com_35]
layer=com_4
type=text
x=1
y=92
width=168
height=17
font=q8_full
text=Just myself left and alas,
colour=0x360022

[com_36]
layer=com_4
type=text
x=4
y=107
width=208
height=17
font=q8_full
text=two more rockmen left to pass.
colour=0x360022

[com_37]
layer=com_4
type=text
x=5
y=131
width=239
height=17
font=q8_full
text=Still buoyed on by my first success
colour=0x360022

[com_38]
layer=com_4
type=text
x=5
y=148
width=192
height=17
font=q8_full
text=onwards bravely I did press.
colour=0x360022

[com_39]
layer=com_4
type=text
x=6
y=173
width=264
height=17
font=q8_full
text=The next man was of rock hued  grey
colour=0x360022

[com_40]
layer=com_4
type=text
x=7
y=189
width=244
height=17
font=q8_full
text=and this one next I planned to slay.
colour=0x360022

[com_41]
layer=com_4
type=text
x=6
y=214
width=216
height=17
font=q8_full
text=Crushing blows I rained on him,
colour=0x360022

[com_42]
layer=com_4
type=text
x=4
y=231
width=233
height=17
font=q8_full
text=but things were looking very grim.
colour=0x360022

[com_5]
type=layer
x=126
y=25
width=277
height=252
hide=yes

[com_43]
layer=com_5
type=text
x=0
y=13
width=192
height=17
font=q8_full
text=Not a scratch could I make.
colour=0x360022

[com_44]
layer=com_5
type=text
x=2
y=29
width=203
height=17
font=q8_full
text=Anon my limbs began to ache.
colour=0x360022

[com_45]
layer=com_5
type=text
x=0
y=50
width=225
height=17
font=q8_full
text=The rockman gave a mighty roar
colour=0x360022

[com_46]
layer=com_5
type=text
x=2
y=67
width=217
height=17
font=q8_full
text=so fierce I hurried for the door.
colour=0x360022

[com_47]
layer=com_5
type=text
x=1
y=90
width=201
height=17
font=q8_full
text=How to beat that second man,
colour=0x360022

[com_48]
layer=com_5
type=text
x=2
y=109
width=180
height=17
font=q8_full
text=to this day I have no plan.
colour=0x360022

[com_49]
layer=com_5
type=text
x=4
y=133
width=208
height=17
font=q8_full
text=My hammer never left a dent.
colour=0x360022

[com_50]
layer=com_5
type=text
x=5
y=150
width=244
height=17
font=q8_full
text=I never reached whence I was sent.
colour=0x360022

[com_51]
type=text
x=469
y=6
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xA67F41
overcolour=0xD9A34D

[com_52]
type=layer
x=128
y=281
width=28
height=17
hide=yes

[com_7]
layer=com_52
type=text
x=0
y=0
buttontype=normal
width=28
height=17
font=q8_full
text=back
colour=0x360022

[com_53]
type=layer
x=361
y=281
width=29
height=17

[com_6]
layer=com_53
type=text
x=0
y=0
buttontype=normal
width=29
height=17
font=q8_full
text=next
colour=0x360022
