[com_0]
type=model
x=230
y=122
width=32
height=32
model=com_i363
zoom=177
xan=526
yan=515

[com_1]
type=model
x=343
y=200
width=32
height=32
model=com_i364
zoom=184
xan=493
yan=527

[com_2]
type=model
x=149
y=197
width=32
height=32
model=com_i364
zoom=184
xan=513
yan=514

[com_3]
type=text
x=430
y=9
buttontype=close
width=74
height=14
center=yes
font=p12_full
shadowed=yes
text=Close Window
colour=0xFEA924
overcolour=0xFFFFFF

[com_4]
type=text
x=138
y=153
width=34
height=17
center=yes
font=q8_full
shadowed=yes
text=Time
colour=0xFEA924

[com_5]
type=text
x=138
y=176
width=38
height=18
center=yes
font=p12_full
shadowed=yes
text=4:17
colour=0xF4BE68

[com_6]
type=text
x=341
y=177
width=23
height=14
center=yes
font=p12_full
shadowed=yes
text=300
colour=0xF4BE68

[com_7]
type=text
x=319
y=155
width=65
height=17
font=q8_full
shadowed=yes
text=XP score
colour=0xFEA924
