[com_0]
type=rect
x=-1
y=0
width=512
height=334
trans=120
fill=yes
colour=0x202020

[com_1]
type=text
x=427
y=7
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0xAEADA7
overcolour=0xCFCDC0

[com_13]
type=graphic
x=250
y=122
width=36
height=36
overlayer=com_23
graphic=miscgraphics,4

[com_14]
type=graphic
x=227
y=122
width=36
height=36
overlayer=com_23
graphic=miscgraphics,4

[com_15]
type=graphic
x=205
y=122
width=36
height=36
overlayer=com_23
graphic=miscgraphics,4

[com_16]
type=graphic
x=271
y=122
width=36
height=36
overlayer=com_23
graphic=miscgraphics,6

[com_19]
type=layer
x=48
y=69
width=395
height=235

[com_2]
layer=com_19
type=model
x=39
y=162
width=32
height=32
model=obj_favour_dummy_key
zoom=238
xan=328
yan=20

[com_3]
layer=com_19
type=model
x=191
y=37
width=32
height=32
model=com_i368
zoom=234
xan=207
yan=309

[com_4]
layer=com_19
type=model
x=39
y=162
width=32
height=32
model=obj_favour_dummy_key
zoom=238
xan=328
yan=20

[com_5]
layer=com_19
type=model
x=95
y=185
width=32
height=32
model=obj_favour_dummy_key
zoom=308
xan=328
yan=20

[com_6]
layer=com_19
type=model
x=152
y=187
width=32
height=32
model=obj_favour_dummy_key
zoom=441
xan=328
yan=20

[com_7]
layer=com_19
type=model
x=205
y=181
width=32
height=32
model=obj_favour_dummy_key
zoom=616
xan=328
yan=20

[com_8]
layer=com_19
type=model
x=253
y=171
width=32
height=32
model=obj_favour_dummy_key
zoom=700
xan=328
yan=20

[com_9]
layer=com_19
type=model
x=295
y=149
width=32
height=32
model=obj_favour_dummy_key
zoom=700
xan=328
yan=20

[com_10]
layer=com_19
type=model
x=343
y=82
buttontype=normal
width=43
height=47
overlayer=com_25
model=com_i369
zoom=1451
xan=513
yan=1887

[com_11]
layer=com_19
type=text
x=157
y=11
width=100
height=14
center=yes
font=b12_full
shadowed=yes
text=**********
colour=0xA6A692

[com_12]
layer=com_19
type=text
x=119
y=30
width=168
height=12
center=yes
font=p11_full
shadowed=yes
text=************************
colour=0xA6A692

[com_17]
layer=com_19
type=text
x=168
y=66
buttontype=normal
width=81
height=12
font=p11_full
shadowed=yes
text=Remove this key
colour=0xA6A692
overcolour=0xF8BF888

[com_18]
layer=com_19
type=text
x=156
y=94
width=105
height=12
center=yes
font=p11_full
shadowed=yes
text=***************
colour=0xA6A692

[com_24]
layer=com_19
type=model
x=-11
y=68
buttontype=normal
width=54
height=71
overlayer=com_21
model=com_i370
zoom=1035
xan=593
yan=153

[com_21]
type=layer
x=36
y=136
width=54
height=71
hide=yes

[com_22]
layer=com_21
type=model
x=12
y=20
width=32
height=32
model=com_i371
zoom=1035
xan=593
yan=153

[com_23]
type=layer
x=214
y=134
width=85
height=15
hide=yes

[com_20]
layer=com_23
type=text
x=2
y=1
buttontype=normal
width=81
height=12
font=p11_full
shadowed=yes
text=Remove this key
colour=0xF8BF888

[com_25]
type=layer
x=382
y=135
width=54
height=71
hide=yes

[com_26]
layer=com_25
type=model
x=14
y=23
width=32
height=32
model=com_i372
zoom=1451
xan=513
yan=1887
