[com_0]
type=rect
x=0
y=0
width=512
height=388

[com_1]
type=model
x=240
y=146
width=32
height=32
model=com_i399
zoom=204
xan=420

[com_2]
type=model
x=238
y=153
width=32
height=32
model=com_i400
zoom=204
xan=420

[com_15]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_3]
layer=com_15
type=model
x=70
y=55
width=32
height=32
model=com_i401
zoom=410
xan=434
yan=15

[com_4]
layer=com_15
type=model
x=58
y=143
width=32
height=32
model=com_i402
zoom=414
xan=374
yan=26

[com_5]
layer=com_15
type=model
x=48
y=242
width=32
height=32
model=com_i403
zoom=355
xan=446
yan=22

[com_6]
layer=com_15
type=model
x=412
y=54
width=32
height=32
model=com_i404
zoom=428
xan=333
yan=19

[com_7]
layer=com_15
type=model
x=422
y=134
width=32
height=32
model=com_i405
zoom=400
xan=460
yan=2035

[com_8]
layer=com_15
type=model
x=428
y=237
width=32
height=32
model=com_i406
zoom=387
xan=500

[com_22]
layer=com_15
type=text
x=124
y=55
width=102
height=47
center=yes
font=q8_full
text=-Drogokishuun-\nGoblins of the\nFierce Blades

[com_23]
layer=com_15
type=text
x=113
y=143
width=115
height=47
center=yes
font=q8_full
text=-Huzamogaarb-\nLive-Flesh Eaters\nof the Chaos God

[com_24]
layer=com_15
type=text
x=118
y=231
width=95
height=47
center=yes
font=q8_full
text=-Saragorgak-\nFootsoldiers of\nHoly Wrath

[com_25]
layer=com_15
type=text
x=289
y=56
width=95
height=47
font=q8_full
text=-Dorgeshuun-\nGoblins of the\nStrong Spears

[com_26]
layer=com_15
type=text
x=293
y=144
width=92
height=47
center=yes
font=q8_full
text=-Horogothgar-\nEaters of\nManflesh

[com_27]
layer=com_15
type=text
x=300
y=239
width=91
height=32
font=q8_full
text=-Yurkolgokh-\nThe Flatulent

[com_16]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_9]
layer=com_16
type=model
x=71
y=53
width=32
height=32
model=com_i407
zoom=421
xan=343
yan=2023

[com_10]
layer=com_16
type=model
x=60
y=141
width=32
height=32
model=com_i408
zoom=410
xan=455

[com_11]
layer=com_16
type=model
x=50
y=230
width=32
height=32
model=com_i409
zoom=362
xan=584
yan=2016

[com_12]
layer=com_16
type=model
x=415
y=53
width=32
height=32
model=com_i410
zoom=404
xan=325
yan=2032

[com_13]
layer=com_16
type=model
x=422
y=138
width=34
height=32
model=com_i411
zoom=385
xan=435
yan=2014

[com_14]
layer=com_16
type=model
x=429
y=235
width=32
height=32
model=com_i412
zoom=424
xan=604
yan=15

[com_28]
layer=com_16
type=text
x=123
y=56
width=97
height=47
center=yes
font=q8_full
text=-Thorobshuun-\nGoblins of the\nHills

[com_29]
layer=com_16
type=text
x=116
y=142
width=104
height=47
center=yes
font=q8_full
text=-Garagorshuun-\nGoblins of the\nSea

[com_30]
layer=com_16
type=text
x=119
y=226
width=91
height=47
center=yes
font=q8_full
text=-Rekeshuun-\nGoblins of the\nNorth

[com_31]
layer=com_16
type=text
x=296
y=56
width=91
height=47
center=yes
font=q8_full
text=-Ekeleshuun-\nGoblins of the\nEast

[com_32]
layer=com_16
type=text
x=298
y=142
width=91
height=47
center=yes
font=q8_full
text=-Idithuun-\nGoblins of the\nSouth

[com_33]
layer=com_16
type=text
x=298
y=225
width=100
height=47
center=yes
font=q8_full
text=-Narogoshuun-\nGoblins of the\nWest

[com_17]
type=text
x=425
y=14
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
activetext=Closes Interface
colour=0x808080
overcolour=0xFFFFFF

[com_20]
type=layer
x=349
y=282
width=63
height=52

[com_18]
layer=com_20
type=graphic
x=11
y=10
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_21]
type=layer
x=107
y=279
width=63
height=52

[com_19]
layer=com_21
type=graphic
x=8
y=12
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_36]
type=layer
x=0
y=0
width=512
height=388
hide=yes

[com_34]
layer=com_36
type=model
x=352
y=68
width=32
height=32
model=com_i413
zoom=965
xan=436
yan=9

[com_35]
layer=com_36
type=model
x=341
y=136
width=32
height=32
model=com_i414
zoom=936
xan=497
yan=10

[com_41]
type=layer
x=0
y=0
width=512
height=388
hide=yes

[com_37]
layer=com_41
type=text
x=62
y=57
width=172
height=77
font=q8_full
text=Goblin tradition holds that\ntheir race was created by\na war-god in order to\nfight a war against other\ngods.

[com_38]
layer=com_41
type=text
x=59
y=185
width=165
height=77
font=q8_full
text=(They never name their\ngod, so whether it is the\nsame as any of the gods\nworshipped by the other\nraces is unknown.)

[com_39]
layer=com_41
type=text
x=289
y=56
width=152
height=107
font=q8_full
text=The legends also speak\nof goblins fighting\nagainst goblins during\nthe wars, so it is likely\nthat gods other than\ntheir creators used\nthem as footsoldiers.

[com_40]
layer=com_41
type=text
x=289
y=183
width=160
height=92
font=q8_full
text=Although goblins are still\nwarlike, it is probable\nthat in earlier ages\nthey were more\norganised than they\nare now,

[com_45]
type=layer
x=0
y=0
width=512
height=388
hide=yes

[com_42]
layer=com_45
type=text
x=74
y=55
width=147
height=62
font=q8_full
text=especially if they were\nunder the direct\ncommand of one or\nmore gods.

[com_43]
layer=com_45
type=text
x=70
y=151
width=134
height=107
font=q8_full
text=This is corroborated\nby finds unearthed\nat various\narchaeological sites,\nincluding the large\nexcavation east of\nVarrock.

[com_44]
layer=com_45
type=text
x=292
y=52
width=142
height=92
font=q8_full
text=Armour and weapons\nhave been found,\nobviously made to fit\ngoblins but far more\nwell-made than their\ncurrent equipment.

[com_49]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[com_46]
layer=com_49
type=text
x=63
y=53
width=178
height=182
font=q8_full
text=Almost every piece of\nancient goblin equipment\nhas one of a number\nof symbols on it,\nand by correlating these\nsymbols with the\nsketchy records that\nsurvive from the\nThird Age it has been\npossible to identify\ntwelve distinct goblin tribes\nor regiments.

[com_47]
layer=com_49
type=text
x=282
y=55
width=168
height=122
font=q8_full
text=The separate identities of\nthe tribes have long\nsince dissolved and\nno goblins remember the\nsymbols, although their\ngenerals may still\nrecognize the ancient\ntribal names.

[com_48]
layer=com_49
type=text
x=286
y=199
width=146
height=62
font=q8_full
text=In the following pages\nI present a list of\nthe tribes and their\nsymbols.
