[com_0]
type=model
x=415
y=17
width=32
height=32
model=com_i679
zoom=843
xan=427

[com_1]
type=text
x=394
y=13
width=70
height=17
font=q8_full
shadowed=yes
text=Graveyard
colour=0x999999

[com_2]
type=text
x=375
y=39
width=72
height=12
font=p11_full
shadowed=yes
text=Pizazz Points:
colour=0x999999

[com_3]
type=text
x=461
y=40
width=28
height=12
font=p11_full
shadowed=yes
text=9999
colour=0xCCCCCC

[com_4]
type=model
x=473
y=297
width=32
height=32
model=obj_magictraining_bones1
zoom=1484
xan=165

[com_5]
type=model
x=472
y=260
width=32
height=32
model=pest_bones_8
zoom=993
xan=131
yan=1790

[com_6]
type=model
x=476
y=221
width=32
height=32
model=obj_magictraining_bones3
zoom=1073
xan=79
yan=1020

[com_7]
type=model
x=472
y=180
width=32
height=32
model=obj_magictraining_bones4
zoom=1152
xan=199
yan=1727

[com_8]
type=text
x=456
y=180
width=7
height=14
font=p12_full
shadowed=yes
text=4
colour=0x8EAB99

[com_9]
type=text
x=456
y=221
width=7
height=14
font=p12_full
shadowed=yes
text=3
colour=0x707070

[com_10]
type=text
x=456
y=260
width=8
height=14
font=p12_full
shadowed=yes
text=2
colour=0xCCCCCC

[com_11]
type=text
x=456
y=296
width=6
height=14
font=p12_full
shadowed=yes
text=1
colour=0xFAFA99
