[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=304
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=295
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=295
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=304
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=graphic
x=455
y=272
width=25
height=30
graphic=steelborder,3

[com_89]
type=graphic
x=347
y=281
width=36
height=36
graphic=miscgraphics,3

[com_90]
type=graphic
x=322
y=242
width=25
height=30
graphic=steelborder,0

[com_91]
type=graphic
x=347
y=227
width=36
height=36
graphic=steelborder2,0

[com_92]
type=graphic
x=383
y=227
width=36
height=36
graphic=steelborder2,0

[com_93]
type=graphic
x=419
y=227
width=36
height=36
graphic=steelborder2,0

[com_94]
type=graphic
x=455
y=242
width=25
height=30
graphic=steelborder,1

[com_95]
type=graphic
x=322
y=272
width=25
height=30
graphic=steelborder,2

[com_96]
type=graphic
x=383
y=281
width=36
height=36
graphic=miscgraphics,3

[com_97]
type=graphic
x=419
y=281
width=36
height=36
graphic=miscgraphics,3

[com_98]
type=graphic
x=375
y=95
width=66
height=82
graphic=chest,0

[com_99]
type=graphic
x=411
y=157
width=77
height=82
graphic=coins,0

[com_100]
type=graphic
x=33
y=103
buttontype=normal
width=64
height=64
overlayer=com_120
graphic=number_button,0
option=Enter digit

[com_101]
type=graphic
x=127
y=103
buttontype=normal
width=64
height=64
overlayer=com_122
graphic=number_button,0
option=Enter digit

[com_102]
type=graphic
x=221
y=103
buttontype=normal
width=64
height=64
overlayer=com_124
graphic=number_button,0
option=Enter digit

[com_103]
type=graphic
x=305
y=103
buttontype=normal
width=64
height=64
overlayer=com_126
graphic=number_button,0
option=Enter digit

[com_104]
type=graphic
x=33
y=175
buttontype=normal
width=64
height=64
overlayer=com_128
graphic=number_button,0
option=Enter digit

[com_105]
type=graphic
x=127
y=175
buttontype=normal
width=64
height=64
overlayer=com_130
graphic=number_button,0
option=Enter digit

[com_106]
type=graphic
x=221
y=175
buttontype=normal
width=64
height=64
overlayer=com_132
graphic=number_button,0
option=Enter digit

[com_107]
type=graphic
x=33
y=247
buttontype=normal
width=64
height=64
overlayer=com_134
graphic=number_button,0
option=Enter digit

[com_108]
type=graphic
x=127
y=247
buttontype=normal
width=64
height=64
overlayer=com_136
graphic=number_button,0
option=Enter digit

[com_109]
type=graphic
x=221
y=247
buttontype=normal
width=64
height=64
overlayer=com_138
graphic=number_button,0
option=Enter digit

[com_110]
type=text
x=37
y=149
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_111]
type=text
x=131
y=149
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_112]
type=text
x=225
y=149
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_113]
type=text
x=309
y=149
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_114]
type=text
x=37
y=221
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_115]
type=text
x=131
y=221
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_116]
type=text
x=225
y=221
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_117]
type=text
x=37
y=293
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_118]
type=text
x=131
y=293
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_119]
type=text
x=225
y=293
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00

[com_120]
type=layer
x=33
y=103
width=64
height=64
hide=yes

[com_121]
layer=com_120
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_122]
type=layer
x=127
y=103
width=64
height=64
hide=yes

[com_123]
layer=com_122
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_124]
type=layer
x=221
y=103
width=64
height=64
hide=yes

[com_125]
layer=com_124
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_126]
type=layer
x=305
y=103
width=64
height=64
hide=yes

[com_127]
layer=com_126
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_128]
type=layer
x=33
y=175
width=64
height=64
hide=yes

[com_129]
layer=com_128
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_130]
type=layer
x=127
y=175
width=64
height=64
hide=yes

[com_131]
layer=com_130
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_132]
type=layer
x=221
y=175
width=64
height=64
hide=yes

[com_133]
layer=com_132
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_134]
type=layer
x=33
y=247
width=64
height=64
hide=yes

[com_135]
layer=com_134
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_136]
type=layer
x=127
y=247
width=64
height=64
hide=yes

[com_137]
layer=com_136
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_138]
type=layer
x=221
y=247
width=64
height=64
hide=yes

[com_139]
layer=com_138
type=graphic
x=0
y=0
width=64
height=64
graphic=number_button,0

[com_140]
type=text
x=424
y=28
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00

[com_141]
type=text
x=440
y=28
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00

[com_142]
type=text
x=456
y=28
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00

[com_143]
type=text
x=472
y=28
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00

[com_144]
type=layer
x=328
y=248
width=146
height=48

[com_145]
layer=com_144
type=graphic
x=0
y=0
width=104
height=104
graphic=tex_brown,0

[com_146]
layer=com_144
type=graphic
x=104
y=-1
width=104
height=104
graphic=tex_brown,0

[com_147]
type=text
x=18
y=57
width=476
height=14
center=yes
font=b12_full
shadowed=yes
text=Please enter your FOUR DIGIT PIN using the buttons below.
colour=0xFFFF00

[com_148]
type=text
x=327
y=274
buttontype=normal
width=148
height=17
center=yes
font=q8_full
shadowed=yes
text=I don't know it.
colour=0xFF0000
overcolour=0xFF7F00

[com_149]
type=text
x=327
y=252
buttontype=normal
width=148
height=17
center=yes
font=q8_full
shadowed=yes
text=Exit
colour=0xFF0000
overcolour=0xFF7F00

[com_150]
type=text
x=20
y=29
width=236
height=14
font=b12_full
shadowed=yes
text=YOUR PIN WILL BE DELETED IN X DAYS
colour=0xFF0000

[com_151]
type=text
x=18
y=80
width=476
height=14
center=yes
font=b12_full
shadowed=yes
text=Click the Nth digit...
colour=0xFFFFFF
