[com_0]
type=model
x=232
y=114
width=32
height=32
model=com_i161
zoom=571
xan=505
yan=2047

[com_1]
type=layer
x=77
y=82
width=322
height=197
scroll=450

[com_2]
layer=com_1
type=text
x=84
y=32
buttontype=normal
width=32
height=14
font=p12_full
shadowed=yes
text=Dwarf
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_3]
layer=com_1
type=text
x=82
y=82
buttontype=normal
width=123
height=14
font=p12_full
shadowed=yes
text=Wartface & Bentnoze
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_4]
layer=com_1
type=text
x=83
y=135
buttontype=normal
width=63
height=14
font=p12_full
shadowed=yes
text=Pirate Pete
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_5]
layer=com_1
type=text
x=80
y=178
buttontype=normal
width=93
height=14
font=p12_full
shadowed=yes
text=Lumbridge Guide
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_6]
layer=com_1
type=text
x=83
y=224
buttontype=normal
width=50
height=14
font=p12_full
shadowed=yes
text=Evil Dave
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_7]
layer=com_1
type=text
x=77
y=376
buttontype=normal
width=187
height=14
font=p12_full
shadowed=yes
text=Skrach 'Bone Cruncher' Uglogwee
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_8]
layer=com_1
type=text
x=80
y=328
buttontype=normal
width=80
height=14
font=p12_full
shadowed=yes
text=Sir Amik Varze
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_9]
layer=com_1
type=text
x=79
y=274
buttontype=normal
width=117
height=14
font=p12_full
shadowed=yes
text=Monkey Ambassador
colour=0xFFFF00
overcolour=0xFFFFFF
option=Quest Journal

[com_11]
layer=com_1
type=inv
x=24
y=24
width=1
height=8
slot2=:0,17
slot3=:0,36
slot4=:0,49
slot5=:0,64
slot6=:0,83
slot7=:0,103
slot8=:0,121

[com_10]
type=text
x=375
y=32
buttontype=close
width=68
height=11
font=p11_full
text=Close Window
colour=0x660033
overcolour=0xFFFFFF

[com_12]
type=rect
x=170
y=26
width=144
height=28
fill=yes
colour=0x996600

[com_13]
type=text
x=177
y=32
width=128
height=14
font=b12_full
shadowed=yes
text=Recipe for Disaster
colour=0xFFCC66

[com_14]
type=text
x=83
y=59
width=349
height=14
font=p12_full
shadowed=yes
text=This quest is comprised of the 8 mini quests highlighted below
colour=0xFF9933
