[com_0]
type=inv
x=25
y=23
width=1
height=1

[com_1]
type=model
x=225
y=24
width=32
height=32
model=com_i551
zoom=1463
xan=291
yan=2032

[com_2]
type=model
x=358
y=25
width=32
height=32
model=com_i552
zoom=2278
xan=400
yan=2030

[com_3]
type=text
x=0
y=-1
width=480
height=17
center=yes
font=q8_full
text=Are you sure you want to destroy this object?
colour=0x800000

[com_4]
type=text
x=226
y=32
buttontype=normal
width=100
height=17
center=yes
font=q8_full
text=Yes.
overcolour=0x00C000
option=Destroy Object

[com_5]
type=text
x=362
y=32
buttontype=normal
width=100
height=17
center=yes
font=q8_full
text=No.
overcolour=0x00C000
option=Cancel

[com_7]
type=graphic
x=408
y=0
width=57
height=13
graphic=sworddecor,0

[com_8]
type=graphic
x=15
y=1
width=57
height=13
graphic=sworddecor,1

[com_9]
type=layer
x=0
y=50
width=482
height=66

[com_6]
layer=com_9
type=text
x=0
y=24
width=480
height=16
center=yes
font=q8_full
colour=0x000088

[com_10]
type=layer
x=0
y=50
width=482
height=66

[com_11]
layer=com_10
type=text
x=1
y=12
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000088

[com_12]
layer=com_10
type=text
x=2
y=28
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000088

[com_13]
type=text
x=62
y=32
width=100
height=17
font=p12_full
text=Name
