[com_0]
type=model
x=227
y=162
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_2]
type=model
x=188
y=115
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_3]
type=model
x=150
y=229
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_4]
type=model
x=165
y=49
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_5]
type=model
x=226
y=216
width=32
height=32
model=com_i196
zoom=1007
xan=530
yan=519

[com_6]
type=model
x=340
y=62
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_7]
type=model
x=321
y=250
width=47
height=34
model=com_i111
zoom=531
xan=512
yan=1556

[com_8]
type=model
x=180
y=130
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_9]
type=model
x=231
y=49
width=32
height=32
model=com_i701
zoom=2023
xan=514

[com_10]
type=model
x=242
y=137
width=28
height=65
model=com_i704
zoom=656
xan=479

[com_11]
type=model
x=195
y=242
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_12]
type=model
x=244
y=153
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_13]
type=model
x=321
y=211
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_14]
type=model
x=290
y=241
width=32
height=32
model=com_i701
zoom=2023
xan=512

[com_15]
type=model
x=261
y=208
width=32
height=32
model=com_i196
zoom=999
xan=512

[com_16]
type=model
x=260
y=205
width=32
height=32
model=com_i196
zoom=1127
xan=512
yan=517

[com_17]
type=model
x=208
y=195
width=32
height=32
model=com_i32
zoom=1215
xan=512
yan=1778
