[com_0]
type=model
x=457
y=24
width=32
height=32
model=com_i692
zoom=459
xan=512

[com_1]
type=text
x=435
y=75
width=75
height=14
font=p12_full
shadowed=yes
text=Runesquares
colour=0xAAAAAA

[com_2]
type=text
x=447
y=92
width=45
height=12
script1op1=pushvar,boardgames_runesquares_rank
font=p11_full
shadowed=yes
text=Rank: %1
colour=0xAAAAAA
