[com_0]
type=graphic
x=0
y=-4
width=104
height=104
graphic=tex_brown,0

[com_1]
type=graphic
x=103
y=-4
width=104
height=104
graphic=tex_brown,0

[com_2]
type=graphic
x=206
y=-4
width=104
height=104
graphic=tex_brown,0

[com_3]
type=graphic
x=309
y=-4
width=104
height=104
graphic=tex_brown,0

[com_4]
type=graphic
x=412
y=-4
width=104
height=104
graphic=tex_brown,0

[com_5]
type=graphic
x=0
y=99
width=104
height=104
graphic=tex_brown,0

[com_6]
type=graphic
x=103
y=99
width=104
height=104
graphic=tex_brown,0

[com_7]
type=graphic
x=206
y=99
width=104
height=104
graphic=tex_brown,0

[com_8]
type=graphic
x=309
y=99
width=104
height=104
graphic=tex_brown,0

[com_9]
type=graphic
x=412
y=99
width=104
height=104
graphic=tex_brown,0

[com_10]
type=graphic
x=0
y=202
width=104
height=104
graphic=tex_brown,0

[com_11]
type=graphic
x=103
y=202
width=104
height=104
graphic=tex_brown,0

[com_12]
type=graphic
x=206
y=202
width=104
height=104
graphic=tex_brown,0

[com_13]
type=graphic
x=309
y=202
width=104
height=104
graphic=tex_brown,0

[com_14]
type=graphic
x=412
y=202
width=104
height=104
graphic=tex_brown,0

[com_15]
type=graphic
x=0
y=305
width=104
height=104
graphic=tex_brown,0

[com_16]
type=graphic
x=103
y=305
width=104
height=104
graphic=tex_brown,0

[com_17]
type=graphic
x=206
y=305
width=104
height=104
graphic=tex_brown,0

[com_18]
type=graphic
x=309
y=305
width=104
height=104
graphic=tex_brown,0

[com_19]
type=graphic
x=412
y=305
width=104
height=104
graphic=tex_brown,0

[com_20]
type=model
x=27
y=256
width=32
height=32
model=com_i730
anim=guide_interface_up
zoom=400

[com_21]
type=model
x=149
y=256
width=32
height=32
model=com_i730
anim=guide_interface_up
zoom=400

[com_22]
type=model
x=271
y=256
width=32
height=32
model=com_i730
anim=guide_interface_up
zoom=400

[com_23]
type=model
x=394
y=256
width=32
height=32
model=com_i730
anim=guide_interface_up
zoom=400

[com_24]
type=model
x=333
y=152
width=32
height=32
model=com_i730
anim=guide_interface_down
zoom=400

[com_25]
type=model
x=456
y=152
width=32
height=32
model=com_i730
anim=guide_interface_down
zoom=400

[com_26]
type=model
x=89
y=152
width=32
height=32
model=com_i730
anim=guide_interface_down
zoom=400

[com_27]
type=model
x=211
y=152
width=32
height=32
model=com_i730
anim=guide_interface_down
zoom=400

[com_28]
type=rect
x=-50
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x001040

[com_29]
type=rect
x=11
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x203080

[com_30]
type=rect
x=72
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x001040

[com_31]
type=rect
x=133
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x203080

[com_32]
type=rect
x=194
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x001040

[com_33]
type=rect
x=255
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x203080

[com_34]
type=rect
x=316
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x001040

[com_35]
type=rect
x=377
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x203080

[com_36]
type=rect
x=438
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x001040

[com_37]
type=rect
x=499
y=-1
width=61
height=338
trans=160
fill=yes
colour=0x203080

[com_38]
type=rect
x=130
y=107
width=267
height=137
trans=128
fill=yes

[com_39]
type=graphic
x=125
y=146
width=88
height=60
graphic=tradebacking,0

[com_40]
type=graphic
x=211
y=146
width=88
height=60
graphic=tradebacking,0

[com_41]
type=graphic
x=298
y=146
width=88
height=60
graphic=tradebacking,0

[com_42]
type=graphic
x=297
y=174
width=88
height=60
graphic=tradebacking,0

[com_43]
type=graphic
x=214
y=174
width=88
height=60
graphic=tradebacking,0

[com_44]
type=graphic
x=127
y=174
width=88
height=60
graphic=tradebacking,0

[com_45]
type=graphic
x=299
y=104
width=88
height=60
graphic=tradebacking,0

[com_46]
type=graphic
x=215
y=104
width=88
height=60
graphic=tradebacking,0

[com_47]
type=graphic
x=128
y=104
width=88
height=60
graphic=tradebacking,0

[com_48]
type=inv
x=144
y=120
width=5
height=2
margin=16,33

[com_49]
type=graphic
x=123
y=100
width=25
height=30
graphic=steelborder,0

[com_50]
type=graphic
x=147
y=85
width=36
height=36
graphic=steelborder2,0

[com_51]
type=graphic
x=182
y=85
width=36
height=36
graphic=steelborder2,0

[com_52]
type=graphic
x=217
y=85
width=36
height=36
graphic=steelborder2,0

[com_53]
type=graphic
x=252
y=85
width=36
height=36
graphic=steelborder2,0

[com_54]
type=graphic
x=287
y=85
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=322
y=85
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=341
y=85
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=365
y=100
width=25
height=30
graphic=steelborder,1

[com_58]
type=graphic
x=369
y=129
width=36
height=36
graphic=steelborder2,1

[com_59]
type=graphic
x=369
y=164
width=36
height=36
graphic=steelborder2,1

[com_60]
type=graphic
x=369
y=199
width=36
height=36
graphic=steelborder2,1

[com_61]
type=graphic
x=365
y=208
width=25
height=30
graphic=steelborder,3

[com_62]
type=graphic
x=330
y=217
width=36
height=36
graphic=miscgraphics,3

[com_63]
type=graphic
x=295
y=217
width=36
height=36
graphic=miscgraphics,3

[com_64]
type=graphic
x=260
y=217
width=36
height=36
graphic=miscgraphics,3

[com_65]
type=graphic
x=225
y=217
width=36
height=36
graphic=miscgraphics,3

[com_66]
type=graphic
x=190
y=217
width=36
height=36
graphic=miscgraphics,3

[com_67]
type=graphic
x=155
y=217
width=36
height=36
graphic=miscgraphics,3

[com_68]
type=graphic
x=108
y=129
width=36
height=36
graphic=miscgraphics,2

[com_69]
type=graphic
x=108
y=164
width=36
height=36
graphic=miscgraphics,2

[com_70]
type=graphic
x=108
y=199
width=36
height=36
graphic=miscgraphics,2

[com_71]
type=graphic
x=123
y=208
width=25
height=30
graphic=steelborder,2

[com_72]
type=graphic
x=138
y=217
width=36
height=36
graphic=miscgraphics,3

[com_73]
type=text
x=431
y=8
buttontype=normal
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xC8C8FF
overcolour=0xFFFFFF
