[com_0]
type=rect
x=0
y=0
width=512
height=334
colour=0x2E211B

[com_1]
type=model
x=86
y=85
width=32
height=32
model=npc_gertrudescat_head
zoom=400
xan=9
yan=1950

[com_2]
type=model
x=411
y=80
width=32
height=32
model=npc_2941_head
zoom=400
xan=17
yan=125

[com_3]
type=model
x=381
y=217
width=32
height=32
model=com_i615
zoom=682
xan=512

[com_4]
type=model
x=98
y=217
width=32
height=32
model=com_i615
zoom=682
xan=512

[com_5]
type=model
x=243
y=77
width=32
height=32
model=com_i616
zoom=909
xan=512

[com_6]
type=graphic
x=220
y=188
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[com_7]
type=graphic
x=220
y=239
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[com_8]
type=text
x=70
y=184
width=80
height=17
center=yes
font=q8_full
text=Players Cat

[com_9]
type=text
x=351
y=184
width=98
height=17
center=yes
font=q8_full
text=Opponents Cat

[com_10]
type=text
x=252
y=86
width=16
height=14
font=b12_full
text=Vs

[com_11]
type=text
x=235
y=199
width=40
height=14
font=p12_full
shadowed=yes
text=ACCEPT
colour=0x11D311

[com_12]
type=text
x=234
y=250
width=43
height=14
font=p12_full
shadowed=yes
text=DECLINE
colour=0xAC1414

[com_13]
type=text
x=87
y=210
width=51
height=17
center=yes
font=q8_full
text=Amount
colour=0xFF981F

[com_14]
type=text
x=375
y=210
width=51
height=17
center=yes
font=q8_full
text=Amount
colour=0xFF981F

[com_15]
type=text
x=62
y=235
width=100
height=14
center=yes
font=p12_full
shadowed=yes
text=0
colour=0xDDD117

[com_16]
type=text
x=352
y=235
width=100
height=14
center=yes
font=p12_full
shadowed=yes
text=0
colour=0xDDD117

[com_17]
type=model
x=50
y=252
width=32
height=32
model=com_i617
zoom=600
xan=512

[com_18]
type=model
x=146
y=252
width=32
height=32
model=com_i617
zoom=600
xan=512

[com_19]
type=model
x=50
y=252
buttontype=toggle
width=32
height=32
model=com_i618
activemodel=com_i619
zoom=600
xan=450
option=Decrease Amount.

[com_20]
type=model
x=146
y=252
buttontype=select
width=32
height=32
model=com_i620
activemodel=com_i621
zoom=600
xan=450
option=Increase Amount.
