[com_0]
type=rect
x=0
y=0
width=512
height=334
trans=125
fill=yes
colour=0x4D4D2F

[com_5]
type=text
x=88
y=184
width=319
height=14
center=yes
font=b12_full
shadowed=yes
text=Which is the next shape in the above sequence?
colour=0x7D7D4B

[com_6]
type=model
x=61
y=222
buttontype=normal
width=93
height=93
zoom=500
xan=512

[com_7]
type=model
x=204
y=222
buttontype=normal
width=93
height=93
zoom=500
xan=512

[com_8]
type=model
x=347
y=222
buttontype=normal
width=93
height=93
zoom=500
xan=512

[com_13]
type=layer
x=72
y=66
width=355
height=93

[com_1]
layer=com_13
type=model
x=0
y=0
width=93
height=93
zoom=500
xan=512

[com_2]
layer=com_13
type=model
x=93
y=0
width=93
height=93
zoom=500
xan=512

[com_3]
layer=com_13
type=model
x=186
y=0
width=93
height=93
zoom=500
xan=512

[com_4]
layer=com_13
type=model
x=292
y=18
width=48
height=39
model=com_i144
zoom=1299
xan=524
yan=19

[com_9]
layer=com_13
type=text
x=0
y=0
width=9
height=14
font=p12_full
shadowed=yes
text=1.
colour=0x7D7D4B

[com_10]
layer=com_13
type=text
x=93
y=0
width=11
height=14
font=p12_full
shadowed=yes
text=2.
colour=0x7D7D4B

[com_11]
layer=com_13
type=text
x=186
y=0
width=10
height=14
font=p12_full
shadowed=yes
text=3.
colour=0x7D7D4B

[com_12]
layer=com_13
type=text
x=279
y=0
width=10
height=14
font=p12_full
shadowed=yes
text=4.
colour=0x7D7D4B
