[com_0]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i435
activemodel=com_i436
zoom=1200
xan=350

[com_1]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i437
activemodel=com_i438
zoom=1200
xan=350

[com_2]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i439
activemodel=com_i440
zoom=1200
xan=350

[com_3]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i441
activemodel=com_i442
zoom=1200
xan=350

[com_4]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i443
activemodel=com_i444
zoom=1200
xan=350

[com_5]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i445
activemodel=com_i446
zoom=1200
xan=350

[com_6]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i447
activemodel=com_i448
zoom=1200
xan=350

[com_7]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i449
activemodel=com_i450
zoom=1200
xan=350

[com_8]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i451
activemodel=com_i452
zoom=1200
xan=350

[com_9]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i453
activemodel=com_i454
zoom=1200
xan=350

[com_10]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i455
activemodel=com_i456
zoom=1200
xan=350

[com_11]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i457
activemodel=com_i458
zoom=1200
xan=350

[com_12]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i459
activemodel=com_i460
zoom=1200
xan=350

[com_13]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i461
activemodel=com_i462
zoom=1200
xan=350

[com_14]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i463
activemodel=com_i464
zoom=1200
xan=350

[com_15]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i465
activemodel=com_i466
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=com_i467
activemodel=com_i468
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i469
activemodel=com_i470
zoom=1200
xan=350

[com_18]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=com_i471
activemodel=com_i472
zoom=1200
xan=350

[com_19]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i473
activemodel=com_i474
zoom=1200
xan=350

[com_20]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=com_i475
activemodel=com_i476
zoom=1200
xan=350

[com_21]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i477
activemodel=com_i478
zoom=1200
xan=350

[com_22]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=com_i479
activemodel=com_i480
zoom=1200
xan=350

[com_23]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i481
activemodel=com_i482
zoom=1200
xan=350

[com_24]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,1
model=com_i483
activemodel=com_i484
zoom=1200
xan=350

[com_25]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i485
activemodel=com_i486
zoom=1200
xan=350

[com_26]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,1
model=com_i487
activemodel=com_i488
zoom=1200
xan=350

[com_27]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i489
activemodel=com_i490
zoom=1200
xan=350

[com_28]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,1
model=com_i491
activemodel=com_i492
zoom=1200
xan=350

[com_29]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i493
activemodel=com_i494
zoom=1200
xan=350

[com_30]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,1
model=com_i495
activemodel=com_i496
zoom=1200
xan=350

[com_31]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i497
activemodel=com_i498
zoom=1200
xan=350

[com_32]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,1
model=com_i499
activemodel=com_i500
zoom=1200
xan=350

[com_33]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i501
activemodel=com_i502
zoom=1200
xan=350

[com_34]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,1
model=com_i503
activemodel=com_i504
zoom=1200
xan=350

[com_35]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i505
activemodel=com_i506
zoom=1200
xan=350

[com_36]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,1
model=com_i507
activemodel=com_i508
zoom=1200
xan=350

[com_37]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i509
activemodel=com_i510
zoom=1200
xan=350

[com_38]
type=model
x=248
y=130
width=32
height=32
model=com_i511
zoom=1200
xan=350

[com_39]
type=model
x=248
y=130
width=32
height=32
model=com_i512
zoom=1200
xan=350

[com_40]
type=layer
x=142
y=123
width=32
height=32
hide=yes

[com_41]
layer=com_40
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i513
activemodel=com_i514
zoom=1200
xan=350

[com_42]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[com_43]
layer=com_42
type=model
x=58
y=41
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i515
activemodel=com_i516
zoom=1200
xan=350

[com_44]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[com_45]
layer=com_44
type=model
x=64
y=-32
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i517
activemodel=com_i518
zoom=1200
xan=350

[com_46]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[com_47]
layer=com_46
type=model
x=-18
y=74
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i519
activemodel=com_i520
zoom=1200
xan=350

[com_48]
type=layer
x=165
y=165
width=32
height=32
hide=yes

[com_49]
layer=com_48
type=model
x=83
y=-35
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i521
activemodel=com_i522
zoom=1200
xan=350

[com_50]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[com_51]
layer=com_50
type=model
x=21
y=-73
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i523
activemodel=com_i524
zoom=1200
xan=350

[com_52]
type=layer
x=202
y=201
width=32
height=32
hide=yes

[com_53]
layer=com_52
type=model
x=46
y=-71
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i525
activemodel=com_i526
zoom=1200
xan=350

[com_54]
type=layer
x=314
y=203
width=32
height=32
hide=yes

[com_55]
layer=com_54
type=model
x=-66
y=-73
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i527
activemodel=com_i528
zoom=1200
xan=350

[com_56]
type=layer
x=314
y=218
width=40
height=40
hide=yes

[com_57]
layer=com_56
type=model
x=-66
y=-88
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i529
activemodel=com_i530
zoom=1200
xan=350

[com_58]
type=layer
x=314
y=233
width=40
height=40
hide=yes

[com_59]
layer=com_58
type=model
x=-66
y=-103
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i531
activemodel=com_i532
zoom=1200
xan=350

[com_60]
type=layer
x=314
y=248
width=40
height=40
hide=yes

[com_61]
layer=com_60
type=model
x=-66
y=-118
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i533
activemodel=com_i534
zoom=1200
xan=350

[com_62]
type=layer
x=314
y=263
width=40
height=40
hide=yes

[com_63]
layer=com_62
type=model
x=-66
y=-133
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i535
activemodel=com_i536
zoom=1200
xan=350

[com_64]
type=layer
x=314
y=278
width=40
height=40
hide=yes

[com_65]
layer=com_64
type=model
x=-66
y=-148
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i537
activemodel=com_i538
zoom=1200
xan=350

[com_66]
type=layer
x=314
y=293
width=40
height=40
hide=yes

[com_67]
layer=com_66
type=model
x=-66
y=-163
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i539
activemodel=com_i540
zoom=1200
xan=350

[com_68]
type=layer
x=314
y=308
width=40
height=40
hide=yes

[com_69]
layer=com_68
type=model
x=-66
y=-178
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i541
activemodel=com_i542
zoom=1200
xan=350

[com_70]
type=layer
x=347
y=230
width=32
height=50
hide=yes

[com_71]
layer=com_70
type=model
x=-99
y=-100
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i543
activemodel=com_i544
zoom=1200
xan=350

[com_72]
type=layer
x=280
y=132
width=120
height=32
hide=yes

[com_73]
layer=com_72
type=model
x=-32
y=-2
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i545
activemodel=com_i546
zoom=1200
xan=350

[com_74]
type=layer
x=280
y=147
width=130
height=45
hide=yes

[com_75]
layer=com_74
type=model
x=-32
y=-17
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i547
activemodel=com_i548
zoom=1200
xan=350

[com_76]
type=layer
x=280
y=162
width=180
height=80
hide=yes

[com_77]
layer=com_76
type=model
x=-32
y=-32
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i549
activemodel=com_i550
zoom=1200
xan=350

[com_78]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
option=Close

[com_79]
type=model
x=83
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_80]
type=model
x=130
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_81]
type=model
x=121
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_82]
type=model
x=172
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_83]
type=model
x=165
y=165
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_84]
type=model
x=210
y=59
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_85]
type=model
x=204
y=204
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_86]
type=model
x=249
y=32
buttontype=normal
width=27
height=24
zoom=400
option=Set Junction

[com_87]
type=model
x=249
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_88]
type=model
x=248
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_89]
type=model
x=290
y=61
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[com_90]
type=model
x=289
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_91]
type=model
x=294
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_92]
type=model
x=324
y=32
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[com_93]
type=model
x=330
y=94
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[com_94]
type=model
x=344
y=251
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[com_95]
type=model
x=365
y=62
buttontype=normal
width=27
height=27
zoom=400
option=Set Junction

[com_96]
type=model
x=377
y=165
buttontype=normal
width=29
height=29
zoom=400
option=Set Junction

[com_97]
type=model
x=383
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_98]
type=model
x=119
y=24
width=32
height=32
model=com_i235
zoom=1200
xan=350

[com_99]
type=model
x=119
y=55
width=32
height=32
model=com_i236
zoom=1200
xan=350

[com_100]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[com_101]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
