[com_0]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_1]
type=model
x=232
y=158
width=32
height=32
model=com_i108
zoom=639
xan=511
yan=2047

[com_2]
type=inv
x=239
y=89
width=3
height=3

[com_3]
type=model
x=174
y=212
width=32
height=32
model=arena_guard_chest_open_8
zoom=914
xan=104
yan=761
