[com_7]
type=layer
x=351
y=-3
width=164
height=326
hide=yes

[com_0]
layer=com_7
type=model
x=73
y=284
width=32
height=32
model=com_i721
activemodel=com_i721
anim=guide_if_question
zoom=656

[com_8]
type=layer
x=351
y=-11
width=195
height=334
hide=yes

[com_1]
layer=com_8
type=model
x=73
y=292
width=32
height=32
model=com_i722
anim=guide_flour_spin
zoom=656
xan=147

[com_9]
type=layer
x=351
y=-15
width=170
height=338
hide=yes

[com_2]
layer=com_9
type=model
x=73
y=296
width=32
height=32
model=com_i723
anim=guide_flour_spin
zoom=656
xan=147

[com_10]
type=layer
x=351
y=-7
width=168
height=330
hide=yes

[com_3]
layer=com_10
type=model
x=73
y=288
width=32
height=32
model=com_i724
anim=guide_flour_spin
zoom=528
xan=207

[com_11]
type=layer
x=351
y=-6
width=178
height=329
hide=yes

[com_4]
layer=com_11
type=model
x=73
y=287
width=32
height=32
model=com_i725
anim=guide_flour_spin
zoom=656
xan=147

[com_12]
type=layer
x=351
y=-8
width=173
height=331
hide=yes

[com_5]
layer=com_12
type=model
x=73
y=289
width=32
height=32
model=com_i726
anim=guide_flour_spin
zoom=528
xan=207

[com_13]
type=layer
x=351
y=-10
width=177
height=333

[com_6]
layer=com_13
type=model
x=73
y=291
width=32
height=32
model=com_i727
zoom=528
xan=207
