[com_0]
type=model
x=369
y=424
width=32
height=32
model=com_i158
zoom=692
xan=512

[com_1]
type=text
x=190
y=431
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.

[com_2]
type=text
x=190
y=452
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!

[com_3]
type=text
x=333
y=411
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000

[com_4]
type=model
x=694
y=442
width=32
height=32
model=com_i656
anim=intro_banner_santa_dance
zoom=1072
xan=31
yan=208

[com_5]
type=model
x=174
y=428
width=32
height=32
model=com_i657
zoom=400
yan=1550

[com_6]
type=model
x=576
y=427
width=32
height=32
model=com_i657
zoom=400
yan=1550

[com_7]
type=model
x=49
y=457
width=32
height=32
model=com_i658
zoom=1800
xan=144
yan=4
