[com_0]
type=rect
x=106
y=-15
width=400
height=400
fill=yes
colour=0x1A1A1A

[com_1]
type=model
x=178
y=-32
width=32
height=32
model=com_i35
anim=roguesden_interface_gear6
activeanim=roguesden_interface_gear6
zoom=482
xan=351
yan=24

[com_2]
type=model
x=428
y=237
width=32
height=32
model=com_i36
anim=roguesden_interface_gear3
activeanim=roguesden_interface_gear3
zoom=443
xan=537
yan=509

[com_3]
type=model
x=39
y=-47
width=32
height=32
model=com_i37
anim=roguesden_interface_gear8
activeanim=roguesden_interface_gear8
zoom=361
xan=419
yan=89

[com_4]
type=model
x=227
y=-214
width=32
height=32
model=com_i38
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=455
xan=369
yan=3

[com_5]
type=layer
x=34
y=34
width=32
height=32

[com_6]
type=model
x=244
y=152
width=32
height=32
model=com_i39
zoom=603
xan=528
yan=3

[com_7]
type=model
x=245
y=158
width=32
height=32
model=com_i40
zoom=625
xan=500

[com_8]
type=inv
x=129
y=44
width=3
height=3
margin=83,83
option1=Rotate-Clockwise
option2=Rotate-AntiClockwise

[com_9]
type=text
x=421
y=20
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF

[com_10]
type=model
x=129
y=48
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_11]
type=model
x=245
y=48
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_12]
type=model
x=358
y=48
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_13]
type=model
x=129
y=162
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_14]
type=model
x=245
y=162
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_15]
type=model
x=358
y=162
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_16]
type=model
x=129
y=274
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_17]
type=model
x=245
y=274
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_18]
type=model
x=358
y=274
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[com_19]
type=model
x=423
y=96
width=32
height=32
model=com_i42
zoom=1126
xan=571
yan=269

[com_20]
type=model
x=425
y=224
width=32
height=32
model=com_i42
zoom=1126
xan=484
yan=1945

[com_21]
type=model
x=62
y=89
width=32
height=32
model=com_i42
zoom=1126
xan=512
yan=22

[com_22]
type=model
x=60
y=223
width=32
height=32
model=com_i42
zoom=1126
xan=569
yan=1737
