[com_0]
type=model
x=240
y=133
width=32
height=32
model=com_i327
zoom=442
xan=512

[com_1]
type=text
x=184
y=6
width=155
height=17
font=q8_full
shadowed=yes
text=Kingdom of Miscellania
colour=0xCCAA44

[com_2]
type=text
x=437
y=10
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_3]
type=rect
x=380
y=21
width=22
height=86
fill=yes
colour=0x442D22

[com_4]
type=layer
x=331
y=22
width=95
height=86

[com_5]
layer=com_4
type=text
x=7
y=6
width=38
height=16
font=p12_full
shadowed=yes
text=Mining
colour=0xBFBC8F

[com_6]
layer=com_4
type=model
x=-42
y=14
width=46
height=36
model=com_i328
zoom=987
xan=578
yan=4

[com_11]
layer=com_4
type=model
x=70
y=-1
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
option=Add

[com_12]
layer=com_4
type=model
x=71
y=53
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_13]
layer=com_4
type=rect
x=52
y=74
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,0
fill=yes
activecolour=0x918F6D

[com_14]
layer=com_4
type=rect
x=52
y=66
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,1
fill=yes
activecolour=0x969471

[com_15]
layer=com_4
type=rect
x=52
y=58
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,2
fill=yes
activecolour=0x9C9975

[com_16]
layer=com_4
type=rect
x=52
y=50
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,3
fill=yes
activecolour=0xA19E78

[com_17]
layer=com_4
type=rect
x=52
y=42
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,4
fill=yes
activecolour=0xA6A37C

[com_18]
layer=com_4
type=rect
x=52
y=34
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,5
fill=yes
activecolour=0xABA880

[com_19]
layer=com_4
type=rect
x=52
y=26
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,6
fill=yes
activecolour=0xB0AD84

[com_20]
layer=com_4
type=rect
x=52
y=18
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,7
fill=yes
activecolour=0xB5B288

[com_21]
layer=com_4
type=rect
x=52
y=10
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,8
fill=yes
activecolour=0xBAB78C

[com_22]
layer=com_4
type=rect
x=52
y=2
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,9
fill=yes
activecolour=0xBFBC8F

[com_7]
type=rect
x=166
y=160
width=22
height=86
fill=yes
colour=0x442D22

[com_8]
type=layer
x=117
y=161
width=96
height=84

[com_9]
layer=com_8
type=text
x=7
y=6
width=33
height=14
font=p12_full
shadowed=yes
text=Herbs
colour=0xBFBC8F

[com_10]
layer=com_8
type=model
x=-17
y=-18
width=46
height=36
model=com_i330
zoom=424
xan=512

[com_27]
layer=com_8
type=model
x=72
y=-1
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
option=Add

[com_28]
layer=com_8
type=model
x=72
y=53
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_30]
layer=com_8
type=rect
x=52
y=74
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,0
fill=yes
activecolour=0x918F6D

[com_49]
layer=com_8
type=rect
x=52
y=66
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,1
fill=yes
activecolour=0x969471

[com_51]
layer=com_8
type=rect
x=52
y=58
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,2
fill=yes
activecolour=0x9C9975

[com_52]
layer=com_8
type=rect
x=52
y=50
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,3
fill=yes
activecolour=0xA19E78

[com_53]
layer=com_8
type=rect
x=52
y=42
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,4
fill=yes
activecolour=0xA6A37C

[com_54]
layer=com_8
type=rect
x=52
y=34
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,5
fill=yes
activecolour=0xABA880

[com_55]
layer=com_8
type=rect
x=52
y=26
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,6
fill=yes
activecolour=0xB0AD84

[com_56]
layer=com_8
type=rect
x=52
y=18
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,7
fill=yes
activecolour=0xB5B288

[com_57]
layer=com_8
type=rect
x=52
y=10
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,8
fill=yes
activecolour=0xBAB78C

[com_58]
layer=com_8
type=rect
x=52
y=2
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,9
fill=yes
activecolour=0xBFBC8F

[com_92]
layer=com_8
type=model
x=-42
y=-57
width=46
height=36
model=com_i330
zoom=623
xan=512

[com_93]
layer=com_8
type=model
x=-52
y=-18
width=46
height=36
model=com_i330
zoom=805
xan=512

[com_23]
type=model
x=453
y=21
width=57
height=71
model=com_i155
zoom=1955
xan=563
yan=312

[com_24]
type=model
x=12
y=39
width=42
height=35
model=com_i331
zoom=490
xan=512

[com_25]
type=layer
x=21
y=46
width=122
height=56

[com_26]
layer=com_25
type=text
x=10
y=1
width=48
height=14
font=p12_full
shadowed=yes
text=Coffers:
colour=0xBFBC8F

[com_87]
layer=com_25
type=text
x=66
y=1
width=50
height=14
font=p12_full
shadowed=yes
text=500,000
colour=0xFFFFFF

[com_88]
layer=com_25
type=text
x=66
y=20
buttontype=normal
width=43
height=14
font=p12_full
shadowed=yes
text=Deposit
colour=0xFFFFFF
overcolour=0xFFFF00
option=Deposit

[com_89]
layer=com_25
type=text
x=66
y=35
buttontype=normal
width=50
height=14
font=p12_full
shadowed=yes
text=Withdraw
colour=0xFFFFFF
overcolour=0xFFFF00
option=Withdraw

[com_32]
type=rect
x=287
y=104
width=22
height=86
fill=yes
colour=0x442D22

[com_40]
type=model
x=218
y=142
width=34
height=45
model=com_i332
zoom=1328
xan=512

[com_42]
type=model
x=256
y=142
width=34
height=45
model=com_i332
zoom=1328
xan=512

[com_43]
type=layer
x=238
y=105
width=96
height=84

[com_29]
layer=com_43
type=rect
x=52
y=74
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,0
fill=yes
activecolour=0x918F6D

[com_33]
layer=com_43
type=rect
x=52
y=66
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,1
fill=yes
activecolour=0x969471

[com_34]
layer=com_43
type=rect
x=52
y=58
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,2
fill=yes
activecolour=0x9C9975

[com_35]
layer=com_43
type=rect
x=52
y=50
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,3
fill=yes
activecolour=0xA19E78

[com_36]
layer=com_43
type=rect
x=52
y=42
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,4
fill=yes
activecolour=0xA6A37C

[com_37]
layer=com_43
type=rect
x=52
y=34
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,5
fill=yes
activecolour=0xABA880

[com_38]
layer=com_43
type=rect
x=52
y=26
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,6
fill=yes
activecolour=0xB0AD84

[com_39]
layer=com_43
type=rect
x=52
y=18
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,7
fill=yes
activecolour=0xB5B288

[com_41]
layer=com_43
type=rect
x=52
y=10
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,8
fill=yes
activecolour=0xBAB78C

[com_44]
layer=com_43
type=text
x=7
y=6
width=30
height=14
font=p12_full
shadowed=yes
text=Wood
colour=0xBFBC8F

[com_46]
layer=com_43
type=model
x=70
y=-1
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
option=Add

[com_47]
layer=com_43
type=model
x=72
y=53
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_48]
layer=com_43
type=rect
x=52
y=2
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,9
fill=yes
activecolour=0xBFBC8F

[com_45]
type=model
x=237
y=169
width=34
height=45
model=com_i332
zoom=837
xan=512

[com_59]
type=layer
x=355
y=232
width=90
height=86

[com_50]
layer=com_59
type=rect
x=49
y=-1
width=22
height=86
fill=yes
colour=0x442D22

[com_60]
layer=com_59
type=text
x=1
y=2
width=40
height=14
font=p12_full
shadowed=yes
text=Fishing
colour=0xBFBC8F

[com_62]
layer=com_59
type=model
x=70
y=-1
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
option=Add

[com_63]
layer=com_59
type=model
x=70
y=54
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_64]
layer=com_59
type=rect
x=52
y=74
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,0
fill=yes
activecolour=0x918F6D

[com_65]
layer=com_59
type=rect
x=52
y=66
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,1
fill=yes
activecolour=0x969471

[com_66]
layer=com_59
type=rect
x=52
y=58
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,2
fill=yes
activecolour=0x9C9975

[com_68]
layer=com_59
type=rect
x=52
y=50
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,3
fill=yes
activecolour=0xA19E78

[com_69]
layer=com_59
type=rect
x=52
y=42
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,4
fill=yes
activecolour=0xA6A37C

[com_70]
layer=com_59
type=rect
x=52
y=34
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,5
fill=yes
activecolour=0xABA880

[com_71]
layer=com_59
type=rect
x=52
y=26
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,6
fill=yes
activecolour=0xB0AD84

[com_72]
layer=com_59
type=rect
x=52
y=18
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,7
fill=yes
activecolour=0xB5B288

[com_73]
layer=com_59
type=rect
x=52
y=10
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,8
fill=yes
activecolour=0xBAB78C

[com_74]
layer=com_59
type=rect
x=52
y=2
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,9
fill=yes
activecolour=0xBFBC8F

[com_107]
layer=com_59
type=text
x=9
y=45
buttontype=normal
width=36
height=12
font=p11_full
shadowed=yes
text=Cooked
colour=0xBFBC8F
option=Cooked or raw fish?

[com_108]
layer=com_59
type=graphic
x=3
y=28
buttontype=normal
width=15
height=15
script1op1=push_varbit,misc_cooked
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Cooked or raw fish?

[com_61]
type=model
x=447
y=259
width=34
height=43
model=com_i333
zoom=833
xan=512

[com_67]
type=rect
x=66
y=232
width=22
height=86
fill=yes
colour=0x442D22

[com_78]
type=layer
x=17
y=233
width=74
height=84

[com_31]
layer=com_78
type=rect
x=52
y=74
width=16
height=8
script1op1=pushvar,if1
script1=gt,0
fill=yes
activecolour=0x918F6D

[com_75]
layer=com_78
type=rect
x=52
y=66
width=16
height=8
script1op1=pushvar,if1
script1=gt,1
fill=yes
activecolour=0x969471

[com_76]
layer=com_78
type=rect
x=52
y=58
width=16
height=8
script1op1=pushvar,if1
script1=gt,2
fill=yes
activecolour=0x9C9975

[com_77]
layer=com_78
type=rect
x=52
y=50
width=16
height=8
script1op1=pushvar,if1
script1=gt,3
fill=yes
activecolour=0xA49E78

[com_79]
layer=com_78
type=text
x=14
y=7
width=20
height=14
font=p12_full
shadowed=yes
text=Idle
colour=0xBFBC8F

[com_80]
layer=com_78
type=model
x=-7
y=43
width=53
height=31
model=com_i334
zoom=1227
xan=583
yan=2012

[com_81]
layer=com_78
type=rect
x=52
y=42
width=16
height=8
script1op1=pushvar,if1
script1=gt,4
fill=yes
activecolour=0xA6A37C

[com_82]
layer=com_78
type=rect
x=52
y=34
width=16
height=8
script1op1=pushvar,if1
script1=gt,5
fill=yes
activecolour=0xABA880

[com_83]
layer=com_78
type=rect
x=52
y=26
width=16
height=8
script1op1=pushvar,if1
script1=gt,6
fill=yes
activecolour=0xB0AD84

[com_84]
layer=com_78
type=rect
x=52
y=18
width=16
height=8
script1op1=pushvar,if1
script1=gt,7
fill=yes
activecolour=0xB5B288

[com_85]
layer=com_78
type=rect
x=52
y=10
width=16
height=8
script1op1=pushvar,if1
script1=gt,8
fill=yes
activecolour=0xBAB78C

[com_86]
layer=com_78
type=rect
x=52
y=2
width=16
height=8
script1op1=pushvar,if1
script1=gt,9
fill=yes
activecolour=0xBFBC8F

[com_90]
type=model
x=470
y=196
width=34
height=43
model=com_i333
zoom=1359
xan=512

[com_91]
type=model
x=471
y=229
width=34
height=43
model=com_i333
zoom=1126
xan=512

[com_94]
type=model
x=249
y=138
width=32
height=32
model=com_i335
zoom=442
xan=512

[com_95]
type=model
x=243
y=255
buttontype=normal
width=43
height=43
model=com_i144
zoom=1850
xan=515
yan=18

[com_96]
type=text
x=254
y=307
width=24
height=14
font=p12_full
shadowed=yes
text=Help
colour=0xBFBC8F

[com_97]
type=text
x=9
y=124
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=Deposit money in
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_98]
type=text
x=9
y=139
width=4
height=4
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=the coffers to
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_99]
type=text
x=9
y=154
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=pay your subjects
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_100]
type=text
x=9
y=169
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=and make them
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_101]
type=text
x=9
y=184
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=work harder.
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_102]
type=text
x=340
y=113
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=Use the arrows to
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_103]
type=text
x=340
y=128
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=adjust the amount
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_104]
type=text
x=340
y=143
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=of effort your
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_105]
type=text
x=340
y=158
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=subjects spend
colour=0xBFBC8F
activecolour=0xBFBC8F

[com_106]
type=text
x=340
y=173
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=on each resource.
colour=0xBFBC8F
activecolour=0xBFBC8F
