[com_0]
type=model
x=254
y=135
width=32
height=32
model=com_i336
zoom=891
xan=492

[com_1]
type=model
x=26
y=147
width=32
height=32
model=com_i623
zoom=720
xan=443
yan=2

[com_2]
type=model
x=119
y=102
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_3]
type=model
x=160
y=110
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_4]
type=model
x=202
y=109
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_5]
type=model
x=246
y=101
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_6]
type=model
x=290
y=96
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_7]
type=model
x=335
y=101
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_8]
type=model
x=381
y=106
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_9]
type=model
x=426
y=110
width=32
height=195
model=com_i624
zoom=400
xan=512

[com_10]
type=text
x=419
y=13
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_11]
type=text
x=361
y=36
width=82
height=17
font=q8_full
text=Page 1 of 8

[com_12]
type=model
x=138
y=36
buttontype=toggle
width=70
height=60
script1op1=push_varbit,vc_note_current_hi
script1=eq,1
model=com_i625
activemodel=com_i626
zoom=400
xan=512
option=Raise an Octave.

[com_13]
type=model
x=119
y=107
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,63
model=com_i627
activemodel=com_i628
zoom=400
xan=512
option=D

[com_14]
type=model
x=160
y=115
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,62
model=com_i629
activemodel=com_i630
zoom=400
xan=460
option=E

[com_15]
type=model
x=202
y=114
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,60
model=com_i631
activemodel=com_i632
zoom=400
xan=460
option=F#

[com_16]
type=model
x=246
y=106
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,56
model=com_i633
activemodel=com_i634
zoom=400
xan=460
option=G

[com_17]
type=model
x=290
y=101
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,48
model=com_i635
activemodel=com_i636
zoom=400
xan=460
option=A

[com_18]
type=model
x=335
y=105
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,32
model=com_i637
activemodel=com_i638
zoom=400
xan=460
option=B

[com_19]
type=model
x=381
y=112
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,1
model=com_i639
activemodel=com_i640
zoom=400
xan=460
option=C#

[com_20]
type=model
x=426
y=115
buttontype=toggle
width=32
height=195
script1op1=push_varbit,vc_fingers_current
script1=eq,24
model=com_i641
activemodel=com_i642
zoom=400
xan=460
option=C

[com_21]
type=text
x=259
y=54
buttontype=normal
width=60
height=20
center=yes
font=q8_full
shadowed=yes
text=PLAY
colour=0xFFFF00
overcolour=0xFF0000
option=Play your tune.

[com_24]
type=layer
x=358
y=55
width=44
height=42

[com_23]
layer=com_24
type=model
x=2
y=1
buttontype=normal
width=40
height=38
model=com_i643
activemodel=com_i644
zoom=220
xan=522
yan=1024
option=Previous Page.

[com_25]
type=layer
x=410
y=57
width=44
height=42

[com_22]
layer=com_25
type=model
x=1
y=1
buttontype=normal
width=40
height=40
model=com_i643
activemodel=com_i644
zoom=220
xan=512
option=Next page.
