[com_0]
type=rect
x=1
y=1
width=512
height=334
fill=yes
colour=0x352D1E

[com_1]
type=text
x=427
y=7
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0x81704F
overcolour=0xB69E6F

[com_2]
type=model
x=240
y=375
width=32
height=32
model=com_i317
zoom=304
yan=1536

[com_3]
type=model
x=90
y=153
width=32
height=32
model=com_i318
zoom=381
xan=512

[com_4]
type=model
x=158
y=29
width=32
height=32
model=com_i319
zoom=437
xan=512

[com_5]
type=model
x=320
y=28
width=32
height=32
model=com_i320
zoom=412
xan=512

[com_6]
type=model
x=388
y=156
width=32
height=32
model=com_i321
zoom=380
xan=512

[com_7]
type=model
x=319
y=272
width=32
height=32
model=com_i322
zoom=426
xan=489
yan=1986

[com_8]
type=model
x=161
y=269
width=32
height=32
model=com_i323
zoom=368
xan=512
