[com_0]
type=model
x=240
y=152
width=32
height=32
model=loc_11398_8
zoom=434
xan=517

[up_button]
type=model
x=138
y=256
buttontype=normal
width=32
height=32
model=loc_11399_8
zoom=450
xan=517

[down_button]
type=model
x=187
y=257
buttontype=normal
width=32
height=32
model=loc_11400_8
zoom=450
xan=519

[light_button]
type=model
x=240
y=257
buttontype=normal
width=32
height=32
model=loc_11403_8
zoom=450
xan=519

[left_button]
type=model
x=294
y=258
buttontype=normal
width=32
height=32
model=loc_11401_8
zoom=450
xan=519

[right_button]
type=model
x=343
y=258
buttontype=normal
width=32
height=32
model=loc_11402_8
zoom=450
xan=519

[close_button]
type=text
x=432
y=5
buttontype=normal
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[com_7]
type=text
x=24
y=40
width=192
height=14
font=p12_full
shadowed=yes
text=Click arrow buttons to move taper.
colour=0xFFFF00

[com_8]
type=text
x=24
y=56
width=192
height=14
font=p12_full
shadowed=yes
text=Press the Light button to light the
colour=0xFFFF00

[com_9]
type=text
x=24
y=72
width=47
height=14
font=p12_full
shadowed=yes
text=candles.
colour=0xFFFF00
