[center_shape_model]
type=model
x=245
y=122
width=32
height=32
model=obj_macro_cube_redstar
zoom=390

[side_shape_model]
type=model
x=245
y=122
width=32
height=32
model=obj_macro_cube_redtriangle
zoom=390

[top_shape_model]
type=model
x=245
y=122
width=32
height=32
model=obj_macro_cube_redhalfmoon
zoom=390

[center_number_model]
type=model
x=245
y=122
width=32
height=31
zoom=390

[side_number_model]
type=model
x=245
y=122
width=32
height=32
zoom=390

[top_number_model]
type=model
x=245
y=122
width=32
height=32
zoom=390

[com_6]
type=text
x=431
y=12
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[question]
type=text
x=110
y=254
width=308
height=17
center=yes
font=b12_full
shadowed=yes
text=Which shape is blue?
colour=0xBBB949

[answer_button1]
type=graphic
x=110
y=276
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[answer_button2]
type=graphic
x=229
y=277
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[answer_button3]
type=graphic
x=344
y=277
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[answer_box1]
type=text
x=113
y=287
width=66
height=15
center=yes
font=b12_full
text=Shape1
colour=0xBBB949

[answer_box2]
type=text
x=231
y=288
width=68
height=15
center=yes
font=b12_full
text=Shape2
colour=0xBBB949

[answer_box3]
type=text
x=347
y=288
width=65
height=14
center=yes
font=b12_full
text=Shape3
colour=0xBBB949
