type=overlay

[com_0]
type=graphic
x=19
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer0
script1=eq,1
activegraphic=prayerglow,0

[com_1]
type=graphic
x=61
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer1
script1=eq,1
activegraphic=prayerglow,0

[com_2]
type=graphic
x=102
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer2
script1=eq,1
activegraphic=prayerglow,0

[com_3]
type=graphic
x=143
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer3
script1=eq,1
activegraphic=prayerglow,0

[com_4]
type=graphic
x=19
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer4
script1=eq,1
activegraphic=prayerglow,0

[com_5]
type=graphic
x=61
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer5
script1=eq,1
activegraphic=prayerglow,0

[com_6]
type=graphic
x=102
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer6
script1=eq,1
activegraphic=prayerglow,0

[com_7]
type=graphic
x=143
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer7
script1=eq,1
activegraphic=prayerglow,0

[com_8]
type=graphic
x=19
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer8
script1=eq,1
activegraphic=prayerglow,0

[com_9]
type=graphic
x=61
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer9
script1=eq,1
activegraphic=prayerglow,0

[com_10]
type=graphic
x=102
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer10
script1=eq,1
activegraphic=prayerglow,0

[com_11]
type=graphic
x=143
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer11
script1=eq,1
activegraphic=prayerglow,0

[com_12]
type=graphic
x=19
y=115
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer12
script1=eq,1
activegraphic=prayerglow,0

[com_13]
type=graphic
x=61
y=115
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer13
script1=eq,1
activegraphic=prayerglow,0

[com_14]
type=graphic
x=102
y=115
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer14
script1=eq,1
activegraphic=prayerglow,0

[com_15]
type=graphic
x=143
y=115
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer15
script1=eq,1
activegraphic=prayerglow,0

[com_16]
type=graphic
x=19
y=152
buttontype=toggle
width=34
height=34
script1op1=pushvar,varp_99
script1=eq,1
activegraphic=prayerglow,0

[com_17]
type=graphic
x=61
y=152
buttontype=toggle
width=34
height=34
script1op1=pushvar,varp_100
script1=eq,1
activegraphic=prayerglow,0

[com_18]
type=layer
x=3
y=178
width=186
height=88

[com_19]
type=rect
x=6
y=187
width=178
height=72
colour=0x726451

[com_20]
type=rect
x=7
y=188
width=176
height=70
colour=0x726451

[com_21]
type=rect
x=7
y=188
width=177
height=71
colour=0x2E2B23

[com_22]
type=rect
x=8
y=189
width=174
height=68
fill=yes

[com_23]
type=graphic
x=21
y=8
width=30
height=30
overlayer=com_43
script1op1=stat_base_level,prayer
script1=gt,0
graphic=prayeroff,0
activegraphic=prayeron,0

[com_24]
type=graphic
x=63
y=8
width=30
height=30
overlayer=com_47
script1op1=stat_base_level,prayer
script1=gt,3
graphic=prayeroff,1
activegraphic=prayeron,1

[com_25]
type=graphic
x=104
y=8
width=30
height=30
overlayer=com_51
script1op1=stat_base_level,prayer
script1=gt,6
graphic=prayeroff,2
activegraphic=prayeron,2

[com_26]
type=graphic
x=145
y=8
width=30
height=30
overlayer=com_55
script1op1=stat_base_level,prayer
script1=gt,9
graphic=prayeroff,3
activegraphic=prayeron,3

[com_27]
type=graphic
x=21
y=44
width=30
height=30
overlayer=com_59
script1op1=stat_base_level,prayer
script1=gt,12
graphic=prayeroff,4
activegraphic=prayeron,4

[com_28]
type=graphic
x=63
y=44
width=30
height=30
overlayer=com_63
script1op1=stat_base_level,prayer
script1=gt,15
graphic=prayeroff,5
activegraphic=prayeron,5

[com_29]
type=graphic
x=104
y=44
width=30
height=30
overlayer=com_67
script1op1=stat_base_level,prayer
script1=gt,18
graphic=prayeroff,6
activegraphic=prayeron,6

[com_30]
type=graphic
x=145
y=44
width=30
height=30
overlayer=com_71
script1op1=stat_base_level,prayer
script1=gt,21
graphic=prayeroff,7
activegraphic=prayeron,7

[com_31]
type=graphic
x=21
y=80
width=30
height=30
overlayer=com_75
script1op1=stat_base_level,prayer
script1=gt,24
graphic=prayeroff,8
activegraphic=prayeron,8

[com_32]
type=graphic
x=63
y=80
width=30
height=30
overlayer=com_79
script1op1=stat_base_level,prayer
script1=gt,27
graphic=prayeroff,9
activegraphic=prayeron,9

[com_33]
type=graphic
x=104
y=80
width=30
height=30
overlayer=com_83
script1op1=stat_base_level,prayer
script1=gt,30
graphic=prayeroff,10
activegraphic=prayeron,10

[com_34]
type=graphic
x=145
y=80
width=30
height=30
overlayer=com_87
script1op1=stat_base_level,prayer
script1=gt,33
graphic=prayeroff,11
activegraphic=prayeron,11

[com_35]
type=graphic
x=21
y=117
width=30
height=30
overlayer=com_91
script1op1=stat_base_level,prayer
script1=gt,36
graphic=prayeroff,12
activegraphic=prayeron,12

[com_36]
type=graphic
x=104
y=117
width=30
height=30
overlayer=com_99
script1op1=stat_base_level,prayer
script1=gt,42
graphic=prayeroff,14
activegraphic=prayeron,14

[com_37]
type=graphic
x=63
y=117
width=30
height=30
overlayer=com_95
script1op1=stat_base_level,prayer
script1=gt,39
graphic=prayeroff,13
activegraphic=prayeron,13

[com_38]
type=graphic
x=21
y=154
width=30
height=30
overlayer=com_107
script1op1=stat_base_level,prayer
script1=gt,48
graphic=prayeroff,15
activegraphic=prayeron,15

[com_39]
type=graphic
x=63
y=154
width=30
height=30
overlayer=com_111
script1op1=stat_base_level,prayer
script1=gt,51
graphic=prayeroff,17
activegraphic=prayeron,17

[com_40]
type=graphic
x=145
y=117
width=30
height=30
overlayer=com_103
script1op1=stat_base_level,prayer
script1=gt,45
graphic=prayeroff,16
activegraphic=prayeron,16

[com_41]
type=text
x=8
y=223
width=174
height=14
script1op1=stat_level,prayer
script2op1=stat_base_level,prayer
center=yes
font=p12_full
text=Prayer: %1/%2
colour=0xFFFF00

[com_42]
type=graphic
x=83
y=192
width=25
height=25
graphic=staticons,4

[com_43]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_44]
layer=com_43
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_45]
layer=com_43
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 1\nThick Skin
colour=0xFFFF00

[com_46]
layer=com_43
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your defence by 5%
colour=0x6B6F33

[com_47]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_48]
layer=com_47
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_49]
layer=com_47
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 4\nBurst of Strength
colour=0xFFFF00

[com_50]
layer=com_47
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your strength by 5%
colour=0x6B6F33

[com_51]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_52]
layer=com_51
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_53]
layer=com_51
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 7\nClarity of Thought
colour=0xFFFF00

[com_54]
layer=com_51
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your attack by 5%
colour=0x6B6F33

[com_55]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_56]
layer=com_55
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_57]
layer=com_55
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 10\nRock Skin
colour=0xFFFF00

[com_58]
layer=com_55
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your defence by 10%
colour=0x6B6F33

[com_59]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_60]
layer=com_59
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_61]
layer=com_59
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 13\nSuperhuman Strength
colour=0xFFFF00

[com_62]
layer=com_59
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your strength by 10%
colour=0x6B6F33

[com_63]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_64]
layer=com_63
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_65]
layer=com_63
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 16\nImproved Reflexes
colour=0xFFFF00

[com_66]
layer=com_63
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your attack by 10%
colour=0x6B6F33

[com_67]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_68]
layer=com_67
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_69]
layer=com_67
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 19\nRapid Restore
colour=0xFFFF00

[com_70]
layer=com_67
type=text
x=3
y=41
width=174
height=20
center=yes
font=p11_full
shadowed=yes
text=2x restore rate for all stats\nexcept hitpoints and prayer
colour=0x6B6F33

[com_71]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_72]
layer=com_71
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_73]
layer=com_71
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 22\nRapid Heal
colour=0xFFFF00

[com_74]
layer=com_71
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=2x restore rate for hitpoints stat
colour=0x6B6F33

[com_75]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_76]
layer=com_75
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_77]
layer=com_75
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 25\nProtect Items
colour=0xFFFF00

[com_78]
layer=com_75
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Keep 1 extra item if you die
colour=0x6B6F33

[com_79]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_80]
layer=com_79
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_81]
layer=com_79
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 28\nSteel Skin
colour=0xFFFF00

[com_82]
layer=com_79
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your defence by 15%
colour=0x6B6F33

[com_83]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_84]
layer=com_83
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_85]
layer=com_83
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 31\nUltimate Strength
colour=0xFFFF00

[com_86]
layer=com_83
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your strength by 15%
colour=0x6B6F33

[com_87]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_88]
layer=com_87
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_89]
layer=com_87
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 34\nIncredible Reflexes
colour=0xFFFF00

[com_90]
layer=com_87
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Increases your attack by 15%
colour=0x6B6F33

[com_91]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_92]
layer=com_91
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_93]
layer=com_91
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 37\nProtect from Magic
colour=0xFFFF00

[com_94]
layer=com_91
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Protection from magical attacks
colour=0x6B6F33

[com_95]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_96]
layer=com_95
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_97]
layer=com_95
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 40\nProtect from Missiles
colour=0xFFFF00

[com_98]
layer=com_95
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Protection from ranged attacks
colour=0x6B6F33

[com_99]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_100]
layer=com_99
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_101]
layer=com_99
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 43\nProtect from Melee
colour=0xFFFF00

[com_102]
layer=com_99
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11_full
shadowed=yes
text=Protection from close attacks
colour=0x6B6F33

[com_103]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_104]
layer=com_103
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_105]
layer=com_103
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 46\nRetribution
colour=0xFFFF00

[com_106]
layer=com_103
type=text
x=3
y=41
width=174
height=22
center=yes
font=p11_full
shadowed=yes
text=Inflicts damage to nearby\ntargets if you die
colour=0x6B6F33

[com_107]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_108]
layer=com_107
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_109]
layer=com_107
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 49\nRedemption
colour=0xFFFF00

[com_110]
layer=com_107
type=text
x=3
y=41
width=174
height=22
center=yes
font=p11_full
shadowed=yes
text=Heals you if your health\nfalls below 10%
colour=0x6B6F33

[com_111]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_112]
layer=com_111
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_113]
layer=com_111
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12_full
shadowed=yes
text=Level 52\nSmite
colour=0xFFFF00

[com_114]
layer=com_111
type=text
x=3
y=41
width=169
height=22
center=yes
font=p11_full
shadowed=yes
text=1/4 of damage dealt is also\n removed from opponent's Prayer
colour=0x6B6F33
