[com_0]
type=layer
x=5
y=20
width=168
height=229
scroll=1610

[com_24]
layer=com_0
type=text
x=5
y=8
width=84
height=14
font=b12_full
shadowed=yes
text=FREE QUESTS:
colour=0xF99B15

[fortress]
layer=com_0
type=text
x=10
y=23
buttontype=normal
width=131
height=14
font=p12_full
shadowed=yes
text=Black Knights' Fortress
colour=0xFF0000
overcolour=0xFFFFFF
option=Black Knights' Fortress

[cook]
layer=com_0
type=text
x=10
y=38
buttontype=normal
width=96
height=14
font=p12_full
shadowed=yes
text=Cook's Assistant
colour=0xFF0000
overcolour=0xFFFFFF
option=Cook's Assistant

[demon]
layer=com_0
type=text
x=10
y=53
buttontype=normal
width=76
height=14
font=p12_full
shadowed=yes
text=Demon Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Demon Slayer

[runemysteries]
layer=com_0
type=text
x=10
y=217
buttontype=normal
width=125
height=14
font=p12_full
shadowed=yes
text=Rune Mysteries Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Rune Mysteries Quest

[doric]
layer=com_0
type=text
x=10
y=68
buttontype=normal
width=75
height=14
font=p12_full
shadowed=yes
text=Doric's Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Doric's Quest

[priest]
layer=com_0
type=text
x=10
y=187
buttontype=normal
width=109
height=14
font=p12_full
shadowed=yes
text=The Restless Ghost
colour=0xFF0000
overcolour=0xFFFFFF
option=The Restless Ghost

[gobdip]
layer=com_0
type=text
x=10
y=113
buttontype=normal
width=94
height=14
font=p12_full
shadowed=yes
text=Goblin Diplomacy
colour=0xFF0000
overcolour=0xFFFFFF
option=Goblin Diplomacy

[haunted]
layer=com_0
type=text
x=10
y=98
buttontype=normal
width=105
height=14
font=p12_full
shadowed=yes
text=Ernest the Chicken
colour=0xFF0000
overcolour=0xFFFFFF
option=Ernest the Chicken

[imp]
layer=com_0
type=text
x=10
y=128
buttontype=normal
width=66
height=14
font=p12_full
shadowed=yes
text=Imp Catcher
colour=0xFF0000
overcolour=0xFFFFFF
option=Imp Catcher

[hunt]
layer=com_0
type=text
x=10
y=158
buttontype=normal
width=97
height=13
font=p12_full
shadowed=yes
text=Pirate's Treasure
colour=0xFF0000
overcolour=0xFFFFFF
option=Pirate's Treasure

[prince]
layer=com_0
type=text
x=10
y=172
buttontype=normal
width=96
height=14
font=p12_full
shadowed=yes
text=Prince Ali Rescue
colour=0xFF0000
overcolour=0xFFFFFF
option=Prince Ali Rescue

[romeojuliet]
layer=com_0
type=text
x=10
y=202
buttontype=normal
width=86
height=14
font=p12_full
shadowed=yes
text=Romeo & Juliet
colour=0xFF0000
overcolour=0xFFFFFF
option=Romeo & Juliet

[sheep]
layer=com_0
type=text
x=10
y=232
buttontype=normal
width=83
height=14
font=p12_full
shadowed=yes
text=Sheep Shearer
colour=0xFF0000
overcolour=0xFFFFFF
option=Sheep Shearer

[blackarmgang]
layer=com_0
type=text
x=10
y=247
buttontype=normal
width=85
height=14
font=p12_full
shadowed=yes
text=Shield of Arrav
colour=0xFF0000
overcolour=0xFFFFFF
option=Shield of Arrav

[squire]
layer=com_0
type=text
x=10
y=143
buttontype=normal
width=104
height=14
font=p12_full
shadowed=yes
text=The Knight's Sword
colour=0xFF0000
overcolour=0xFFFFFF
option=The Knight's Sword

[vampire]
layer=com_0
type=text
x=10
y=262
buttontype=normal
width=84
height=14
font=p12_full
shadowed=yes
text=Vampire Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Vampire Slayer

[hetty]
layer=com_0
type=text
x=10
y=277
buttontype=normal
width=79
height=14
font=p12_full
shadowed=yes
text=Witch's Potion
colour=0xFF0000
overcolour=0xFFFFFF
option=Witch's Potion

[itwatchtower]
layer=com_0
type=text
x=10
y=1542
buttontype=normal
width=68
height=14
font=p12_full
shadowed=yes
text=Watch Tower
colour=0xFF0000
overcolour=0xFFFFFF
option=Watch Tower

[com_43]
layer=com_0
type=text
x=4
y=296
width=113
height=14
font=b12_full
shadowed=yes
text=MEMBERS QUESTS:
colour=0xF99B15

[waterfall]
layer=com_0
type=text
x=10
y=1557
buttontype=normal
width=89
height=14
font=p12_full
shadowed=yes
text=Waterfall Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Waterfall Quest

[ball]
layer=com_0
type=text
x=10
y=1572
buttontype=normal
width=78
height=14
font=p12_full
shadowed=yes
text=Witch's House
colour=0xFF0000
overcolour=0xFFFFFF
option=Witch's House

[biohazard]
layer=com_0
type=text
x=10
y=341
buttontype=normal
width=57
height=14
font=p12_full
shadowed=yes
text=Biohazard
colour=0xFF0000
overcolour=0xFFFFFF
option=Biohazard

[cog]
layer=com_0
type=text
x=10
y=371
buttontype=normal
width=63
height=14
font=p12_full
shadowed=yes
text=Clock Tower
colour=0xFF0000
overcolour=0xFFFFFF
option=Clock Tower

[itexam]
layer=com_0
type=text
x=10
y=446
buttontype=normal
width=76
height=14
font=p12_full
shadowed=yes
text=Digsite Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Digsite Quest

[chompybird]
layer=com_0
type=text
x=10
y=326
buttontype=normal
width=135
height=14
font=p12_full
shadowed=yes
text=Big Chompy Bird Hunting
colour=0xFF0000
overcolour=0xFFFFFF
option=Big Chompy Bird Hunting

[mcannon]
layer=com_0
type=text
x=10
y=476
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=Dwarf Cannon
colour=0xFF0000
overcolour=0xFFFFFF
option=Dwarf Cannon

[crest]
layer=com_0
type=text
x=10
y=551
buttontype=normal
width=69
height=14
font=p12_full
shadowed=yes
text=Family Crest
colour=0xFF0000
overcolour=0xFFFFFF
option=Family Crest

[arena]
layer=com_0
type=text
x=10
y=581
buttontype=normal
width=65
height=14
font=p12_full
shadowed=yes
text=Fight Arena
colour=0xFF0000
overcolour=0xFFFFFF
option=Fight Arena

[fishingcompo]
layer=com_0
type=text
x=10
y=596
buttontype=normal
width=88
height=14
font=p12_full
shadowed=yes
text=Fishing Contest
colour=0xFF0000
overcolour=0xFFFFFF
option=Fishing Contest

[fluffs]
layer=com_0
type=text
x=10
y=657
buttontype=normal
width=83
height=14
font=p12_full
shadowed=yes
text=Gertrude's Cat
colour=0xFF0000
overcolour=0xFFFFFF
option=Gertrude's Cat

[grandtree]
layer=com_0
type=text
x=10
y=718
buttontype=normal
width=83
height=14
font=p12_full
shadowed=yes
text=The Grand Tree
colour=0xFF0000
overcolour=0xFFFFFF
option=The Grand Tree

[hazeelcult]
layer=com_0
type=text
x=10
y=763
buttontype=normal
width=63
height=14
font=p12_full
shadowed=yes
text=Hazeel Cult
colour=0xFF0000
overcolour=0xFFFFFF
option=Hazeel Cult

[hero]
layer=com_0
type=text
x=10
y=778
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=Heroes Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Heroes Quest

[routequest]
layer=com_0
type=text
x=10
y=853
buttontype=normal
width=142
height=14
font=p12_full
shadowed=yes
text=In Search of the Myreque
colour=0xFF0000
overcolour=0xFFFFFF
option=In Search of the Myreque

[junglepotion]
layer=com_0
type=text
x=10
y=868
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=Jungle Potion
colour=0xFF0000
overcolour=0xFFFFFF
option=Jungle Potion

[legends]
layer=com_0
type=text
x=10
y=883
buttontype=normal
width=85
height=14
font=p12_full
shadowed=yes
text=Legends Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Legends Quest

[zanaris]
layer=com_0
type=text
x=10
y=898
buttontype=normal
width=50
height=14
font=p12_full
shadowed=yes
text=Lost City
colour=0xFF0000
overcolour=0xFFFFFF
option=Lost City

[arthur]
layer=com_0
type=text
x=10
y=943
buttontype=normal
width=88
height=14
font=p12_full
shadowed=yes
text=Merlin's Crystal
colour=0xFF0000
overcolour=0xFFFFFF
option=Merlin's Crystal

[drunkmonk]
layer=com_0
type=text
x=10
y=973
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=Monk's Friend
colour=0xFF0000
overcolour=0xFFFFFF
option=Monk's Friend

[murder]
layer=com_0
type=text
x=10
y=1033
buttontype=normal
width=90
height=14
font=p12_full
shadowed=yes
text=Murder Mystery
colour=0xFF0000
overcolour=0xFFFFFF
option=Murder Mystery

[itgronigen]
layer=com_0
type=text
x=10
y=1063
buttontype=normal
width=109
height=14
font=p12_full
shadowed=yes
text=Observatory Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Observatory Quest

[elena]
layer=com_0
type=text
x=10
y=1093
buttontype=normal
width=63
height=14
font=p12_full
shadowed=yes
text=Plague City
colour=0xFF0000
overcolour=0xFFFFFF
option=Plague City

[scorpcatcher]
layer=com_0
type=text
x=10
y=1227
buttontype=normal
width=96
height=14
font=p12_full
shadowed=yes
text=Scorpion Catcher
colour=0xFF0000
overcolour=0xFFFFFF
option=Scorpion Catcher

[seaslug]
layer=com_0
type=text
x=10
y=1242
buttontype=normal
width=85
height=14
font=p12_full
shadowed=yes
text=Sea Slug Quest
colour=0xFF0000
overcolour=0xFFFFFF
option=Sea Slug Quest

[sheepherder]
layer=com_0
type=text
x=10
y=1287
buttontype=normal
width=76
height=14
font=p12_full
shadowed=yes
text=Sheep Herder
colour=0xFF0000
overcolour=0xFFFFFF
option=Sheep Herder

[zombiequeen]
layer=com_0
type=text
x=10
y=1302
buttontype=normal
width=67
height=14
font=p12_full
shadowed=yes
text=Shilo Village
colour=0xFF0000
overcolour=0xFFFFFF
option=Shilo Village

[ikov]
layer=com_0
type=text
x=10
y=1407
buttontype=normal
width=80
height=14
font=p12_full
shadowed=yes
text=Temple of Ikov
colour=0xFF0000
overcolour=0xFFFFFF
option=Temple of Ikov

[desertrescue]
layer=com_0
type=text
x=10
y=1437
buttontype=normal
width=88
height=14
font=p12_full
shadowed=yes
text=The Tourist Trap
colour=0xFF0000
overcolour=0xFFFFFF
option=The Tourist Trap

[tree]
layer=com_0
type=text
x=10
y=1452
buttontype=normal
width=105
height=14
font=p12_full
shadowed=yes
text=Tree Gnome Village
colour=0xFF0000
overcolour=0xFFFFFF
option=Tree Gnome Village

[totem]
layer=com_0
type=text
x=10
y=1467
buttontype=normal
width=66
height=14
font=p12_full
shadowed=yes
text=Tribal Totem
colour=0xFF0000
overcolour=0xFFFFFF
option=Tribal Totem

[upass]
layer=com_0
type=text
x=10
y=1512
buttontype=normal
width=105
height=14
font=p12_full
shadowed=yes
text=Underground Pass
colour=0xFF0000
overcolour=0xFFFFFF
option=Underground Pass

[dragon]
layer=com_0
type=text
x=10
y=83
buttontype=normal
width=79
height=14
font=p12_full
shadowed=yes
text=Dragon Slayer
colour=0xFF0000
overcolour=0xFFFFFF
option=Dragon Slayer

[elemental_workshop]
layer=com_0
type=text
x=10
y=506
buttontype=normal
width=112
height=14
font=p12_full
shadowed=yes
text=Elemental Workshop
colour=0xFF0000
overcolour=0xFFFFFF
option=Elemental Workshop

[druid]
layer=com_0
type=text
x=10
y=461
buttontype=normal
width=73
height=14
font=p12_full
shadowed=yes
text=Druidic Ritual
colour=0xFF0000
overcolour=0xFFFFFF
option=Druidic Ritual

[priestperil]
layer=com_0
type=text
x=10
y=1108
buttontype=normal
width=75
height=14
font=p12_full
shadowed=yes
text=Priest in Peril
colour=0xFF0000
overcolour=0xFFFFFF
option=Priest in Peril

[druidspirit]
layer=com_0
type=text
x=10
y=1048
buttontype=normal
width=72
height=14
font=p12_full
shadowed=yes
text=Nature Spirit
colour=0xFF0000
overcolour=0xFFFFFF
option=Nature Spirit

[death]
layer=com_0
type=text
x=10
y=401
buttontype=normal
width=79
height=14
font=p12_full
shadowed=yes
text=Death Plateau
colour=0xFF0000
overcolour=0xFFFFFF
option=Death Plateau

[troll]
layer=com_0
type=text
x=10
y=1497
buttontype=normal
width=88
height=14
font=p12_full
shadowed=yes
text=Troll Stronghold
colour=0xFF0000
overcolour=0xFFFFFF
option=Troll Stronghold

[eadgar]
layer=com_0
type=text
x=10
y=491
buttontype=normal
width=81
height=14
font=p12_full
shadowed=yes
text=Eadgar's Ruse
colour=0xFF0000
overcolour=0xFFFFFF
option=Eadgar's Ruse

[tbwt]
layer=com_0
type=text
x=10
y=1362
buttontype=normal
width=105
height=14
font=p12_full
shadowed=yes
text=Tai Bwo Wannai Trio
colour=0xFF0000
overcolour=0xFFFFFF
option=Tai Bwo Wannai Trio

[hauntedmine]
layer=com_0
type=text
x=10
y=748
buttontype=normal
width=76
height=14
font=p12_full
shadowed=yes
text=Haunted Mine
colour=0xFF0000
overcolour=0xFFFFFF
option=Haunted Mine

[regicide]
layer=com_0
type=text
x=10
y=1182
buttontype=normal
width=47
height=14
font=p12_full
shadowed=yes
text=Regicide
colour=0xFF0000
overcolour=0xFFFFFF
option=Regicide

[mortton]
layer=com_0
type=text
x=10
y=1257
buttontype=normal
width=110
height=14
font=p12_full
shadowed=yes
text=Shades of Mort'ton
colour=0xFF0000
overcolour=0xFFFFFF
option=Shades of Mort'ton

[misc]
layer=com_0
type=text
x=10
y=1422
buttontype=normal
width=119
height=14
font=p12_full
shadowed=yes
text=Throne of Miscellania
colour=0xFF0000
overcolour=0xFFFFFF
option=Throne of Miscellania

[viking]
layer=com_0
type=text
x=10
y=627
buttontype=normal
width=112
height=14
font=p12_full
shadowed=yes
text=The Fremennik Trials
colour=0xFF0000
overcolour=0xFFFFFF
option=The Fremennik Trials

[mm]
layer=com_0
type=text
x=10
y=958
buttontype=normal
width=97
height=14
font=p12_full
shadowed=yes
text=Monkey Madness
colour=0xFF0000
overcolour=0xFFFFFF
option=Monkey Madness

[roving_elves]
layer=com_0
type=text
x=10
y=1197
buttontype=normal
width=71
height=14
font=p12_full
shadowed=yes
text=Roving Elves
colour=0xFF0000
overcolour=0xFFFFFF
option=Roving Elves

[grail]
layer=com_0
type=text
x=10
y=793
buttontype=normal
width=53
height=14
font=p12_full
shadowed=yes
text=Holy Grail
colour=0xFF0000
overcolour=0xFFFFFF
option=Holy Grail

[horror]
layer=com_0
type=text
x=10
y=808
buttontype=normal
width=119
height=14
font=p12_full
shadowed=yes
text=Horror from the Deep
colour=0xFF0000
overcolour=0xFFFFFF
option=Horror from the Deep

[troll_love]
layer=com_0
type=text
x=10
y=1482
buttontype=normal
width=76
height=14
font=p12_full
shadowed=yes
text=Troll Romance
colour=0xFF0000
overcolour=0xFFFFFF
option=Troll Romance

[creatureoffenkenstrain]
layer=com_0
type=text
x=10
y=386
buttontype=normal
width=143
height=14
font=p12_full
shadowed=yes
text=Creature of Fenkenstrain
colour=0xFF0000
overcolour=0xFFFFFF
option=Creature of Fenkenstrain

[onesmallfavour]
layer=com_0
type=text
x=10
y=1078
buttontype=normal
width=96
height=14
font=p12_full
shadowed=yes
text=One Small Favour
colour=0xFF0000
overcolour=0xFFFFFF
option=One Small Favour

[mdaughter]
layer=com_0
type=text
x=10
y=988
buttontype=normal
width=107
height=14
font=p12_full
shadowed=yes
text=Mountain Daughter
colour=0xFF0000
overcolour=0xFFFFFF
option=Mountain Daughter

[ahoy]
layer=com_0
type=text
x=10
y=672
buttontype=normal
width=73
height=14
font=p12_full
shadowed=yes
text=Ghosts Ahoy
colour=0xFF0000
overcolour=0xFFFFFF
option=Ghosts Ahoy

[dwarfrock]
layer=com_0
type=text
x=10
y=311
buttontype=normal
width=95
height=14
font=p12_full
shadowed=yes
text=Between a Rock...
colour=0xFF0000
overcolour=0xFFFFFF
option=Between a Rock...

[feud]
layer=com_0
type=text
x=10
y=566
buttontype=normal
width=49
height=14
font=p12_full
shadowed=yes
text=The Feud
colour=0xFF0000
overcolour=0xFFFFFF
option=The Feud

[golem]
layer=com_0
type=text
x=10
y=703
buttontype=normal
width=56
height=14
font=p12_full
shadowed=yes
text=The Golem
colour=0xFF0000
overcolour=0xFFFFFF
option=The Golem

[deserttreasure]
layer=com_0
type=text
x=10
y=416
buttontype=normal
width=91
height=14
font=p12_full
shadowed=yes
text=Desert Treasure
colour=0xFF0000
overcolour=0xFFFFFF
option=Desert Treasure

[ics_little]
layer=com_0
type=text
x=10
y=823
buttontype=normal
width=128
height=14
font=p12_full
shadowed=yes
text=Icthlarin's Little Helper
colour=0xFF0000
overcolour=0xFFFFFF
option=Icthlarin's Little Helper

[tog]
layer=com_0
type=text
x=10
y=1392
buttontype=normal
width=87
height=14
font=p12_full
shadowed=yes
text=Tears of Guthix
colour=0xFF0000
overcolour=0xFFFFFF
option=Tears of Guthix

[zogre]
layer=com_0
type=text
x=10
y=1587
buttontype=normal
width=106
height=14
font=p12_full
shadowed=yes
text=Zogre Flesh Eaters
colour=0xFF0000
overcolour=0xFFFFFF
option=Zogre Flesh Eaters

[giantdwarf]
layer=com_0
type=text
x=10
y=687
buttontype=normal
width=87
height=14
font=p12_full
shadowed=yes
text=The Giant Dwarf
colour=0xFF0000
overcolour=0xFFFFFF
option=The Giant Dwarf

[lost_tribe]
layer=com_0
type=text
x=10
y=913
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=The Lost Tribe
colour=0xFF0000
overcolour=0xFFFFFF
option=The Lost Tribe

[rd]
layer=com_0
type=text
x=10
y=1168
buttontype=normal
width=100
height=14
font=p12_full
shadowed=yes
text=Recruitment Drive
colour=0xFF0000
overcolour=0xFFFFFF
option=Recruitment Drive

[mourning]
layer=com_0
type=text
x=10
y=1003
buttontype=normal
width=129
height=14
font=p12_full
shadowed=yes
text=Mourning's Ends Part 1
colour=0xFF0000
overcolour=0xFFFFFF
option=Mourning's Ends Part 1

[forget]
layer=com_0
type=text
x=10
y=611
buttontype=normal
width=100
height=14
font=p12_full
shadowed=yes
text=Forgettable Tale...
colour=0xFF0000
overcolour=0xFFFFFF
option=Forgettable Tale

[garden]
layer=com_0
type=text
x=10
y=642
buttontype=normal
width=122
height=14
font=p12_full
shadowed=yes
text=Garden of Tranquillity
colour=0xFF0000
overcolour=0xFFFFFF
option=Garden of Tranquillity

[twocats]
layer=com_0
type=text
x=10
y=1377
buttontype=normal
width=96
height=14
font=p12_full
shadowed=yes
text=A Tail of Two Cats
colour=0xFF0000
overcolour=0xFFFFFF
option=A Tail of Two Cats

[wanted]
layer=com_0
type=text
x=10
y=1527
buttontype=normal
width=45
height=14
font=p12_full
shadowed=yes
text=Wanted!
colour=0xFF0000
overcolour=0xFFFFFF
option=Wanted!

[mourning2]
layer=com_0
type=text
x=10
y=1018
buttontype=normal
width=131
height=14
font=p12_full
shadowed=yes
text=Mourning's Ends Part 2
colour=0xFF0000
overcolour=0xFFFFFF
option=Mourning's Ends Part 2

[deal]
layer=com_0
type=text
x=10
y=1212
buttontype=normal
width=50
height=14
font=p12_full
shadowed=yes
text=Rum Deal
colour=0xFF0000
overcolour=0xFFFFFF
option=Rum Deal

[agrith]
layer=com_0
type=text
x=10
y=1272
buttontype=normal
width=116
height=14
font=p12_full
shadowed=yes
text=Shadow of the Storm
colour=0xFF0000
overcolour=0xFFFFFF
option=Shadow of the Storm

[makinghistory]
layer=com_0
type=text
x=10
y=928
buttontype=normal
width=83
height=14
font=p12_full
shadowed=yes
text=Making History
colour=0xFF0000
overcolour=0xFFFFFF
option=Making History

[ratcatch]
layer=com_0
type=text
x=10
y=1138
buttontype=normal
width=73
height=14
font=p12_full
shadowed=yes
text=Rat Catchers
colour=0xFF0000
overcolour=0xFFFFFF
option=Rat Catchers

[elid]
layer=com_0
type=text
x=10
y=1332
buttontype=normal
width=97
height=14
font=p12_full
shadowed=yes
text=Spirits of the Elid
colour=0xFF0000
overcolour=0xFFFFFF
option=Spirits of the Elid

[devious]
layer=com_0
type=text
x=10
y=431
buttontype=normal
width=81
height=14
font=p12_full
shadowed=yes
text=Devious Minds
colour=0xFF0000
overcolour=0xFFFFFF
option=Devious Minds

[handsand]
layer=com_0
type=text
x=10
y=733
buttontype=normal
width=116
height=14
font=p12_full
shadowed=yes
text=The Hand in the Sand
colour=0xFF0000
overcolour=0xFFFFFF
option=The Hand in the Sand

[enakh]
layer=com_0
type=text
x=10
y=521
buttontype=normal
width=100
height=14
font=p12_full
shadowed=yes
text=Enakhra's Lament
colour=0xFF0000
overcolour=0xFFFFFF
option=Enakhra's Lament

[fever]
layer=com_0
type=text
x=10
y=356
buttontype=normal
width=66
height=14
font=p12_full
shadowed=yes
text=Cabin Fever
colour=0xFF0000
overcolour=0xFFFFFF
option=Cabin Fever

[fairy_farmers]
layer=com_0
type=text
x=10
y=536
buttontype=normal
width=91
height=14
font=p12_full
shadowed=yes
text=A Fairy Tale Pt. 1
colour=0xFF0000
overcolour=0xFFFFFF
option=A Fairy Tale Pt. 1

[hundred_main]
layer=com_0
type=text
x=10
y=1153
buttontype=normal
width=109
height=14
font=p12_full
shadowed=yes
text=Recipe for Disaster
colour=0xFF0000
overcolour=0xFFFFFF
option=Recipe for Disaster

[myreque_2]
layer=com_0
type=text
x=10
y=838
buttontype=normal
width=121
height=14
font=p12_full
shadowed=yes
text=In Aid of the Myreque
colour=0xFF0000
overcolour=0xFFFFFF
option=In Aid of the Myreque

[soulbane]
layer=com_0
type=text
x=10
y=1317
buttontype=normal
width=77
height=14
font=p12_full
shadowed=yes
text=A Soul's Bane
colour=0xFF0000
overcolour=0xFFFFFF
option=A Soul's Bane

[rag]
layer=com_0
type=text
x=10
y=1123
buttontype=normal
width=102
height=14
font=p12_full
shadowed=yes
text=Rag and Bone Man
colour=0xFF0000
overcolour=0xFFFFFF
option=Rag and Bone Man

[swansong]
layer=com_0
type=text
x=10
y=1347
buttontype=normal
width=59
height=14
font=p12_full
shadowed=yes
text=Swan Song
colour=0xFF0000
overcolour=0xFFFFFF
option=Swan Song

[com_1]
type=text
x=41
y=4
width=93
height=14
font=b12_full
shadowed=yes
text=Quest Journal
colour=0xFFFF00

[com_2]
type=graphic
x=-12
y=194
width=36
height=36
graphic=miscgraphics,2

[com_3]
type=graphic
x=150
y=194
width=36
height=36
graphic=steelborder2,1

[com_4]
type=graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[com_5]
type=graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[com_6]
type=graphic
x=3
y=219
width=25
height=30
graphic=steelborder,2

[com_7]
type=graphic
x=146
y=219
width=25
height=30
graphic=steelborder,3

[com_8]
type=graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[com_9]
type=graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[com_10]
type=graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[com_11]
type=graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[com_12]
type=graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[com_13]
type=graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[com_14]
type=graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[com_15]
type=graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[com_16]
type=graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[com_17]
type=graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[com_18]
type=graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[com_19]
type=graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[com_20]
type=graphic
x=28
y=228
width=36
height=36
graphic=miscgraphics,3

[com_21]
type=graphic
x=64
y=228
width=36
height=36
graphic=miscgraphics,3

[com_22]
type=graphic
x=98
y=228
width=36
height=36
graphic=miscgraphics,3

[com_23]
type=graphic
x=124
y=228
width=36
height=36
graphic=miscgraphics,3
