[com_0]
type=graphic
x=90
y=61
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=91
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=89
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=87
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=90
y=213
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=63
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=64
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=102
y=216
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=276
y=60
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=188
y=213
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=326
y=82
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=213
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=326
y=142
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=325
y=62
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=325
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=325
y=214
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=85
y=58
width=25
height=30
graphic=steelborder,0

[com_26]
type=graphic
x=70
y=88
width=36
height=36
graphic=miscgraphics,2

[com_27]
type=graphic
x=70
y=124
width=36
height=36
graphic=miscgraphics,2

[com_28]
type=graphic
x=70
y=160
width=36
height=36
graphic=miscgraphics,2

[com_29]
type=graphic
x=70
y=196
width=36
height=36
graphic=miscgraphics,2

[com_30]
type=graphic
x=70
y=224
width=36
height=36
graphic=miscgraphics,2

[com_31]
type=graphic
x=394
y=84
width=36
height=36
graphic=steelborder2,1

[com_32]
type=graphic
x=394
y=106
width=36
height=36
graphic=steelborder2,1

[com_33]
type=graphic
x=394
y=140
width=36
height=36
graphic=steelborder2,1

[com_34]
type=graphic
x=394
y=176
width=36
height=36
graphic=steelborder2,1

[com_35]
type=graphic
x=394
y=212
width=36
height=36
graphic=steelborder2,1

[com_36]
type=graphic
x=110
y=257
width=36
height=36
graphic=miscgraphics,3

[com_37]
type=graphic
x=146
y=257
width=36
height=36
graphic=miscgraphics,3

[com_38]
type=graphic
x=182
y=257
width=36
height=36
graphic=miscgraphics,3

[com_39]
type=graphic
x=218
y=257
width=36
height=36
graphic=miscgraphics,3

[com_40]
type=graphic
x=254
y=257
width=36
height=36
graphic=miscgraphics,3

[com_41]
type=graphic
x=290
y=257
width=36
height=36
graphic=miscgraphics,3

[com_42]
type=graphic
x=326
y=257
width=36
height=36
graphic=miscgraphics,3

[com_43]
type=graphic
x=362
y=257
width=36
height=36
graphic=miscgraphics,3

[com_44]
type=graphic
x=218
y=43
width=36
height=36
graphic=steelborder2,0

[com_45]
type=graphic
x=254
y=43
width=36
height=36
graphic=steelborder2,0

[com_46]
type=graphic
x=289
y=43
width=36
height=36
graphic=steelborder2,0

[com_47]
type=graphic
x=325
y=43
width=36
height=36
graphic=steelborder2,0

[com_48]
type=graphic
x=357
y=43
width=36
height=36
graphic=steelborder2,0

[com_49]
type=graphic
x=264
y=69
width=36
height=36
graphic=steelborder2,0

[com_50]
type=graphic
x=182
y=43
width=36
height=36
graphic=steelborder2,0

[com_51]
type=graphic
x=85
y=248
width=25
height=30
graphic=steelborder,2

[com_52]
type=graphic
x=390
y=58
width=25
height=30
graphic=steelborder,1

[com_53]
type=graphic
x=390
y=248
width=25
height=30
graphic=steelborder,3

[com_54]
type=graphic
x=300
y=69
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=336
y=69
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=372
y=69
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=377
y=69
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=228
y=69
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=192
y=69
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=156
y=69
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=89
y=69
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=123
y=69
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=110
y=43
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=146
y=43
width=36
height=36
graphic=steelborder2,0

[com_65]
type=layer
x=320
y=220
width=78
height=42

[select]
layer=com_65
type=rect
x=6
y=6
buttontype=normal
width=66
height=31
fill=yes
option=Challenge player

[com_68]
layer=com_65
type=text
x=21
y=14
width=35
height=14
font=p12_full
shadowed=yes
text=Select
colour=0x008000
overcolour=0x00FF00

[com_69]
layer=com_65
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_70]
layer=com_65
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_71]
layer=com_65
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_72]
layer=com_65
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_73]
layer=com_65
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[com_74]
layer=com_65
type=graphic
x=21
y=22
width=36
height=36
graphic=miscgraphics,3

[com_66]
type=text
x=97
y=65
width=130
height=14
font=p12_full
shadowed=yes
text=Challenge: Select Game
colour=0xFFAA44

[com_75]
type=text
x=338
y=66
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_76]
type=layer
x=115
y=121
width=277
height=137

[draughts_radio]
layer=com_76
type=graphic
x=8
y=28
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,0
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[runelink_radio]
layer=com_76
type=graphic
x=8
y=58
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[draughts_text]
layer=com_76
type=text
x=30
y=28
buttontype=normal
width=52
height=14
font=p12_full
shadowed=yes
text=Draughts
colour=0xFFAA44
option=Select game

[runelink_text]
layer=com_76
type=text
x=30
y=58
buttontype=normal
width=47
height=14
font=p12_full
shadowed=yes
text=Runelink
colour=0xFFAA44
option=Select game

[draughts_rank]
layer=com_76
type=text
x=112
y=28
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA

[runelink_rank]
layer=com_76
type=text
x=112
y=58
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA

[com_83]
layer=com_76
type=text
x=30
y=3
width=34
height=14
font=p12_full
shadowed=yes
text=Game:
colour=0xFFAA44

[com_84]
layer=com_76
type=text
x=112
y=3
width=155
height=14
font=p12_full
shadowed=yes
text=Ranks (mine vs opponents):
colour=0xFFAA44

[runesquares_radio]
layer=com_76
type=graphic
x=8
y=88
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,2
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[runesquares_text]
layer=com_76
type=text
x=30
y=88
buttontype=normal
width=75
height=14
font=p12_full
shadowed=yes
text=Runesquares
colour=0xFFAA44
option=Select game

[runesquares_rank]
layer=com_76
type=text
x=112
y=88
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA

[runeversi_radio]
layer=com_76
type=graphic
x=8
y=118
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,3
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[runeversi_text]
layer=com_76
type=text
x=30
y=118
buttontype=normal
width=57
height=14
font=p12_full
shadowed=yes
text=Runeversi
colour=0xFFAA44
option=Select game

[runeversi_rank]
layer=com_76
type=text
x=112
y=118
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA
