[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[obj1]
type=model
x=92
y=13
width=64
height=96
zoom=400

[obj2]
type=model
x=323
y=13
width=64
height=96
zoom=400

[objtext1]
type=text
x=74
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000

[objtext2]
type=text
x=305
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000

[title]
type=text
x=8
y=3
width=464
height=17
center=yes
font=q8_full
text=Select an Option
colour=0x800000
