[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[com_2]
type=model
x=14
y=13
width=64
height=96
zoom=400

[com_3]
type=model
x=111
y=13
width=64
height=96
zoom=400

[com_4]
type=model
x=208
y=13
width=64
height=96
zoom=400

[com_5]
type=model
x=305
y=13
width=64
height=96
zoom=400

[com_6]
type=model
x=402
y=13
width=64
height=96
zoom=400

[com_7]
type=text
x=1
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_8]
type=text
x=1
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_9]
type=text
x=1
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_10]
type=text
x=1
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_11]
type=text
x=98
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_12]
type=text
x=98
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_13]
type=text
x=98
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_14]
type=text
x=98
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_15]
type=text
x=195
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_16]
type=text
x=195
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_17]
type=text
x=195
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_18]
type=text
x=195
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_19]
type=text
x=292
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_20]
type=text
x=292
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_21]
type=text
x=292
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_22]
type=text
x=292
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_23]
type=text
x=389
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make X

[com_24]
type=text
x=389
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_25]
type=text
x=389
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_26]
type=text
x=389
y=16
buttontype=normal
width=90
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_27]
type=text
x=8
y=3
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0x800000
