[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[com_2]
type=model
x=28
y=13
width=64
height=96
zoom=400

[com_3]
type=model
x=148
y=13
width=64
height=96
zoom=400

[com_4]
type=model
x=268
y=13
width=64
height=96
zoom=400

[com_5]
type=model
x=388
y=13
width=64
height=96
zoom=400

[com_6]
type=text
x=10
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_7]
type=text
x=10
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_8]
type=text
x=10
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_9]
type=text
x=10
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_10]
type=text
x=130
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_11]
type=text
x=130
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_12]
type=text
x=130
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_13]
type=text
x=130
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_14]
type=text
x=250
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_15]
type=text
x=250
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_16]
type=text
x=250
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_17]
type=text
x=250
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_18]
type=text
x=370
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make X

[com_19]
type=text
x=370
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 10

[com_20]
type=text
x=370
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
overcolour=0x00C000
option=Make 5

[com_21]
type=text
x=370
y=16
buttontype=normal
width=100
height=93
center=yes
font=q8_full
overcolour=0x00C000
option=Make 1

[com_22]
type=text
x=8
y=3
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0x800000
